[2022-03-09 22:49] staceyrebekahscott opened #475 "BallotNav Project Presentation: Board of Advisors"
### Overview
Create a presentation that includes the following:

- MVP for 2022
- One Sheet
- What are our challenges currently?
- What have we learned over 2 years of this project?
- Why is Hack for LA the group to buid BallotNav, and why should candidates want to be on our advisory board?
- What are you doing that is different from other ballot drop off location tools?

### Action Items

### Res

[2022-03-09 23:31] staceyrebekahscott commented on #470
I have been communicating with 2 UX researchers via Slack, evaluating their experience and availability. One is very new to UX research but doing self study and has completed a Google UX design certificate. I am still gathering info on the other, and if they are a bit more experienced, I may advise to the PM team that they be on boarded to our project.

[2022-03-10 00:11] staceyrebekahscott commented on #463
Added research label, as this may be an appropriate task for a beginner researcher.

[2022-03-10 00:24] staceyrebekahscott opened #476 "Potential Candidates: Board of Advisors"
### Overview
Create spreadsheet for potential candidates and their motivations:

- Name
- LinkedIn
- Contact Details
- Role/Title
- Area of Expertise
- Why do we need their advice?
- Why would they want to be on our board?

### Action Items

### Resources/Instructions
All team members should add to this list, based on either people they know or have worked with before, or people they think would b

[2022-03-10 00:49] staceyrebekahscott opened #477 "Voting Tools Analysis: Board of Advisors"
### Overview
Evaluate existing tools that are similar to BallotNav and develop a competitive analysis to include:

- What ballot location tools already exist?
- Why is BallotNav different/ better?

We must also look into whether there are other organizations working on something similar to BallotNav?

### Action Items

### Resources/Instructions
UX Researcher to develop a process for collecting th

[2022-03-10 01:28] staceyrebekahscott commented on #468
@layneam Did we discuss at the PM meeting that there is going to be an on boarding template for each role? If so, can on boarding for a UX team member be a priority, as I have a few candidates that may be joining the team?

[2022-03-10 18:59] layneam commented on #468
Sure thing, I should have some time today for this.

On Thu, 10 Mar 2022, 11:28 am Stacey Rebekah Scott, <
***@***.***> wrote:

[2022-03-10 22:48] kcoronel opened #478 "Competitive Analysis for BallotNav"
### Overview
As part of our efforts to make BallotNav a competitive product, we need to analyze the existing market's products as well as the features that make them unique.

### Action Items
- [x] Review other HackforLA projects for the best competitive analysis format to use and add links to this issue
- [x] Bring established format to the team
- [x] Outline the process and place in this issue
-

[2022-03-11 02:20] ExperimentsInHonesty commented on #468
#### Onboard
- [ ] Slack channel membership
  - [ ] [insert name of channel]
  - [ ] [insert name of 2nd channel]
- [ ] Add to Google calendar invites
   - [ ] [DAY - PM meeting]
   - [ ] [DAY - BA meeting]
   - [ ] [DAY - UX Research meeting]
   - [ ] [DAY - All-team meeting]
   - [ ] [DAY - Design team meeting]
- [ ] Add to team page on Wiki
- [ ] Google Drive
   - [ ] Add to drive as Manager
-

[2022-03-11 06:09] staceyrebekahscott commented on #470
Followed up via Slack with PM team to see if I can move forward with on boarding Carrie Geng to our team, she attended HfLA on boarding last Monday.
Zuri Smith- has general research experience, looking to move into UX research specifically. They will attend the HfLA on boarding this Tuesday and let me know if they still want to join the project.

[2022-03-11 09:56] layneam opened #479 "Onboard & Offboard: UX Research"
### Overview
We need to have a checklist of items to do when a UX researcher onboard and offboards so that the process can be consistent and fast.

### Date Updated
Created date: 2022-03-11

### Action Items
- [ ] Check to see if the org template for this process has new steps in it, and if it does, update this  issue and its template with content and add the last date you updated the template bel

[2022-03-12 06:27] staceyrebekahscott commented on #462
Bonnie and Jyoti spoke on 03/11 and Bonnie recorded the call, see link below.

[2022-03-14 22:58] ExperimentsInHonesty commented on #462
@staceyrebekahscott can you add a link to a folder on the drive where you want this interview to go?  If you add that link here, I will add it.

[2022-03-14 23:54] staceyrebekahscott opened #480 "User Testing and Research"
### Overview
Set up a pool of users of people we know as a sample group.  The goal is to understand the pain points users experience when using the current version of BallotNav. It is critical we understand every step of the process users are going through, and everything they consider when they are evaluating whether a voting tool is worth using again.
### Action Items

- [ ] Set up spreadsheet w

[2022-03-14 23:58] staceyrebekahscott commented on #480
Closing issue https://github.com/hackforla/ballotnav/issues/390 as it appears no details were added (opened 03/23/21)

[2022-03-15 00:00] staceyrebekahscott commented on #390
Opened https://github.com/hackforla/ballotnav/issues/480 to replace this issue.

[2022-03-15 00:00] #390 closed

[2022-03-15 00:35] staceyrebekahscott commented on #447
@yoursgayathri Adding Gayathri to this issue. There needs to be a deeper understanding of where the backend is in order to further develop the MVP. I'd like to collaborate on this as this also connects with https://github.com/hackforla/ballotnav/issues/480, to be conducted by the UX team.

[2022-03-15 00:56] staceyrebekahscott opened #481 "Voting Organization Research: Potential Partnership Organizations"
### Overview
Develop a methodology on how to understand the purpose of voting advocacy organizations. These organizations may serve as partners for us if/when we are ready to market BallotNav.

Questions to start with:
- What their goals as an organization are
- What actions do they take to engage voters
- What pain points do they identify as barriers to voting

### Action Items

- Decide what is

[2022-03-15 01:04] kcoronel commented on #461
## 3/14/21 Agenda and notes

### Prework

### Roll Call
Stacey
Gayathri
Karen

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Gayathri](https://github.com/hackforla/ballotnav/issues?q=assignee%3Ayoursgayathri+is%3Aopen)
       - [ ] [Stacey](https://github.com/hackforla/ballotnav/issues?q=assign

[2022-03-15 01:04] staceyrebekahscott commented on #449
Analysis done in issue https://github.com/hackforla/ballotnav/issues/481 can contribute to this.

[2022-03-15 01:22] kcoronel commented on #451
@yoursgayathri @layneam please add any edits/suggestions/etc. we can chat about it next week.

[2022-03-15 02:17] staceyrebekahscott commented on #470
Discussed adding Carrie to the project with Karen and Gayathri at PM meeting. Sent Carrie link to the Welcome wiki and officially invited her to the project. She should be attending our team meeting tomorrow evening (03/15/22).

[2022-03-16 00:11] staceyrebekahscott commented on #456
@yoursgayathri @kcoronel The Team Roster should be reorganized, as it looks confusing for new people to add their info. The active users are at the top, then there is a long list of inactive users. It is unclear what a new member should do. Maybe the Inactive should be on a separate sheet? Was there a reason it was organized in this way? (I add this comment in this issue as the Wiki is our intro t

[2022-03-16 00:46] kcoronel commented on #441
## 3/15/22 Agenda  and notes

### Prework

### Roll Call
- Karen
- Jon
- Layne
- Stacey
- Gayathri
- Drew
- Federica
- Seyoung
- Irina

#### Recurring items: Happens on the Tuesday meeting
 - [ ] Accountability and Support Check.
- [ ] [Irina](https://github.com/hackforla/ballotnav/issues?q=assignee%3AIrinaRost+is%3Aopen)
- [ ] [Jon](https://github.com/hackforla/ballotnav/issues?q=is%3Aissue+is%3A

[2022-03-16 03:47] staceyrebekahscott commented on #470
03/15/22:
Carrie joined team meeting and UX breakout session today. Will work on getting her fully on boarded this week, and to start being assigned tasks starting next team meeting. Will be adding her to issues as discussed at UX meeting.

Zuri completed HfLA on boarding tonight, advised that they would like to join the team. Will check in with PM team to get approval to officially invite to team

[2022-03-16 03:49] staceyrebekahscott commented on #470
@kcoronel Is there a process we need to follow to remove job description from Open Roles page? We don't need any more UX researchers at this time so I'd like to remove the description.

[2022-03-16 03:56] staceyrebekahscott commented on #462
03/15/22: Conducted break out meeting with UX team after team meeting, reviewed all issues opened regarding Board of Advisors. Going to start with Issues #471 and #480. Team will review issues and add feedback, questions and notes to be discussed at the next UX meeting scheduled for this Monday, 03/21/22. Tasks will be assigned to team members at that time.

This week we will also review all curre

[2022-03-16 04:01] staceyrebekahscott commented on #471
@IrinaRost @fedelandini @jonlam27 @seyounglee2001 You all have been assigned this ticket. Please review, add questions/feedback. We will be discussing and assigning tasks from this issue at the UX meeting on 03/21/22.

[2022-03-16 04:04] staceyrebekahscott commented on #480
@IrinaRost @fedelandini @jonlam27 @seyounglee2001 You all have been assigned this ticket. Please review, add questions/feedback. We will be discussing and assigning tasks from this issue at the UX meeting on 03/21/22.

[2022-03-16 04:08] staceyrebekahscott commented on #435
@IrinaRost @fedelandini Please add update on the current status of this issue. Is it near completion? If not, given our current scope and priority of research for the Board of Advisors, we should consider moving this to the prioritized backlog for now. But if it can be completed within 1-2 weeks, we should work to get it done and closed out.

[2022-03-16 04:14] staceyrebekahscott commented on #442
03/15/22: Discussed at UX meeting that the personas developed here could be connected to personas that need to be developed for issue #471. These personas may also be affected based on results of issue #480. Issue should remain open and active for now, based on its relation to these 2 issues.

[2022-03-16 04:22] staceyrebekahscott commented on #474
Moving to prioritized backlog, as this will be worked on closer towards the end of the Board of Advisors research.

[2022-03-16 04:24] staceyrebekahscott commented on #473
Might be a good issue for Carrie or Zuri, but does not need to be worked on urgently. Moved to prioritized backlog.

[2022-03-16 04:27] staceyrebekahscott commented on #472
Issue #473 is related to this. Should be assigned and worked on in tandem. Moving to prioritized backlog.

[2022-03-16 04:29] staceyrebekahscott commented on #476
Should be worked on after issue #471 is completed. Moving to prioritized backlog.

[2022-03-16 04:33] staceyrebekahscott commented on #475
This is related to issue #408, may be able to consolidate issues. Moving to prioritized backlog.

[2022-03-16 04:35] staceyrebekahscott commented on #408
@layneam @kcoronel Taking the liberty of moving this issue to the In Progress column. Noting that this is related to issue #475 and may be combined at some point in future.

[2022-03-16 04:38] staceyrebekahscott commented on #455
Taking the liberty to move this to Done column. Creating issue to address issue workflow.

[2022-03-16 04:42] staceyrebekahscott commented on #446
Moving to prioritized backlog as no one is currently assigned, and other issues need to be completed before roadmap can be updated.

[2022-03-16 05:00] staceyrebekahscott commented on #445
@seyounglee2001 Took the liberty of ticking off the first 2 Action Items, listed at the top.

@kcoronel @layneam @yoursgayathri I think we should make Action Item: "Decide if there are any design features we would like to mirror" into a separate issue for the backlog, so we can close the issue. If agreed, please advise so I can create the separate issue before closing and moving this issue to Done

[2022-03-16 05:02] staceyrebekahscott commented on #477
[State Websites- Design Ideas](https://docs.google.com/presentation/d/1msF56TGmXK8MkAc0_5Wk4dZRba6rsz3c0pSj7GxUEDI/edit#slide=id.p)
To be reviewed as a way to organize the voting tools for comparison.

[2022-03-16 05:04] staceyrebekahscott commented on #481
Moved to prioritized backlog. To be reviewed as part of issue #449

[2022-03-16 05:08] staceyrebekahscott commented on #479
@layneam Assigning to both of us and moving to In Progress. I want to get this finalized and assign to the 2 new UX researchers to test the process. I'll review and add my feedback shortly.

[2022-03-16 05:26] staceyrebekahscott commented on #470
Assigned issue #479 to myself and Layne, I'll add my notes shortly.

Sent screenshots of my chat with Zuri to PM team via Slack for approval on adding to the team.

[2022-03-16 21:38] kcoronel commented on #456
@staceyrebekahscott added columns to separate active and inactive users. How about stating this on the wiki page so folks know what to do

Ex: Please fill out the roster with your name in the empty cell and list yourself as Active.

[2022-03-18 00:38] ExperimentsInHonesty commented on #462
@staceyrebekahscott uploaded the video and the transcript

[2022-03-18 23:22] layneam commented on #408
- Presentation purpose = to introduce BallotNav to new project joiners & potential partners
- Explanation of the project first iteration (Covid affecting mail-in ballots)
- User personas
- Competitive landscape & how BallotNav is different
- Outline:

1. Historical project to date: Problem statement, personas, walkthrough of the product with screens, important decisions made, how the product worke

[2022-03-18 23:24] layneam commented on #469
Complete per convo with Karen

[2022-03-18 23:28] layneam commented on #468
@kcoronel Add 1Password Vault details please

[2022-03-18 23:30] layneam commented on #479
@jonlam27 @fedelandini Can one of you please update the template with the current details of the UX team meeting?

   - [ ] Tuesday 6PM PST - All-team meeting
   - [ ] [DAY- - UX Research meeting]

[2022-03-18 23:57] jonlam27 commented on #471
Hey team, figured I'd get going with a [miro board](https://miro.com/welcomeonboard/cEVnWWRZd1dadkFQSzJ0Zm01UTl5TVV4YmJERUVQYVgyMmc1YkVTc2ZNdU5qZ3N5UmlTYU5ZS3hoTGNsdXhVa3wzMDc0NDU3MzU2ODU0NTI3NzU0?invite_link_id=104712107845) so we can begin compiling data for each advisor. Thoughts on the format?

Also, as there are 5 of us in here (including Carrie) and 13 advisors, maybe we can each take 2-3? I

[2022-03-19 00:27] fedelandini commented on #479
@layneam could you link the document? thanks

[2022-03-20 00:35] yoursgayathri opened #482 "Backend Knowledge Transfer for Ballot Nav - Touch base with Drew"
### Overview
Meet with Drew to understand the current product and discuss the changes to be made to it in order to build our MVP.

### Action Items

- [ ] Get access to the admin I/f for @yoursgayathri @kcoronel @staceyrebekahscott @layneam
- [ ] Document for Data model/Architecture
- [ ] Another Meeting with Drew to further discuss the MVP

### Resources/Instructions

@yoursgayathri  had an initi

[2022-03-20 00:49] yoursgayathri commented on #482
@yoursgayathri  @layneam @kcoronel @staceyrebekahscott  will have a meeting with drew to discuss the following Agenda items.

- [ ] How much work would be involved to develop the data uploading interface?
- [ ] How much effort to redesign backend to accommodate multi- jurisdiction.
- [ ] How much work will it be to convert to a service model rather than open source model.
- [ ] What are the costs

[2022-03-20 01:06] yoursgayathri commented on #456
@kcoronel  made changes to separate active users and inactive users and updated wiki.

[2022-03-20 19:14] #436 closed

[2022-03-21 08:50] layneam commented on #408
Started a preso today in the PM folder of Google Drive, https://docs.google.com/presentation/d/16RGUkf9HvLXTtItgEYtvMRgcGOrFlKKEatRWlkc25O0/edit?usp=sharing

[2022-03-21 23:57] staceyrebekahscott commented on #470
Engaged with another UX researcher, Lihui Zhang. Asked that she be available for the team meeting tomorrow. Will discuss her and Zuri's addition at the PM meeting tonight, 03/21/22.

Removed Job posting from the UI-UX open roles board.

[2022-03-22 00:24] kcoronel commented on #461
## [Date] Agenda  and notes

### Prework
- [ ] issue for audit [to be added once there is an issue]

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/admin/issues/assigned/ExperimentsInHonesty)
       - [ ] [Karen](https://github.com/hackforla/ad

[2022-03-22 00:54] layneam commented on #478
@kcoronel : I started a document [here](https://docs.google.com/spreadsheets/d/16oLO--cEOMx75jg-zWfZTj1oRTailr6jFLrogH554pQ/edit?usp=sharing) with some notes on toolsets available from a couple orgs. I'll show that to the team in our regular meeting and see if I should press on with it.

[2022-03-22 18:44] ExperimentsInHonesty commented on #461
Please add to next agenda, doing a cleanup of old agenda issues
- https://github.com/hackforla/ballotnav/issues/437
- https://github.com/hackforla/ballotnav/issues/431

[2022-03-23 00:11] kcoronel commented on #441
## 3/22/22 Agenda  and notes

### Prework

### Roll Call
- Karen
- Jon
- Layne
- Stacey
- Drew
- Federica
- Carrie

#### Recurring items: Happens on the Tuesday meeting
 - [ ] Accountability and Support Check.
- [ ] [Irina](https://github.com/hackforla/ballotnav/issues?q=assignee%3AIrinaRost+is%3Aopen)
- [ ] [Jon](https://github.com/hackforla/ballotnav/issues?q=is%3Aissue+is%3Aopen+jonlam27)
- [ ]

[2022-03-23 02:42] staceyrebekahscott commented on #470
Both Zuri and Lihui joined the team meeting today, and I had a separate meeting with them to brief on the new direction of the project. They are both added to the roster and we will proceed with getting them access to the rest of the project.

[2022-03-23 02:42] #470 closed

[2022-03-23 02:51] staceyrebekahscott commented on #471
As per the new direction of the project, I am moving this to the backlog.

[2022-03-23 02:53] staceyrebekahscott commented on #480
As per the new direction of the project, I am moving this to the backlog and removing assignees.

[2022-03-23 03:03] staceyrebekahscott commented on #462
Briefly reviewed transcript, will need to clean up as it is a bit difficult to read in its current format.

Given the new direction of the BallotNav project, all other issues related to the Board of Advisors has been moved to the backlog, and assignees removed.

We should work on a follow up with Bonnie to brief her on where the current status of this is, can probably be an email to start and a me

[2022-03-23 03:08] staceyrebekahscott commented on #481
This issue will be the basis of the new project we will develop in order to determine the future of BallotNav.

Next steps are to organize a place in the Google Drive where we can start brainstorming on what this new project will look like.

- [ ] Create Folder in Google Drive for new project (name TBD)
- [ ] Start document for brainstorming ideas for next steps (organizations to research, researc

[2022-03-25 00:26] staceyrebekahscott commented on #479
Discussed with Karen the logic behind keeping the on boarding process within the same issue (copying tasks from the overview section and creating as a new comment for each person).

I thought it would be cleaner and easier to understand if it was created in the same way as the UX Experience Profile in the CoP. It would also be easier to search for the issue if looking for a particular person and w

[2022-03-26 17:21] #380 closed

[2022-03-29 00:20] kcoronel commented on #461
## 3/28 Agenda  and notes

### Prework
- Kanban methodologies

### Roll Call
Stacey
Layne
Gayathri
Karen

#### Recurring items: Happens on the PM Monday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
        - [ ] [Gayathri](https://github.com/hackforla/ballotnav/issues?q=assignee%3Ayoursgayathri+is%3Aopen)
       - [ ] [Stacey](https://github.com/hackfor

[2022-03-29 00:30] layneam commented on #408
Have updated this slide from the competitive analysis: https://docs.google.com/presentation/d/16RGUkf9HvLXTtItgEYtvMRgcGOrFlKKEatRWlkc25O0/edit#slide=id.g11a74331d08_0_430
Could use some clarification on some of the items in the competitive analysis (blank cells) + demo/explainer from Drew re: some BallotNav features that might not appear in the NJ demo on the website, e.g. felony restrictions, ba

[2022-03-29 01:09] kcoronel commented on #482
@layneam @kcoronel to review to make sure everything was captured

[2022-03-29 01:09] kcoronel commented on #468
@kcoronel follow-up on above request

[2022-03-29 03:03] staceyrebekahscott commented on #454
This issue has expanded into this full project. We are starting with validating the idea of BallotNav itself in its current iteration, and will be organizations, rather than users, at this time to determine whether BallotNav is a viable solution to voting issues.

[2022-03-29 03:03] #454 closed

[2022-03-29 03:17] staceyrebekahscott commented on #449
We will be reaching out to voting rights organizations during the market fit research. Depending on the results of this research, partnership with these organizations would continue with either the new version of BallotNav or the new product.

[2022-03-29 03:17] #449 closed

[2022-03-29 03:27] staceyrebekahscott opened #483 "Project Documents for Market Fit Research"
### Overview
Develop a project charter, SMART Goals, Scope and Timeline for market fit research project.

### Action Items
- [x] Create Project Documents board in Miro
- [x] Review with team

Project Charter Outline:
- Purpose
- Scope
- Success Criteria (SMART Goals)
- Team
- Stakeholders
- Users
- Resources
- Constraints
- Risks
- Timeline

Miro Board
- [x] Guide for project charter (Search in th

[2022-03-30 00:40] kcoronel commented on #441
## 3/29/22 Agenda  and notes

### Prework

### Roll Call
- Karen
- Jon
- Layne
- Stacey
- Drew
- Federica
- Carrie
- Lihui

#### Recurring items: Happens on the Tuesday meeting
 - [ ] Accountability and Support Check.
- [ ] [Irina](https://github.com/hackforla/ballotnav/issues?q=assignee%3AIrinaRost+is%3Aopen)
- [ ] [Jon](https://github.com/hackforla/ballotnav/issues?q=is%3Aissue+is%3Aopen+jonlam2

[2022-04-02 00:16] kcoronel opened #484 "Cleaning Kanban Board"
### Overview
Instead of keeping issues that relate to a v1 of the project that at this moment (April 1, 2022) we will not be pursuing.

### Action Items
- [x] Transfer all of the tickets in the ice box related to updates to v1 of the project
- [x] Add the following comment to issue and close - _Issue relates to v1 of the project. Currently not pursuing this format of the product._

### Resources/I

[2022-04-02 00:17] kcoronel commented on #484
@layneam here's the issue, I plan to work on this between sunday and monday :)

[2022-04-04 22:19] staceyrebekahscott opened #485 "UX Meeting/Update and Summary"
### Overview
Gather all items team members want to propose for this weeks' agenda.

### Action Items
Add comment to this issue with your proposed agenda item. if item warrants an issue of its own please start a new issue, by going to the issues tab above and clicking on the New Issues green button.

[2022-04-04 22:55] staceyrebekahscott commented on #461
## [04/04/22] Agenda  and notes

Accountability and Support Check.
Update on current progress for each PM

Stacey:

Created project for Market Fit Research. I am adding new issues and working on a project charter/plan.

As per our UX meeting on Tuesday, the UX team have been adding to a doc in Drive called "Market Fit Research brainstorming". The goal for this week was to continue adding to this d

[2022-04-04 23:05] staceyrebekahscott commented on #485
Notes from meeting on 03/29/22:

- Market Fit Research project is set up, and issues have been moved from Ballot Nav 2.0 to Market Fit Research project.
- Folder in Drive has been set up
- Doc for Market Fit brainstorm was started. Team added items related to goals of the research, research techniques, direct competitor analysis.

Lihui and Carrie will work together on an issue gathering academic

[2022-04-04 23:13] layneam commented on #300
Issue relates to v1 of the project. Currently not pursuing this format of the product.

https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/

[2022-04-04 23:15] layneam commented on #335
Issue relates to v1 of the project. Currently not pursuing this format of the product.

https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/

[2022-04-04 23:18] layneam commented on #347
Issue relates to v1 of the project. Currently not pursuing this format of the product.

https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/

[2022-04-04 23:19] layneam commented on #350
Issue relates to v1 of the project. Currently not pursuing this format of the product.

https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/

[2022-04-04 23:20] layneam commented on #349
Issue relates to v1 of the project. Currently not pursuing this format of the product.

https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/

[2022-04-04 23:21] layneam commented on #348
Issue relates to v1 of the project. Currently not pursuing this format of the product.

https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/

[2022-04-04 23:22] layneam commented on #346
Issue relates to v1 of the project. Currently not pursuing this format of the product.

https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/

[2022-04-04 23:23] layneam commented on #345
Issue relates to v1 of the project. Currently not pursuing this format of the product.

https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/

[2022-04-04 23:23] staceyrebekahscott opened #486 "Academic Literature Published Work: Current state of voting via ballot drop off"
### Overview
A collection of relevant voting published work relating to voting via ballot drop off boxes. This issue is to serve as a hub of articles related to the topic, and an analysis and conclusion statement will be drafted based on the findings.

The team will decide when enough work has been collected to develop a conclusion.

Google Doc: [Academic Literature Published Work](https://docs.go

[2022-04-04 23:23] layneam commented on #294
Issue relates to v1 of the project. Currently not pursuing this format of the product.

https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/

[2022-04-04 23:24] layneam commented on #334
Issue relates to v1 of the project. Currently not pursuing this format of the product.

https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/

[2022-04-04 23:25] layneam commented on #332
Issue relates to v1 of the project. Currently not pursuing this format of the product.

https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/

[2022-04-04 23:26] layneam commented on #327
Issue relates to v1 of the project. Currently not pursuing this format of the product.

https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/

[2022-04-04 23:28] layneam commented on #293
Issue relates to v1 of the project. Currently not pursuing this format of the product.

https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/

[2022-04-04 23:29] layneam commented on #292
Issue relates to v1 of the project. Currently not pursuing this format of the product.

https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/

[2022-04-04 23:30] layneam commented on #457
Issue relates to v1 of the project. Currently not pursuing this format of the product.

https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/

[2022-04-05 00:10] staceyrebekahscott commented on #486
Comment by Carrie from Slack BallotNav-Design channel:
"I also looked a little bit into the future of ballot drop off box use. I think, since we are doing this foundational stage of research to gauge whether there will still be a need for the product, an important area to understand would be if ballot drop off boxes will still be widely used post-pandemic, which states have drop off boxes/are maki

[2022-04-05 00:39] staceyrebekahscott commented on #486
@Lihuizhang53 @kaerii Please feel free to reorganize the Google doc for this issue as you see fit. We should establish a format for how the research is presented. It appears as though the format established in the doc is:

- Outline of article
- Citations

I think links to the articles should also be added. Should we continue in this format or do you have any other ideas?

[2022-04-05 00:42] staceyrebekahscott commented on #486
Message to Carrie and Lihui re: this issue was posted in the Slack BallotNav-Design channel.

[2022-04-05 00:42] staceyrebekahscott commented on #485
Message re: this issue was posted to the Slack BallotNav-Design channel.

[2022-04-05 00:45] staceyrebekahscott commented on #483
Notes from brainstorming Google doc:

Communication Plan ideas (as part of the project plan):

- Process for creating, updating and closing out issues
- How do we collaborate and share feedback
- Expectations of progress, ex: what work can be done in a given time, availability to do the work, coordination of schedule, what can we commit to the project and each other
- Meetings- how should they be

[2022-04-05 01:51] staceyrebekahscott commented on #486
@kcoronel @layneam @yoursgayathri I'd like your help with finding any existing guides within HfLA that pertain to organizing and presenting findings from academic research articles. Or if you have any experience or references that you have used in other contexts, either from conducting research, or a presentation that you found particularly helpful.

[2022-04-05 02:15] kaerii commented on #486
It would be great to figure out a better way to organize the research. If there's any existing templates, that would be great, or Lihui and I could connect to figure something out. One problem with including links is that a lot of academic articles are behind paywalls and the links aren't very useful. I could download the articles and put them in another Google drive folder though.

[2022-04-05 02:33] staceyrebekahscott commented on #486
@kaerii I created a sub folder within the Market Fit Research folder for downloaded articles: [Academic Literature Published Work Folder](https://drive.google.com/drive/folders/1ZgJGD5T4yxiewJOO3o5-oYkOS9UBwXAF). I moved the existing doc (with the same title) into the folder.

This was a good suggestion, Thank You.

[2022-04-05 02:41] staceyrebekahscott commented on #481
There are 2 items that pertain to Potential Partners:

Google Doc (created from recent brainstorming doc): [Potential partnership organizations](https://docs.google.com/document/d/1rEvB2_KXIja_oWBVZhXA9Nt0oI3hmn9DvfQNU0VffKA/edit)
Google Spreadsheet (originally created in 02/2021 and last updated 04/2021): [Ballot Nav Potential Partners](https://docs.google.com/spreadsheets/d/1G42xVXKWNxcy2oOi2uBC

[2022-04-05 04:34] staceyrebekahscott opened #487 "Competitive Analysis: Direct and Indirect Competitors"
### Overview
A list of competitors that have a website or app that functions in a similar way to BallotNav.

### Resources/Instructions
Google Folder: [Competitive Analysis](https://drive.google.com/drive/folders/1yRPgBBBaDDTRdo7vhqDfmjxQ_dHnzaqP)

- [x] Figure out how to organize the data, combining old and new research.

[2022-04-05 04:45] staceyrebekahscott opened #488 "Research Methodologies"
### Overview
Establish which research methodologies we should use to conduct and organize our research.

### Resources/Instructions

- Will need to search HfLA [Guides Tracker](https://github.com/orgs/hackforla/projects/3) for any existing guides on research methodologies.
- If any guide is not actively being worked on, we should check with the guides team and see if we can work on it or improve u

[2022-04-05 05:01] staceyrebekahscott commented on #485
04/04/22:
- Created issue #485 (this issue) for meeting updates and summaries
- Created issue #486 , assigned to Carrie and Lihui
- Updated issue #481 , needs to be assigned
- Created issue #487 , needs to be assigned
- Created issue #488 , needs to be assigned
- Moved relevant files from other folders in BallotNav Drive to [Market Fit Research folder](https://drive.google.com/drive/folders/1UOe4s

[2022-04-05 19:32] staceyrebekahscott commented on #487
@zuriisawesome Thanks for taking this issue. I'd like to know what thoughts you have on how to best organize the data. If you could have a few suggestions by tonight's team meeting that would be great.

[2022-04-05 21:16] kcoronel commented on #269
Issue relates to v1 of the project. Currently not pursuing this format of the product. You can find a link to all the issues that have this designation, [here](https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/edit#gid=0).

[2022-04-05 21:26] kcoronel commented on #268
Issue relates to v1 of the project. Currently not pursuing this format of the product. You can find a link to all the issues that have this designation, [here](https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/edit#gid=0).

[2022-04-05 21:28] kcoronel commented on #272
Issue relates to v1 of the project. Currently not pursuing this format of the product. You can find a link to all the issues that have this designation, [here](https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/edit#gid=0).

[2022-04-05 21:46] staceyrebekahscott commented on #456
@yoursgayathri Not sure if you'd be interested in this, but there is an open issue in the Guides Tracker for creating a Wiki: [Create a Guide: Create a wiki for your project #36](https://github.com/hackforla/admin/issues/36). Since you updated ours you may want to reach out to the Guides team as they may value your thoughts on the guide creation.

[2022-04-05 22:19] kcoronel commented on #342
Issue relates to v1 of the project. Currently not pursuing this format of the product. You can find a link to all the issues that have this designation, [here](https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/edit#gid=0).

[2022-04-05 22:23] staceyrebekahscott commented on #483
HfLA Guides related to PM or project planning:

[Prioritizing features for your project # 155](https://github.com/hackforla/product-management/issues/155)
[How to assign and work on an issue  # 227](https://github.com/hackforla/product-management/issues/227)
[PM Terminology # 314](https://github.com/hackforla/product-management/issues/314)
[Story points for your project # 18](https://github.com/ha

[2022-04-05 22:30] kcoronel commented on #336
Issue relates to v1 of the project. Currently not pursuing this format of the product. You can find a link to all the issues that have this designation, [here](https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/edit#gid=0).

[2022-04-05 22:32] kcoronel commented on #281
Issue relates to v1 of the project. Currently not pursuing this format of the product. You can find a link to all the issues that have this designation, [here](https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/edit#gid=0).

[2022-04-05 22:34] kcoronel commented on #278
Issue relates to v1 of the project. Currently not pursuing this format of the product. You can find a link to all the issues that have this designation, [here](https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/edit#gid=0).

[2022-04-05 22:36] kcoronel commented on #277
Issue relates to v1 of the project. Currently not pursuing this format of the product. You can find a link to all the issues that have this designation, [here](https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/edit#gid=0).

[2022-04-05 22:38] kcoronel commented on #395
Issue relates to v1 of the project. Currently not pursuing this format of the product. You can find a link to all the issues that have this designation, [here](https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/edit#gid=0).

[2022-04-05 22:39] kcoronel commented on #406
Issue relates to v1 of the project. Currently not pursuing this format of the product. You can find a link to all the issues that have this designation, [here](https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/edit#gid=0).

[2022-04-05 22:41] kcoronel commented on #458
Issue relates to v1 of the project. Currently not pursuing this format of the product. You can find a link to all the issues that have this designation, [here](https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/edit#gid=0).

[2022-04-05 22:43] kcoronel commented on #459
Issue relates to v1 of the project. Currently not pursuing this format of the product. You can find a link to all the issues that have this designation, [here](https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/edit#gid=0).

[2022-04-05 22:46] staceyrebekahscott commented on #488
HfLA Guides related to UX Research:

[Creating a UX survey template # 6](https://github.com/hackforla/UI-UX/issues/6)
[Running a usabilityhub.com survey # 211](https://github.com/hackforla/product-management/issues/211)
[How to present your work (UX research) # 24](https://github.com/hackforla/UI-UX/issues/24)
[UX Researcher Glossary # 123](https://github.com/hackforla/UI-UX/issues/123)
[Research

[2022-04-05 22:47] kcoronel commented on #460
Issue relates to v1 of the project. Currently not pursuing this format of the product. You can find a link to all the issues that have this designation, [here](https://docs.google.com/spreadsheets/d/1ib0z47RjslylwX72FKkA9A07Gu9HkorHEC-b8XOWv5Y/edit#gid=0).

[2022-04-05 22:57] kcoronel commented on #484
@layneam and I worked on cleaning up the icebox of this project and archived all of the issues

[2022-04-05 22:57] #484 closed

[2022-04-05 23:07] staceyrebekahscott commented on #488
Sent the following message to the Slack Guides channel:

"Hi Guides Team! I am a product manager on the BallotNav project, and my team is working on a lot of UX research issues. I went through the Guides Tracker looking for any guides related to UX research and I noticed may of them are in various stages of completeness, and do not have anyone currently assigned.
As we are working on our research,

[2022-04-05 23:08] kcoronel commented on #456
@yoursgayathri can we please add this demo to our wiki as well: https://www.figma.com/proto/dvtVjMEBqj34a0tv5WEbMd/Ballotnav?node-id=3719%3A13582&scaling=scale-down&page-id=3719%3A11979

[2022-04-05 23:09] #407 closed

[2022-04-05 23:16] kcoronel commented on #437
Linked this issue to current [BallotNav Agenda](https://github.com/hackforla/ballotnav/issues/441)

[2022-04-05 23:16] #437 closed

[2022-04-05 23:17] kcoronel commented on #431
Linked this to the current agenda issue https://github.com/hackforla/ballotnav/issues/441

[2022-04-05 23:17] #431 closed

[2022-04-05 23:37] kcoronel commented on #441
## 4/05/22 Agenda and Notes

### Prework

### Roll Call
- Karen
- Jon
- Layne
- Stacey
- Drew
- Federica
- Carrie
- Lihui
- Zuri
- Seyoung

#### Recurring items: Happens on the Tuesday meeting
Accountability and Support Check.
- [ ] [Drew](https://github.com/hackforla/ballotnav/issues?q=assignee%3AaNullValue+is%3Aopen)
- [ ] [Layne](https://github.com/hackforla/ballotnav/issues?q=is%3Aissue+is%3Ao

[2022-04-05 23:45] staceyrebekahscott commented on #479
@kcoronel I see we also have Airtable and Miro accounts for BallotNav. Do you have any insight into how these have been used by the team? The UX team has mentioned Miro, and I am looking into learning more.

@layneam I think it would be helpful to add a sentence or 2 about the applications the team is getting access to. How do you make changes to the section we are to copy/ paste?

[2022-04-05 23:54] kcoronel commented on #479
@staceyrebekahscott we used Airtable for the national civic day of hacking and tried to use it for our issue of collecting all the data but it didn't work. It looks like we used miro for a user journey and for the board of advisor persona (Jon is a good person for Miro). You can access both thru the ballotnav gmail account, I wonder if there is another way to have the ui/ux team access, maybe it i

[2022-04-06 00:50] staceyrebekahscott commented on #488
@layneam Please advise on the process for contributing to the Guides. Thanks!

[2022-04-06 02:26] staceyrebekahscott commented on #488
@fedelandini Just to reiterate, our first priority is to use the guides as a basis for our research. If we find that the method in the guide works, then we can use it for our purposes. But if we find that they are not useful and there is a better way to conduct the research, then we can contribute to improving the guide.

[2022-04-06 06:00] staceyrebekahscott commented on #485
Team Meeting 04/05/22:

- Issue #481 Assigned to Jon
- Issue #487 Assigned to Zuri
- Issue #488 Assigned to Seyoung & Federica
- Stacey to complete the project plan by next Tuesday's team meeting
- Carrie and Lihui to continue to gather academic literature and adding it to Google Drive folder
- Jon and Zuri to partner up to organize the data in the competitive analysis folder, combining old and ne

[2022-04-06 06:06] staceyrebekahscott commented on #462
Spoke with Bonnie during team meeting and briefed her on the current status of the Board of Advisors project, letting her know I will work to get her the plans for this and the Market Fit Research project by the end of this week.

[2022-04-06 15:44] fedelandini commented on #488
@staceyrebekahscott got it!

[2022-04-12 22:30] jonlam27 commented on #481
Drafted up some potential research questions to best analyze the websites of organizations we may want to partner with, which were included alongside Zuri's own list of questions. Started doing some research on the organizations in [Potential partnership organizations docs](https://docs.google.com/document/d/1rEvB2_KXIja_oWBVZhXA9Nt0oI3hmn9DvfQNU0VffKA/edit) and gathered info in the [Research Repo

[2022-04-14 01:15] kaerii commented on #486
I've finished a literature review focusing on drop off box use and am working on making a findings report/slide deck for the upcoming week. The google doc of the literature review and PDFs of articles has been uploaded to the drive.

[2022-04-15 19:31] ExperimentsInHonesty commented on #441
Please add this to this week's agenda and get it done during the meeting
- [ ] Taking a picture of the team [CTA Instructions](https://docs.google.com/presentation/d/1UDHwTQ1C3y01CiNS0mvPjNBHJFlm2Txs/preview)

[2022-04-18 23:35] fedelandini commented on #488
**Update:** @seyounglee2001 and I have created a new document that covers methodologies, tools and research that we will be using in the different phases of BallotNav 2.0.
It's still in draft, and ideally we should integrate and improve it as we progress with all of the activities, adding details, description and links. it's saved in the Research folder and right now we are working on the structur

[2022-04-19 08:54] staceyrebekahscott opened #489 "Ongoing Website Support Capability for BallotNav.org"
### Overview
We need to determine the overall capacity of Hack for LA to support the [BallotNav Website](https://about.ballotnav.org/) long term. If the research conducted for the Market Fit results in BallotNav in its current version as the way to move forward, we need to figure out what support it will need to make it viable for elections in the future.

And if the research results in a differen

[2022-04-19 22:43] staceyrebekahscott commented on #488
@fedelandini @seyounglee2001 It appears that your slideshow is still in the BallotNav Shared Folder. It should be moved to the Market Fit Research folder in the new BallotNav Shared Drive: [Market Fit Research in BallotNav Drive](https://drive.google.com/drive/folders/1UOe4sGX88SXuFo6IT25Y7efg6NDorEYk). Please see Karen for steps to move the slideshow to the correct place and confirm your access t

[2022-04-19 22:49] staceyrebekahscott commented on #487
@zuriisawesome Please add any updates to this issue here ahead of the team meeting tonight.

[2022-04-19 22:56] staceyrebekahscott commented on #481
@jonlam27 Please add any updates for work done in the past week ahead of the team meeting this evening.

[2022-04-19 23:00] staceyrebekahscott commented on #461
## [04/18/22] Agenda  and notes

### Roll Call
 Accountability and Support Check.
 Update on current progress for each PM

Stacey:
- Created the project charter for the Market Fit Research via a Miro board: [Market Fit Research in Miro](https://miro.com/app/board/uXjVO9_TkJE=/)
- Reviewed issue #486 , read linked articles in literature review doc and PDFs. Awaiting slideshow from Carrie and Lihui

[2022-04-19 23:20] zuriisawesome commented on #487
I've created a spreadsheet to organize both past research and the current market fit research, located [here](https://docs.google.com/spreadsheets/d/11PYjjs8EkUgRhQ55crn9Eu6IgPx9qjPb0GWx2Zt_bUM/edit). Each tab is labeled, with 1.0 representing older research and 2.0 representing the current project. I've come up with the questions in collaboration with @jonlam27, who is currently filling out the P

[2022-04-19 23:23] staceyrebekahscott commented on #489
@kcoronel @layneam @yoursgayathri I created this issue to determine the ongoing support capability of BallotNav. I thought this would be a good issue to work on after reviewing the current status of the HfLA [Competed Projects](https://www.hackforla.org/projects/?status=Completed).

[2022-04-19 23:34] kcoronel commented on #489
@staceyrebekahscott really great issue. Do you need support here?

[2022-04-19 23:37] kcoronel commented on #441
## 4/19/22 Agenda and Notes

### Prework

### Roll Call
- Karen
- Jon
- Layne
- Stacey
- Drew
- Federica
- Carrie
- Lihui
- Zuri
- Seyoung

#### Recurring items: Happens on the Tuesday meeting
Accountability and Support Check.
- [ ] [Drew](https://github.com/hackforla/ballotnav/issues?q=assignee%3AaNullValue+is%3Aopen)
- [ ] [Layne](https://github.com/hackforla/ballotnav/issues?q=is%3Aissue+is%3Ao

[2022-04-20 00:56] staceyrebekahscott commented on #489
@kcoronel I will need support on this one. I was going to put together a doc that lists the current state of the completed projects and brainstorm what else we may need to figure out in order to create a "sustainability plan". We need to collaborate as a PM team on this as it will be critical to know the long term viability regardless of what direction BallotNav ends up going in. I'll post in the

[2022-04-20 03:10] staceyrebekahscott commented on #485
Team Meeting 04/19/22:

- Bonnie joined briefly to check in, will be out from 04/21-04/27.
- Jon and Zuri shared update on respective issues, as their research is shared in one spreadsheet. Added that there would be value in other team members contributing to the research of the orgs.
- Zuri re: #487 , started with vote.org, Spread the Vote and Vote411. Finding answers to the questions is fairly s

[2022-04-20 03:23] staceyrebekahscott commented on #488
@fedelandini @kaerii As discussed during the team meeting: once Carrie is finished with the literature analysis slideshow, Carrie and Federica will work on the slide detailing the research methodology for the research. This will include a brief description of the analysis and a link to the analysis slideshow. Carrie and Federica to have this slide ready for review by next week's team meeting.

[2022-04-20 03:30] staceyrebekahscott commented on #481
Posted note on # ballotnav-design channel for collaboration assistance on the competitive analysis and partnership spreadsheet.

[2022-04-20 03:30] staceyrebekahscott commented on #487
Posted note on # ballotnav-design channel for collaboration assistance on the competitive analysis and partnership spreadsheet.

[2022-04-20 15:27] kaerii commented on #488
Thanks Stacey! I can also help out with the competitive analysis.

[2022-04-21 01:40] kaerii commented on #487
@zuriisawesome Happy to help with filling out some of the spreadsheet!

[2022-04-21 01:40] kaerii commented on #481
@jonlam27 Happy to help out with the spreadsheet!

[2022-04-23 22:33] kaerii commented on #481
I added a "Partnerships and affiliations" and "Board of directors" row to the spreadsheet since many of the organizations have a dedicated page to this. I thought that having these for reference would be useful for creating our own board of directors and choosing organizational partners.

[2022-04-23 23:31] kaerii commented on #488
I've created a slide called "preliminary analysis" with all the information (currently unformatted) and link to my slide deck.

[2022-04-24 13:43] jonlam27 commented on #481
Neat, thanks @kaerii!

[2022-04-25 23:57] staceyrebekahscott commented on #478
@layneam @kcoronel @yoursgayathri I think we should be able to close or archive this issue, as a large part of what we are addressing  in the Market Fit Research project is competitive analysis.

What is the criteria that was used to justify archiving the issues from the icebox vs noting and marking the issue as closed and moving to the Done column?

[2022-04-26 00:00] staceyrebekahscott commented on #482
@yoursgayathri @kcoronel @layneam Has there been any progress in getting the backend access? I believe Jake(?)  needed to be contacted, but last this was discussed was a few weeks ago. What is the current status on this?

[2022-04-26 08:10] staceyrebekahscott commented on #486
@kaerii I just reviewed the slide deck and it looks great. How close are you to calling it finished? Will it be ready for you to present to the team at this week's team meeting?

[2022-04-26 08:15] staceyrebekahscott commented on #487
@zuriisawesome I see progress on the spreadsheet and collaboration with Carrie and Jon. This is awesome!

How close are you to having this spreadsheet completed? Will you be ready to present it to the team at this week's team meeting?

[2022-04-26 08:18] staceyrebekahscott commented on #481
@jonlam27 I see progress made on the spreadsheet and collaboration with Carrie. This looks great!

How close are you to calling the spreadsheet completed? Will you be ready to present it to the team by this week's meeting?

[2022-04-26 08:23] staceyrebekahscott commented on #441
@kcoronel Do we still need to have our team photo taken? I thought I saw something on Slack that they were already evaluating what photo to use for the website, so I think it needed to happen last week.

[2022-04-26 09:03] staceyrebekahscott commented on #489
Article on Solving problems in software development: [Solving the Right Problem](https://www.riceconsulting.com/home/index.php/Requirements-Articles/solving-the-right-problem-step-one-in-software-development.html)

Transcript from Work Life Podcast: [How to pitch your best ideas](https://www.ted.com/podcasts/worklife/how-to-pitch-your-best-ideas-transcript)

- [ ] Work with UX researchers to devel

[2022-04-26 15:51] kaerii commented on #486
@staceyrebekahscott yes, I'll be able to present it at the team meeting this week

[2022-04-26 21:19] zuriisawesome commented on #487
Hi Stacey! the progress looks great – many thanks to Carrie for helping out. I think @kcoronel mentioned wanting to add info on 2 orgs – my section still has one missing while Jon's might have 1-2. I think it may be better to present at next week's meeting

[2022-04-26 22:44] staceyrebekahscott commented on #486
@kaerii Great. Please plan on spending about 5-10 min presenting your findings via the slide deck and answering any questions from the team. Great work!

[2022-04-27 00:26] staceyrebekahscott commented on #441
## [04/26/22] Agenda  and notes
### Roll Call
Karen
Jon
Layne
Stacey
Drew
Federica
Carrie
Lihui
Zuri
Seyoung

#### Recurring items:
Accountability and Support Check.

Carrie: to present slide deck on the State of Ballot Drop Box voting in 2022, #486
Lihui: additional updates to issue #486
Stacey: update on #489 , update on #483
Drew: update on getting access to backend of BallotNav
Gayathri: updat

[2022-04-27 02:15] staceyrebekahscott commented on #469
@alligatormonday @kcoronel I want to make sure Joseph has access to the BallotNav Google Drive, so a reminder to connect this week to confirm access.

[2022-04-27 05:16] staceyrebekahscott commented on #485
Team meeting 04/26/22

- Joseph joined the team meeting, after a hiatus since Sept 2021.
- Updated Joseph on the current status of the project.
- Carrie presented slide deck- The state of ballot drop box voting in 2022, #486
   - Question raised by Drew re: for states that are limiting drop boxes, what exactly are the restrictions? (ex: in Ohio, they are limiting to 1 per county and if there is a

[2022-04-28 06:27] staceyrebekahscott commented on #486
@kaerii Re: the question raised by Drew during the team meeting: for states that are limiting drop boxes, what exactly are the restrictions? (ex: in Ohio, they are limiting to 1 per county and if there is a ballot from another county, they are not obligated to forward it through).

I am wondering if it is worth finding this out for 1 or 2 states and adding it to the slide that discusses voter atti

[2022-04-28 06:38] staceyrebekahscott commented on #489
@seyounglee2001 Given that a big challenge for maintaining BallotNav is the amount of data that has to be collected and updated on a regular basis, what are your thoughts on how to deal with that problem? How should we be thinking about it in terms of the developers we would need to maintain the site, the researchers we need to make sure the data is accurate, and any other roles we need to conside

[2022-04-28 13:07] kaerii commented on #486
@staceyrebekahscott I can find out some information about restrictions; for 1-2 states it should be quick. The references slide is done; it just links to the full reference google doc.

[2022-04-28 13:44] kaerii commented on #486
I added a slide on restrictions and changed the wording of the references slide. The deck should be complete now.

[2022-05-03 00:19] staceyrebekahscott commented on #486
@kaerii @Lihuizhang53 Thank you for your effort and hard work on this issue. I am going to close it and move it to the Done column. And we will get you assigned to another issue this week.

[2022-05-03 00:22] staceyrebekahscott commented on #486
- Reviewed Carrie's updated slide on voting restrictions
- Sent slide deck link to PM's via Slack
- Updated Overview section to include link to completed slide deck
- Updated Carrie and Lihui on status of issue
- Added notes, closed and moved to Done

[2022-05-03 00:22] #486 closed

[2022-05-03 00:30] staceyrebekahscott commented on #487
@zuriisawesome The spreadsheet looks great, and I see updates from other team members. So nice to see this collaboration.

Will you be prepared to make a short presentation at tomorrow's team meeting?

[2022-05-03 00:35] staceyrebekahscott commented on #481
@jonlam27 Will you be prepared to make a short presentation on the partnerships spreadsheet at tomorrow's team meeting?

I see progress and collaboration on the spreadsheet, and it looks great. Nice job on this!

[2022-05-03 01:09] staceyrebekahscott commented on #479
#### Offboard: Lihui Zhang
- [ ] Remove from Google calendar invite
   - [ ] Tuesday 6PM PST - All-team meeting
- [ ] WIKI
  - [ ] move to new place on team page
  - [ ] 1password setup
    - [ ] remove from team vaults
       - [ ] Primary vault
       - [ ] Secondary vault
       - [ ] Zoom vault
- [ ] Google Drive
   - [ ] demote to viewer
- [ ] Roster
  - [ ] mark as inactive
- [ ] GitHub

[2022-05-03 01:12] staceyrebekahscott commented on #479
@layneam @kcoronel Lihui messaged me on Slack and said she is leaving the team due to starting a new job. I created an Off boarding checklist in the comment above, and I'll check off what I have permission to do. She did not go through a structured on boarding so I think this off board should be simple, but this will be a good chance to test the checklist and make sure we included everything.

[2022-05-03 01:17] staceyrebekahscott commented on #445
@seyounglee2001 Can you confirm that everything on this slide deck is completed, according to your understanding of the work  you were tasked with completing? I want to make sure there aren't any loose ends on this before closing out this issue.

[2022-05-03 01:34] staceyrebekahscott commented on #435
- Removed assignees- Federica and Irina
- Notified assignees that they have been removed from issue
- Determined that this issue is not relevant to the current direction of BallotNav and should not be In Progress
- Moved to Ice Box

[2022-05-03 01:35] staceyrebekahscott commented on #435
@fedelandini @IrinaRost Removing your assignment from this issue, as it does not pertain to the current direction of the project.

[2022-05-03 02:03] staceyrebekahscott commented on #442
- Reviewed issue, and due to revised thinking about the personas, I am moving this to Prioritized Backlog. Nothing in this issue needs to be actively worked on at this time.
- Removed Jon as assignee
- Notified Jon of assignee removal
- Moved to Prioritized Backlog

[2022-05-03 02:04] staceyrebekahscott commented on #442
@jonlam27 Removing your assignment on this issue, as these personas do not need to be actively worked on at this time.

[2022-05-03 02:13] staceyrebekahscott commented on #478
- Moved to Market Fit Research project as the scope of this issue is also being addressed in the Market Fit project.

[2022-05-03 02:22] staceyrebekahscott commented on #13
- Due to updated thinking on this issue, moved to Market Fit Research project.
- Updated thinking was influenced by a podcast episode of "Product Thinking with Melissa Perri", link to transcript: [Shifting how we measure success with Jeff Gothelf](https://produxlabs.com/product-thinking-blog/episode-65-jeff-gothelf)
- Podcast illustrates a different way of thinking about OKRs: making key results a

[2022-05-03 02:27] staceyrebekahscott commented on #463
- Due to revised thinking on this issue, moving to Market Fit project.
- Revised thinking is related to issue #489
- May reevaluate focus of this issue based on work done in issue #489
- This may be a part of a review to see how other projects are approaching their long term sustainability planning for their projects

[2022-05-03 03:03] staceyrebekahscott commented on #488
@fedelandini How is the slide deck coming along? Is it ready to be fully presented to the team?

Also, I think the title of the slide deck should be adjusted. Rather than "Introductory Guide to the project" it should be "Research methodologies for the project". This will prevent it from being confused with the project overview and journey slide deck, and it's more accurate since the main focus of

[2022-05-03 03:12] staceyrebekahscott commented on #488
- Added comment to Guide issue # 24- [How to present your work (UX Research)](https://github.com/hackforla/UI-UX/issues/24), asking how we can contribute and share our recently developed research.

[2022-05-03 05:23] staceyrebekahscott commented on #462
Doc in Drive: [Current Status of Board of Advisors project](https://docs.google.com/document/d/1zlN4f7uVzjleZXva-0S2mME61dAggFe6OmdaOytCda0/edit)

- Sending link to this and an update on Market Fit project from #483 to have PMs review ahead of sending to Bonnie.

[2022-05-03 05:30] staceyrebekahscott commented on #483
@kcoronel @layneam @yoursgayathri The links below are summaries of the Market Fit and Board of Advisors projects I'd like to send to Bonnie. Please review and let me know if you have any feedback.

[Project Update: Market Fit Research](https://docs.google.com/document/d/1-VYlyJFlnfgMMUrTIR15bSiskiGJK6NxR7R_Cc1fCFA/edit)

[Summary: Current Status of Board of Advisors project](https://docs.google.co

[2022-05-03 05:45] staceyrebekahscott commented on #461
## [05/02/22] Agenda  and notes

### Roll Call & Accountability Check
Stacey:
- Moved #435 to Ice Box in BN2.0, added comment
- Moved #442 to Prioritized backlog in BN2.0, added comment
- Updated #479 in BN2.0 for Lihui Zhang- Need to off board her from the team, see details in comment
- Moved #13 to Market Fit Research (MFR), added comment
- Moved #463 to MFR, added comment
- Moved #478 to MFR, a

[2022-05-03 20:56] staceyrebekahscott commented on #479
@layneam @kcoronel Is one of you able to take lead on the off boarding of Lihui? I mentioned in the comment yesterday that I would check off what I could, but I could use your help here.

[2022-05-03 22:06] jonlam27 commented on #481
Yup shouldn't be an issue @staceyrebekahscott  - Zuri and I will present our findings in a short pres tonight

[2022-05-04 00:57] seyounglee2001 commented on #489
https://docs.google.com/document/d/1KTXGIANgaRgGTsc7VLd8DwhnfWYHayFjsp3-SUZ0weE/edit?usp=sharing

[2022-05-04 02:18] jonlam27 commented on #481
[Link to the slide deck for reference](https://docs.google.com/presentation/d/1sfz3gSzqUbMzamy1cWUXHMNZdGF8C6fCGZCazKSDH7o/edit?usp=sharing)

Thanks again to @zuriisawesome, @kaerii, and @seyounglee2001 for all your help!

[2022-05-04 04:29] staceyrebekahscott commented on #487
@zuriisawesome Again, Great Job! The slide deck is really well organized, easy to navigate and you and Jon seemed to work really well together.

Is there anything else regarding this issue that you needed to finish up,? If not, I'd like to close it and mark it done!

[2022-05-04 04:32] staceyrebekahscott commented on #481
@jonlam27 Great Job on the slide deck. It is well organized and you and Zuri seemed to work well together.

Is there anything that needs to be finished up on this? If not, I'd like to mark this closed and done!

[2022-05-05 23:45] staceyrebekahscott commented on #488
- Sent links to Academic research and Partnerships and competitors slide decks to # 24- [How to present your work (UX Research)](https://github.com/hackforla/UI-UX/issues/24)

[2022-05-06 00:03] staceyrebekahscott commented on #478
Google Sheet: [2022 Indirect and Direct Competitors | BallotNav Research Repository](https://docs.google.com/spreadsheets/d/11PYjjs8EkUgRhQ55crn9Eu6IgPx9qjPb0GWx2Zt_bUM/edit#gid=0)

Google Slide Deck [Voting Organization Research Slide Deck](https://docs.google.com/presentation/d/1sfz3gSzqUbMzamy1cWUXHMNZdGF8C6fCGZCazKSDH7o/edit#slide=id.g127b51c867a_3_0)

Above are links to the competitive analys

[2022-05-06 00:03] #478 closed

[2022-05-06 04:12] staceyrebekahscott commented on #13
- Read article Layne recommended: [Set Better Goals with NCTs](https://www.reforge.com/blog/set-better-goals-with-ncts-not-okrs)
- My conclusion from this is that the authors may be misunderstanding what OKRs are and how they work as a goal setting framework.
- OKRs are somewhat difficult to understand and create not because it is an incomplete framework, but because they are extremely high level

[2022-05-06 04:34] staceyrebekahscott commented on #13
Rather than thinking about setting goals based on making BallotNav work in its current form, ex: evaluating user feedback, deciding on how to build software for gov't use, the goals at this phase should go back earlier to determine the feasibility of how we can build and maintain a website long term as a volunteer organization.

Having an understanding of this is critical to:
- developing a partne

[2022-05-06 04:57] staceyrebekahscott commented on #483
I am asking the UX team for feedback on Miro as a communication tool for the project documents. I am learning the tool and evaluating if it is working, or if I should use a different process.
- Made updates as of 05/05/22, asked Jon to review.

[2022-05-06 07:04] staceyrebekahscott commented on #13
Google Doc of transcript for podcast episode: [Shifting how we measure success](https://docs.google.com/document/d/1ostkEOSygIQIoMKywfJIHKieRRe_odCujjqeoHBWhKo/edit)

[2022-05-09 04:46] staceyrebekahscott commented on #487
@zuriisawesome Checking in on my previous comment, is there anything else on this issue that needs finishing up?

[2022-05-09 04:47] staceyrebekahscott commented on #481
@jonlam27 Checking in on my last comment, is there anything else that needs to be finished up on this issue?

[2022-05-09 21:39] #487 closed

[2022-05-09 22:09] jonlam27 commented on #481
yup, all good to close, thanks for checking @staceyrebekahscott !

[2022-05-09 22:32] #481 closed

[2022-05-09 22:40] staceyrebekahscott commented on #477
Research and analysis has been completed on voting organizations. Potential Partnerships/ Direct & Indirect Competitors slide deck located in the BallotNav Drive ->  Market Fit Research folder -> Partnerships folder -> [BallotNav 2.0 Partnerships & Competitors](https://docs.google.com/presentation/d/1sfz3gSzqUbMzamy1cWUXHMNZdGF8C6fCGZCazKSDH7o/edit#slide=id.g127b51c867a_3_0)

Research Spreadsheet

[2022-05-09 22:46] #477 closed

[2022-05-11 22:09] staceyrebekahscott commented on #435
@ExperimentsInHonesty It was unclear to me what this issue was for, as the term "communications guide" is somewhat ill defined in this context.

I have included this definition the Overview section above:

The Communications Guide in this context means a presentation template which includes logos and formatting for slide decks, to be used whether the deck is for internal or external use.  All slid

[2022-05-11 22:26] staceyrebekahscott commented on #488
@fedelandini It was brought to my attention that all slide decks, whether for internal or external use, need to follow the formatting detailed in the BallotNav Communications Guide. Please update your slide deck accordingly. Thank You!

[BallotNav Communications Guide for Document Creation [INTERNAL]](https://docs.google.com/presentation/d/1240MJDl2PA6NcchLwVdGvweI-dC_E4u4-V8jmHNz_LI/edit#slide=id

[2022-05-11 22:34] staceyrebekahscott commented on #445
@seyounglee2001 It was brought to my attention that all slide decks need to follow the formatting detailed in the BallotNav Communications Guide. Please update this slide deck accordingly- see links below for instructions. Thank You!

[BallotNav Communications Guide for Document Creation [INTERNAL]](https://docs.google.com/presentation/d/1240MJDl2PA6NcchLwVdGvweI-dC_E4u4-V8jmHNz_LI/edit#slide=id.g

[2022-05-11 22:39] staceyrebekahscott commented on #486
@kaerii I have reopened this issue and assigned it back to you. It was brought to my attention that all slide decks created for BallotNav, for internal and external use, must follow the formatting detailed in the BallotNav Communications Guide. Please see the links below and update this slide deck accordingly. Thank You!

[BallotNav Communications Guide for Document Creation [INTERNAL]](https://do

[2022-05-11 22:45] staceyrebekahscott commented on #487
@zuriisawesome @jonlam27 I am reopening this issue and assigning you both, as you collaborated on the slide deck. It has been brought to my attention that all slide decks, for internal and external use, must follow the formatting detailed in the BallotNav Communications Guide. Please see the links below and update the slide deck accordingly. Thank You.

[BallotNav Communications Guide for Document

[2022-05-11 22:47] staceyrebekahscott commented on #481
Reopened issue #487 as the slide deck created needs to follow the formatting detailed in the BallotNav Communications Guide.

[2022-05-11 22:52] staceyrebekahscott commented on #479
@kcoronel Do you have time to start this off boarding process for Lihui (see comment above)? For the protection of the data for BallotNav and the team members, this should be addressed as soon as possible.

[2022-05-11 22:55] staceyrebekahscott commented on #435
Reopened and reassigned issues #487 and #486 and updated issues #488 and #445 to update the slide decks to match the formatting dictated by the BallotNav Communications Guide.

[2022-05-12 02:59] kaerii commented on #486
@staceyrebekahscott I've updated all my documents and slides.

[2022-05-12 03:19] staceyrebekahscott commented on #486
@kaerii Thank you for taking care of this so quickly. The docs and slide deck look great.  Issue is closed, again! :)

[2022-05-12 03:22] staceyrebekahscott commented on #435
Documentation for issue #486 has been updated to match the communications guide templates.

[2022-05-17 23:25] jonlam27 commented on #487
Hey @staceyrebekahscott sounds good, I'll go ahead and change the slide deck to match the formatting in the guide!

As we now have more researchers, do we want to review the guide a bit more as there wasn't much of that when I first worked on it and some parts within the guide are still incomplete.

[2022-05-18 00:48] staceyrebekahscott commented on #487
@jonlam27 Thanks Jon. I'll remove @zuriisawesome if you're cool with updating the slide deck. And I'll send a separate message from the guide issue in the BallotNav 2.0 board.

[2022-05-18 02:22] jonlam27 commented on #487
That works - the [slide deck](https://docs.google.com/presentation/d/1sfz3gSzqUbMzamy1cWUXHMNZdGF8C6fCGZCazKSDH7o/edit#slide=id.g127a3020332_0_60) has been updated btw 👍

[2022-05-18 03:46] staceyrebekahscott commented on #487
Reviewed updated slide deck. Moved to Done column.

[2022-05-18 03:50] staceyrebekahscott commented on #435
@jonlam27 I am assigning this to you. Maybe we can have a chat about this sometime soon. I'd like to get a better understanding of the designs and what needs to be completed.

[2022-05-25 03:34] layneam opened #490 "Document product-market fit approach"
In conversation with the product management team ~the week of 16 May, a more detailed document is needed on the approach proposed to take Ballot Nav 2.0 forward. Questions include:
What is the proposed project approach and why?
What is the proposed next step?
What process should we follow to complete this step?

[2022-05-25 03:39] layneam commented on #490
Approach presentation delivered to the Ballot Nav team on 24 May 2022 PST (25 May AEST): https://docs.google.com/presentation/d/1zJIJ9OPeBeTKnJcjVXeUnuKmN4I-TbCqnuduHpnZ2r0

[2022-05-25 05:24] staceyrebekahscott commented on #490
Notes and action items from the team meeting on 05/24/22:

- Using our own networks to find customers to interview: Drew's connection with Code for America, Karen's networks with political groups
- Need to put together who we are interested in talking to
- Templates & Script: for consistency. Starter questions, then can elaborate during the interviews
- Group voting orgs by similarities, work on p

[2022-05-30 23:52] layneam commented on #490
Starter questions (Draft for discussion with the team): https://docs.google.com/document/d/1fgngzGPxVUrLqKr5sYp4Uj5u1aPLeE6QeHz7xwEFL64/edit?usp=sharing

@kcoronel once our personas are ready are you happy to write the qualifying survey? Or would the UX team prefer to do it? cc: @kaerii & @zuriisawesome

[2022-05-31 21:57] staceyrebekahscott opened #491 "Group Voting Orgs by Similarities/ Customer Personas"
### Overview/ Action Items:
- [ ] Group Voting Orgs by Similarities
- [ ] Use groupings to make customer personas for who we want to reach out to

### Resources/Instructions
REPLACE THIS TEXT -If there is a website which has documentation that helps with this issue provide the link(s) here.
Link to [Partnerships & Competitors](https://docs.google.com/presentation/d/1sfz3gSzqUbMzamy1cWUXHMNZdGF8C6f

[2022-05-31 23:22] kaerii commented on #491
HackforLA Persona Guide: https://docs.google.com/document/d/1ZzFeBBbtsL1HEC317zxRNZFMiv0wVtdsdIsSr1mDSKs/edit#heading=h.wnzccu2emlk3
BallotNav Previous Persona Research: https://docs.google.com/document/d/1nr2q8eFWxSTGcmNOreRXgeDkAnNdOJmIeKFp8a49LZk/edit

[2022-05-31 23:33] kaerii commented on #491
Created deck for issue: https://docs.google.com/presentation/d/1W643XkB7IAlDfCF3uU8CzyNmy-HdrWMA2yeJ--jKQ7E/edit?usp=sharing

[2022-06-08 01:12] staceyrebekahscott commented on #441
## [06/07/22] Agenda  and notes

### Roll Call

- [ ] Stacey
- [ ] Layne
- [ ] Karen
- [ ] Carrie
- [ ] Drew
- [ ] Jon
- [ ] Zuri (on vacation)
- [ ] Seyoung
- [ ] Joseph
- [ ] Federica

#### Items to discuss:
- Slide Deck= Voting Orgs groupings and Personas
- Narrow down target audience
- Review questions Layne developed
- Review process of recruiting test users
  - How to contact
  - How to cond

[2022-06-08 01:42] layneam commented on #482
@jmensch1 @aNullValue Hi fellas, we were just talking about this today in our team meeting. It would be really helpful to have the backend access open to the rest of the team and documented so people in the future can get in. Jake are you able to lend us a hand please?

[2022-06-08 02:13] staceyrebekahscott commented on #490
@kaerii @kcoronel @layneam @staceyrebekahscott Please list availability for next week for Layne to add to Calendly.

[2022-06-08 02:34] layneam commented on #490
I'm avail:

- Saturday 11 June 3PM-7PM PST
- Sunday 12 June 3PM-7PM PST
- Monday 13 June 3PM-6PM PST
- Tuesday 14 June 3PM-6PM PST
- Wednesday 15 June 3PM-6PM PST
- Thursday 16 June 3PM-6PM PST
- Friday 17 June 3PM-6PM PST

[2022-06-08 02:42] jmensch1 commented on #482
hey! It's been a minute but I can probably help get the backend running on someone's computer. let me know what day/time would be good.

[2022-06-08 04:18] staceyrebekahscott commented on #480
Closed issue as it pertains to an earlier iteration of the BallotNav project. A new direction is being mapped out in issue #490

[2022-06-08 04:18] #480 closed

[2022-06-08 04:23] staceyrebekahscott commented on #463
Closed issue as it pertains to an earlier iteration of BallotNav. New direction is being mapped out in issue #490 and it is not necessary to align our strategy with Food Oasis.

[2022-06-08 04:23] #463 closed

[2022-06-08 04:29] staceyrebekahscott commented on #479
@kcoronel Will you have a chance to make this a priority this week? I don't think we should leave this as an open issue as Lihui has been away from the project for a month now.

[2022-06-08 04:30] staceyrebekahscott commented on #469
@kcoronel What else needs to be done on this issue? Might you be able to close it out this week?

[2022-06-08 04:35] staceyrebekahscott commented on #456
@kcoronel @layneam I am closing this issue, as Gayathri is taking a break and I think the Wiki looks fine for now.

[2022-06-08 04:35] #456 closed

[2022-06-08 04:39] staceyrebekahscott commented on #445
Sent Seyoung a message on Slack, checking in on her involvement on the project.

[2022-06-08 05:10] staceyrebekahscott opened #492 "Collecting Customer Data (Customer Outreach, Calendly and Customer feedback)"
### Overview
We will be collecting customer data via a posting on Reddit as our first approach, and will evaluate results based on the response. We will be asking for  people who work for any national voting org.

*Changed issue title from "Reddit Posting" to "Customer Outreach" due to the inability to post on Reddit.

### Action Items
- [x] Draft posting for Reddit, send to the team for review.
-

[2022-06-08 05:29] staceyrebekahscott opened #493 "Qualifying survey for potential interviewees (Google Forms)"
### Overview
We will create a prequalifying survey for potential interviewees who respond to the Reddit post using Google Forms. Form will feed into info a Sheet where we can then add the data we collect from the interviews.

### Action Items
- [x] Create survey in Google Forms
Add survey to Reddit post (removing this as a requirement, as we were unable to post on Reddit as originally planned.)

[2022-06-08 05:30] staceyrebekahscott commented on #490
Issue #492 created and assigned to Layne

[2022-06-08 05:36] staceyrebekahscott commented on #485
Team meeting agenda and notes 06/07/22

#### Items to discuss:
- Slide Deck= Voting Orgs groupings and Personas
- Narrow down target audience
- Review questions Layne developed
- Review process of recruiting test users
  - How to contact
  - How to conduct interviews
  - How to share insight

#### Notes from meeting
- Target audience will focus on the larger nationwide orgs that have voter issues

[2022-06-08 06:01] #4 closed

[2022-06-08 06:06] staceyrebekahscott commented on #451
[HfLA Role Definitions](https://docs.google.com/document/d/1X6d6-Sm_QDQPobiRfqachCSajAOpqRLVUsdCnczhhts/edit#)

[2022-06-08 06:06] #6 closed

[2022-06-08 06:09] #25 closed

[2022-06-08 06:13] #78 closed

[2022-06-08 06:14] #53 closed

[2022-06-08 06:15] #12 closed

[2022-06-08 06:15] #47 closed

[2022-06-08 06:16] #104 closed

[2022-06-08 06:16] #164 closed

[2022-06-08 06:17] #70 closed

[2022-06-08 06:23] staceyrebekahscott commented on #18
Closing this issue, see issue #435 for more details.

[2022-06-08 06:23] #18 closed

[2022-06-08 14:51] kaerii commented on #490
I'm available
S 6/11 1-4pm EST
Sun 6/12 4-7pm EST
M 6/13 5-7pm EST
T 6/14 1-4pm EST
W 6/15 1-4pm EST
Th 6/16 4-7pm EST
F 6/17 1-4pm EST

[2022-06-08 22:33] staceyrebekahscott commented on #493
Notes from team meeting on 06/07/22:

Google Forms fields:

- Name
- Email
- Phone Number
  - (Specify preferred contact method)
- Are you a volunteer or employee of a nationally based organization that mobilizes voters as its core mission?
- Is your role at this organization paid or unpaid?
- How would you describe your primary role in this organization?
  - Canvassing/ Voter Outreach
  - Policy/

[2022-06-09 04:48] layneam commented on #493
Google Form is in Ballot Nav Shared Drive > Market Fit Research > Customer Development ([Link](https://drive.google.com/drive/folders/1unh54flAXwspRLh3sv0rYMkhJCpn5_65?usp=sharing))
Form: https://docs.google.com/forms/d/1GADkFOXhVtGV-Dndy5-pnEMMBD74ZoOWkGhPTJ_axVI/edit
Sheet: https://docs.google.com/spreadsheets/d/1iBwCE-jOt_KH6EYiGAEIad4ufOfvo-ynnJk_MaiXXPI/edit

[2022-06-09 06:03] layneam commented on #492
Template for customer feedback is in Ballot Nav Shared Drive > Market Fit Research > Customer Development ([Link](https://drive.google.com/drive/folders/1unh54flAXwspRLh3sv0rYMkhJCpn5_65?usp=sharing))
Link: https://docs.google.com/spreadsheets/d/11lSWFNMLjr_zji3OMM2ReGFl9ZdG1dSfHtbYZiTjm6Y/edit?usp=sharing
Have added this link at the bottom of the customer interview questions doc at: https://docs.

[2022-06-09 06:28] layneam commented on #492
Calendly set up, link: https://calendly.com/ballotnav/voter-mobilization-research-interview?month=2022-06
![image](https://user-images.githubusercontent.com/20083861/172779351-055b5e70-6a8c-4c22-840c-d281d2beb534.png)

[2022-06-09 13:13] kcoronel commented on #469
@staceyrebekahscott I still need to connect with Alina for her transfer of files

@allysmatrix might you be available this week or next ?

[2022-06-09 13:41] kcoronel commented on #479
@staceyrebekahscott Lihui has been removed from everything except slack channels, I don't seem able to do this :(

[2022-06-09 13:56] kcoronel commented on #490
I'm available
M 6/13 - 5-7pm EST
T 6/14 7-9pm EST
Th 6/16 11-3pm EST
F 6/17 2-6pm EST

[2022-06-09 20:29] staceyrebekahscott commented on #479
@kcoronel Please off board Irina, Gayathri and Federica by creating a comment in this issue for each team member and following the off board template in the overview above. (Add the boxes for Miro to the comment, as it is not part of the template.

[2022-06-09 21:16] staceyrebekahscott commented on #479
I feel that these on boardings should be handled as separate issues, as it would be easier for tracking purposes, but I do not want to overcomplicate the process now for the team members we need to off board immediately. Once in Prioritized Backlog, I'll address all of the off boarding issues as a whole.

[2022-06-09 21:16] staceyrebekahscott commented on #468
@kcoronel Gayathri should be off boarded from this issue. Please  move to Prioritized Backlog once Gayathri off board is completed.

[2022-06-09 21:43] #284 closed

[2022-06-09 21:51] staceyrebekahscott commented on #435
@jonlam27 Following up on this: are you able to summarize what you feel needs to be done on these templates?

[2022-06-09 21:52] #307 closed

[2022-06-09 21:53] #271 closed

[2022-06-09 21:54] #258 closed

[2022-06-09 21:55] #295 closed

[2022-06-09 21:56] #280 closed

[2022-06-09 21:56] #264 closed

[2022-06-09 21:56] #273 closed

[2022-06-10 05:06] staceyrebekahscott commented on #492
Posted in BallotNav Slack Channel by Layne 06/07/22:

My action item: reddit post. Here goes.
"Hello Redditors, I am working on a project for Hack for LA (link) and I'm asking for your help.

The project is about improving voter turnout in the USA, so we're looking to learn more about challenges and opportunities re: mobilizing US voters.

I'm looking to talk to people who work or volunteer regula

[2022-06-10 05:12] staceyrebekahscott commented on #492
Posted in BallotNav Slack Channel by Layne 06/08/22:

[Layne (AEST)](https://app.slack.com/team/U032H8FJX6U)
  [8:34 PM](https://hackforla.slack.com/archives/C0191KE1XB7/p1654745684146709)
Ok, first roadblock: I don't have enough Reddit karma to post anything and they have a lot of measures in place to keep out new and inactive accounts. (It was worth a try!) I reckon we move to plan B, reaching o

[2022-06-10 05:18] staceyrebekahscott commented on #492
@layneam I added the text from the postings in the BallotNav Slack channel to this issue, as we need a record in GitHub of the text we are using, and why we are switching to plan B- reaching out to our contacts.

[2022-06-10 05:27] staceyrebekahscott commented on #482
We need to research what is the proper way to document website access, where the code should be stored in GitHub, and where the website should be hosted, as the post above implies that the backend would need to run on someone's computer (why not on HfLA supported storage like AWS?).

[2022-06-10 05:32] staceyrebekahscott commented on #482
@jmensch1 Hi Jake, is the backend currently running on your computer? And if so, can you expand on why the site was set up to run this way?

[2022-06-11 22:23] jonlam27 commented on #435
Hey @staceyrebekahscott, sure thing.

- There wasn't a whole lot of feedback on the template itself when it was created so it would be great to get some input on how everything is structured and the overall look and feel.
- the work for the template stopped as I was trying to find a suitable banner for the google forms template - the images in the figma file weren't the right dimensions so I loope

[2022-06-13 20:03] staceyrebekahscott commented on #492
[Layne (AEST)](https://app.slack.com/team/U032H8FJX6U)
 [Yesterday at 4:00 AM](https://hackforla.slack.com/archives/C0191KE1XB7/p1655031611270419)
Progress report:
Not that this should be a shock to anyone, but I'm not finding recruiting super-easy :sweat_smile:
I have two friends who have said they'd talk to me but haven't gotten them on my schedule yet. (One of them is Kent G who responded on ou

[2022-06-14 08:19] layneam commented on #492
Progress report 14 June:

I attended an LA Forward event today, it was a debrief about the recent CA primary election and it was pretty well attended, over 50 people I believe. It was very worthwhile hearing people talk about the GOTV context, what activities they're doing in this space, their successes and their frustrations.

I've also stoked a few conversations on Twitter and email with field o

[2022-06-15 00:05] staceyrebekahscott commented on #482
[Layne (AEST)](https://app.slack.com/team/U032H8FJX6U)
 [Today at 4:09 PM](https://hackforla.slack.com/archives/C032MFWFNE5/p1655248189321319)
 It looks like the code is on GitHub already.
hi Layne, yeah all the code is on github here: https://github.com/hackforla/ballotnav. you might need to get access from Bonnie. There are README docs in there that explain how to set up the various pieces of th

[2022-06-15 00:54] aNullValue commented on #482
Yes, the code has been in the github repo since day 1. There's no access necessary; it's an open repository and anyone in the world can see it.

The site wasn't so much set up to run on an individual's laptop so much as it's not currently running in any production environment, so on some individual's computer is the logical place where it could be run for demonstration purposes.

[2022-06-15 01:11] jmensch1 commented on #482
yeah it used to run on AWS like other HFLA projects, i’m not what the status of that infrastructure is though.

[2022-06-15 18:09] kaerii commented on #492
@staceyrebekahscott For emailing organizations, should I send emails from the BallotNav email or from my personal email?

[2022-06-15 21:49] staceyrebekahscott commented on #492
[Layne (AEST)](https://app.slack.com/team/U032H8FJX6U)
 [Today at 1:18 AM](https://hackforla.slack.com/archives/C0191KE1XB7/p1655281085444979)
A few followup notes to today's meeting:
I've updated the [research spreadsheet](https://docs.google.com/spreadsheets/d/11lSWFNMLjr_zji3OMM2ReGFl9ZdG1dSfHtbYZiTjm6Y/edit#gid=0) with my notes from the LA Forward debrief (+ a couple nuggets I found on Reddit)

[2022-06-15 21:51] staceyrebekahscott commented on #492
@kcoronel Thank you for the help here. Yes, please make the connection for Mya and Sophia to both myself and Carrie.

@kaerii Based on our availability we can discuss who follows up with Sophia or Mya.

[2022-06-15 23:21] #269 closed

[2022-06-15 23:23] #268 closed

[2022-06-15 23:24] #265 closed

[2022-06-15 23:26] #9 closed

[2022-06-15 23:27] #64 closed

[2022-06-15 23:27] #229 closed

[2022-06-15 23:28] #86 closed

[2022-06-15 23:29] #255 closed

[2022-06-15 23:29] #254 closed

[2022-06-16 02:07] kcoronel commented on #492
@kaerii adding here the information for BallotNav gmail access.

First, go [here](https://hackforla-team.1password.com/) and sign in. If you’ve misplaced your password, please choose to recover your password. If you are able to sign in, please head to vaults and search for ballot nav, on the left hand side you will see something that says view vault, review this for the gmail folder which has our

[2022-06-16 04:18] #74 closed

[2022-06-16 04:19] #84 closed

[2022-06-16 04:19] #80 closed

[2022-06-16 04:20] #110 closed

[2022-06-16 04:20] #112 closed

[2022-06-16 04:21] #257 closed

[2022-06-16 04:22] #90 closed

[2022-06-16 04:22] #107 closed

[2022-06-16 04:23] #111 closed

[2022-06-16 04:23] #76 closed

[2022-06-16 04:23] #240 closed

[2022-06-16 04:23] #250 closed

[2022-06-16 04:24] #251 closed

[2022-06-16 04:24] #87 closed

[2022-06-16 04:24] #252 closed

[2022-06-16 04:25] #253 closed

[2022-06-16 04:28] staceyrebekahscott commented on #483
[Qualifying Survey June 2022](https://docs.google.com/forms/d/1GADkFOXhVtGV-Dndy5-pnEMMBD74ZoOWkGhPTJ_axVI/edit)

[2022-06-16 04:29] staceyrebekahscott commented on #493
- Added link to survey to issue #483
- Use of the survey depends on our outreach method

[2022-06-16 04:29] #493 closed

[2022-06-16 04:30] staceyrebekahscott commented on #493
@layneam Removed your assignment and closed issue, added link for survey to #483

[2022-06-16 04:36] staceyrebekahscott commented on #490
- Will continue adding notes on documentation and process to #483, all other issues related to this phase of the project will also be linked to #483

@layneam Removing you from this issue and closing.

[2022-06-16 04:36] #490 closed

[2022-06-16 04:57] staceyrebekahscott commented on #492
[Layne (AEST)](https://app.slack.com/team/U032H8FJX6U)
  [8:09 PM](https://hackforla.slack.com/archives/C0191KE1XB7/p1655348979442859)
I had fun at the Sister District Northeast San Fran meeting just now; there wasn't as much discussion about pain points or challenges but I did get some insights into how they approach voter turnout. We practiced having conversations with voters using a "3 Vs" fram

[2022-06-16 05:25] staceyrebekahscott commented on #492
@layneam Great insight on the spreadsheet from the LA Forward and Sister District meetings. Thank you for attending those and taking such detailed notes.

My initial thoughts from this are:
- Voters need better resources in one place for finding out about all of the candidates, especially judges and controllers (roles that are a bit more obscure and unfamiliar to the average, low information voter

[2022-06-16 06:04] layneam commented on #492
More events to check out:
- All In Challenge: https://allinchallenge.org/resource-hub/webinar-series/ (The next event is Increasing Voter Turnout at Community Colleges Thursday, June 23 from 2:00 – 3:30 PM ET and there are older recordings available as well)
- Democracy North Carolina: https://democracync.org/events/ (Next event is Early Voting Advocacy Training on 23 June 6-7.30PM ET)
- Swing Lef

[2022-06-16 06:10] layneam commented on #492
@staceyrebekahscott Lots and lots of opportunities here, holy cow. Hopefully by attending more meetings and asking thoughtful questions where possible, we can start teasing out common themes. Thanks for your feedback, I think those are some good problem statements. I like the idea of synthesizing insights into customer needs (as you've done) and keeping them somewhere. I will have a think about th

[2022-06-16 06:56] staceyrebekahscott commented on #441
## [06/14/22] Agenda  and notes

### Roll Call
Stacey
Layne
Carrie
Jon
Drew

#### Agenda
- Review of past few weeks of outreach
- Learnings
- How we want to move forward
- How to structure meetings going forward
- Temp check from everyone

#### Notes from meeting
- Main work now is to validate problems in the voting space
  - starting with national GOTV efforts
  - Tried multiple tactics
    -  Wh

[2022-06-16 07:11] staceyrebekahscott commented on #482
@layneam @kcoronel As per the conversation at the last team meeting, we do not need to do anything with the website at this time. Closing this issue and removing assignments.

[2022-06-16 07:11] #482 closed

[2022-06-16 07:23] staceyrebekahscott commented on #435
@jonlam27 I think for the documentation we are creating, the graphics are fine for now. As we are now researching a new direction for the project and may need to redesign all of the graphics, I no longer think working on the current set is the best use of our time. If we create something and need a graphic that is not quite right, we will address it at that time.  I'll remove your assignment and c

[2022-06-16 07:23] #435 closed

[2022-06-16 22:07] staceyrebekahscott commented on #492
Before posting on the Slack channels, I reached out to Stephanie from Civic Tech Jobs via Slack, as she posted a survey on the channels recently, and I wanted to see what feedback she had on the process before posting.

[2022-06-17 01:01] layneam commented on #492
@staceyrebekahscott I can't find the other org that had previous meeting recordings readily, but the All In link should have enough to keep some folks busy for the moment, thank you for taking a look.

re: adding insights to a tab, that does sound like an obvious and simple solution. But I would also like to be able to track what exactly we heard/read/saw that led to that insight, and how often it

[2022-06-17 02:07] staceyrebekahscott commented on #492
I looked into the website All In Campus Democracy Challenge, focused on mobilizing college students. I reviewed 2 reports:
[Strengthening American Democracy: A guide for developing an action plan to increase civic learning](https://allinchallenge.org/wp-content/uploads/StrengtheningAmericanDemocracyGuide_VOL3.pdf)
[2022 All In Campus Action planning report](https://allinchallenge.org/wp-content/up

[2022-06-18 06:30] layneam commented on #492
I am signed up for these events:

- [Indivisible Sonoma County Out-of-District Meeting](https://act.indivisible.org/event/local-actions/166150/signup/) Monday, June 20, 6:00 PM
- [Happy Hour - Every Friday - Where we talk about Stuff of the Week](https://act.indivisible.org/event/local-actions/164208/signup/?akid=&zip=&source=) Friday, June 24, 5:45 PM
- [DEFEND OUR CIVIL and VOTING RIGHTS](https:

[2022-06-20 21:44] staceyrebekahscott opened #494 "Collecting Customer Data via Email Outreach to Voting Organizations"
### Overview
Finding organizations that have voting as their main focus and emailing to see if we can schedule interviews.

Notes from meeting on 06/14/22:

- Sending emails to info@ (general) inbox at organizations.
  - Idea re: finding people via LinkedIn to send to directly has not yielded results in past experiences.
- Generally having difficulty with cold email outreach
  - This method works

[2022-06-20 21:47] staceyrebekahscott commented on #492
Created new issue #494 to address further progress on emailing organizations for interviews, assigned issue to @kaerii

[2022-06-20 22:03] staceyrebekahscott commented on #494
@kaerii Please use this issue going forward to document your work on emailing organizations, scheduling interviews and documenting the process.

Tasks for this week:
- [ ] Sending follow up emails to the organizations emailed on 06/15/22- if it has been at least 7 days since last contact and no response (factor in that June 20 is the Juneteenth holiday).
- [ ] Finding 10-15 more organizations and

[2022-06-20 22:20] staceyrebekahscott commented on #494
Some other orgs with affiliate links to research:

https://866ourvote.org/partners/
https://nationalvoterregistrationday.org/2022-partners/
https://www.voteriders.org/partners/
https://www.populardemocracy.org/our-affiliates
https://allianceforyouthorganizing.org/our-network/

[2022-06-20 22:34] staceyrebekahscott opened #495 "Collecting Customer Data via Recorded Webinars or Calls"
### Overview
Search for organizations that have recorded webinars, calls, meetings or summits that we can watch/listen to and pull insights from.

For general notes: [Ballot Nav Customer Development Activity Log](https://docs.google.com/document/d/1AVk86a_4MsXkrCrV7tuqfZCeIgLR2CcP6k21kqLYuR8/edit)
For keeping track of contacts and responses: [Voter Mobilization Research Feedback](https://docs.goog

[2022-06-21 03:44] layneam commented on #492
Continuing on this thread per Stacey's comment `I am in the process of creating some new issues, breaking up issue # 492 into smaller chunks- the comments are getting very long. Layne- I think you should continue posting all of your work in issue # 492.`

Attended [Individisible Sonoma County Out of District Meeting](https://www.mobilize.us/indivisiblesonomacounty/event/446687/).
**Background info

[2022-06-21 22:58] jonlam27 commented on #495
hey @staceyrebekahscott sure thing, I can start by taking National Low Income Housing Coalition

[2022-06-21 23:13] layneam commented on #492
Attended [Movement Labs Weekly Training](https://us06web.zoom.us/meeting/register/tJIvce2srTwqHdIfcSCnVbGE1_s-Fl80lnlZ).
**Background info**
- Movement Labs hosts volunteer driven textbanking for progressive orgs like Black Voters Matter, Contest Every Race, Defend Democracy, regional branches of the Democratic party, etc. View a list of current and upcoming campaigns [here](https://movementlabs.c

[2022-06-22 09:53] layneam commented on #492
Attended [We Are All Organizers: Community Organizing Host Training](https://events.democrats.org/event/404981/)
**Background info**
- The goal of "Organizing Everywhere", a project of the DNC, is to build capacity for volunteers in all 50 states to activate relational networks whenever needed. https://www.youtube.com/watch?v=Ev8av5bKupQ
- Here's a [list of resources](https://docs.google.com/docum

[2022-06-23 02:12] layneam commented on #492
Attended [Overcoming the Rural-Urban Divide Pt 2](https://www.eventbrite.com/e/overcoming-the-rural-urban-divide-a-training-for-indivisible-june-15-22-registration-325285596977)
**Background info**
- This is part 2 of the Overcoming the Rural Urban Divide talk; the first part is here: https://www.youtube.com/watch?v=mhkXe6fxhsE
- The talk was really about how Democrats need to change their thinkin

[2022-06-26 03:04] staceyrebekahscott commented on #494
- Prepared and sent Mya Stark questions via shared Google Doc (she has long COVID and it's easier for her to give written responses).

[2022-06-26 03:07] staceyrebekahscott commented on #494
@kaerii I have been in contact with Mya Stark (see shared Slack DMs). How is your research going? Were you able to connect with Sophia yesterday? Please update with your notes ASAP. Thanks!

[2022-06-26 04:00] staceyrebekahscott commented on #495
@jonlam27 How is your research going so far? Any insights from the Housing Coalition videos?

[2022-06-27 19:57] staceyrebekahscott commented on #494
Adding @zuriisawesome to this issue.

@kcoronel Can you give Zuri the same access to the BallotNav email that Carrie has, with the forwarding to her personal email as well?

[2022-06-27 20:09] staceyrebekahscott commented on #469
Sent message to Brian Chen (summer 2022 intern) via Slack to see what assistance they can offer on this issue.

[2022-06-27 21:45] staceyrebekahscott opened #496 "Recruiting UX Researchers"
### Overview
To recruit UX researchers to help us with our current research issues, as well as documentation and workflow.

### Action Items

- [x] Write text for posting
- [x] Post in Slack Channels
   - [x] UI-UX
   - [x] General
   - [x] New Joiner Orientation
- [x] Post on CoP

[2022-06-27 22:04] kcoronel commented on #494
@zuriisawesome I have sent you an invite to 1Password (HackforLA's password manager), please create an account, once you are done with that, I will confirm you to the team and add you to the BallotNav vault which is where you will find BallotNav's gmail password, which you will need to sign in to the account and send emails from. I will have all responses from BallotNav's email forwarded to your p

[2022-06-28 01:09] staceyrebekahscott commented on #488
Moving to Planning To Do, a new UX person may be assigned to take a look at this and generate some new ideas on how to document our processes.

[2022-06-28 01:12] staceyrebekahscott commented on #491
Moving to Planning To Do, based on new research we may add new personas to this deck.

[2022-06-28 01:21] staceyrebekahscott commented on #496
Text for posting in Slack Channels:

Hello UX researchers/designers: We at BallotNav are currently conducting product-market fit research, collecting data from organizations that work to mobilize US voters. Our goal is to gain a better understanding of the pressing issues and challenges volunteers and field organizers face.

Right now we are looking for someone to help with organizing our customer

[2022-06-28 01:30] staceyrebekahscott commented on #496
Posted in UI-UX, General and New Joiner Orientation Slack Channels.

[2022-06-28 02:15] staceyrebekahscott commented on #461
Notes from PM Meeting 06/21/22:

- Using the Wiki page more effectively to organize- To serve as a general framework of what we have done so far.
  - Creating a Wiki to document the project progress- what BallotNav 2.0 accomplished, why we are doing Market Fit Research now (this could be a replacement for the on boarding slide deck)
  - Wiki can serve as a central place to find everything and docu

[2022-06-28 02:37] staceyrebekahscott commented on #461
Notes from Async meeting on 06/27/22:

Layne:

- I'm still planning to attend organizing meetings this week and next.
- I attended a couple at the end of last week which didn't lead to anything very productive, which is fine. I was signed up for a 3 hour webinar on Sunday (Muslims Vote) but it was cancelled without explanation. The useful ones I attended last week are summarised on the issue, #492

[2022-06-28 04:10] staceyrebekahscott opened #497 "Ossoff For Senate- GitHub OutReach"
### Overview
Look into how the Ossoff campaign used [ossoffforsenate/OutReach](https://github.com/ossoffforsenate/OutReach) and see if we can use it to build something.

### Action Items
- [x] Reach out to the contributors and see what we can do with it

[2022-06-28 04:25] layneam commented on #497
To add a little more color to this, the context is that the Ossoff campaign used a campaign organizing tool in the market (Reach) and built an open source extension on top to help volunteers turn their voter data into phonebanking lists. My thought is there's a good chance that the Ossoff team may have noticed other opportunities while building this extension, whether another potential extension o

[2022-06-28 04:36] staceyrebekahscott commented on #441
## [06/21/22] Agenda  and notes

### Roll Call
Layne
Stacey
Karen
Jon

Agenda:
- Notes from research Layne has done
- Learnings from this week
- Review of issue assignments

#### Notes from meeting

- Relational Organizing- same as community organizing
  - Person to person organizing to encourage people to speak to people that they know
- App: [Reach.vote](https://www.reach.vote/) used to organize

[2022-06-28 20:09] staceyrebekahscott commented on #497
@kcoronel This is assigned to you.

[2022-06-28 20:11] staceyrebekahscott commented on #496
Received response via DM on Slack from Kimberly Cardenas- I followed up asking her about her experience with respect to the job description.

[2022-06-29 00:54] jonlam27 commented on #495
Hey @staceyrebekahscott, yup got some insights. Wanted to summarize my findings before the meeting today but had some personal issues that took up majority of the time. Will have this done hopefully after the meeting though

[2022-06-29 01:20] zuriisawesome commented on #494
just signed up for 1Password!

[2022-06-29 02:56] jonlam27 commented on #495
**Summary of Findings - 4 NLIHC Webinars**

- The National Low Income Housing Coalition (NLIHC) played an important role in getting policymakers to start talking about homelessness and affordable housing.
- Focus should be on getting constituents to talk and demand to see policy change – we need to elect the right people to office.
- There’s currently resistance from housing councillors as they ar

[2022-06-29 06:07] staceyrebekahscott commented on #494
@kcoronel Please confirm Zuri's access to 1Password and forwarding in Gmail.

[2022-06-29 06:58] staceyrebekahscott commented on #441
### 06/28/22: Notes from Team Meeting

**Agenda:**

- Progress check on issues
- Learnings from this week
- Availability for July (vacations, etc)
- Goals and Expectations for the project work

**Roll Call:**

- Stacey
- Layne
- Karen
- Zuri
- Jon
- Carrie

**Progress on Issues:**

Carrie: #494
- Call with Sophia on 06/24/22- Sophia had to reschedule.
- Email from Vanessa Snow - followed up twice

[2022-07-05 19:36] staceyrebekahscott commented on #469
Sent Brian Chen message from https://github.com/hackforla/google-drive-migration/issues/5 to add Karen as an assignee to the issue.

[2022-07-05 20:14] staceyrebekahscott commented on #496
Received 3 inquiries, followed up via DM or in BallotNav channel.
- Kimberly Cardenas
- Joyce Yang
- Brittany Anjou

- [ ] Discuss with Layne & Karen
- [ ] Set up issue template for on boarding
- [ ] Create on boarding issues

[2022-07-05 23:42] kcoronel commented on #497
Sent the following email on 7/5:

Hi Ben,

My name is Karen and I am a volunteer at [Hack for LA](https://www.hackforla.org/), a brigade of [Code for America](https://codeforamerica.org/) which works with communities and governments to build digital tools and services. We’re currently working on a project about improving voter turnout in the US, and we’re looking to learn more about challenges and

[2022-07-06 01:24] staceyrebekahscott commented on #494
Sent a DM via Slack to Sophia Alice to get a call scheduled with the PM team for sometime this week.

[2022-07-08 22:13] staceyrebekahscott commented on #494
@kaerii @zuriisawesome I wanted to check in and see where you stand on progress on this issue. Are you having any issues or challenges with emailing more organizations? Please let us know so we can assist.

[2022-07-08 22:24] staceyrebekahscott commented on #495
@jonlam27 Great work on the Housing coalition videos. This is great insight.

Do you have time to take a look at another organization's videos, either the When We All Vote summit, or the All In Campus Democracy Challenge?

[2022-07-09 10:19] layneam commented on #492
My computer took a crap last week and I lost all my notes, sorry for the wait. Here are the meetings I went to in the past 2 weeks.

1. [Listening Session for Native American Voices](https://www.eventbrite.com/e/listening-session-for-native-voices-tickets-354116069697) by the Oklahoma Policy Institute
- A general session to hear about issues in the community, not voting specific
- Major themes: me

[2022-07-11 05:55] staceyrebekahscott commented on #496
- Kimberly Cardenas confirmed she is going to be on the website team.
- Sent messages to Joyce Yang and Brittany Anjou re: joining the team.

[2022-07-11 06:02] staceyrebekahscott opened #498 "Onboard UX Researcher: Joyce Yang"
### Overview
Onboarding of Joyce Yang to the BallotNav UX Team.

### Action Items
#### Onboard
- [x] Slack channel membership
  - [x] #ballotnav
  - [x] #ballotnav-design
- [ ] Add to Google calendar invites
   - [ ] Tuesday 6PM PST - All-team meeting
- [x] Tag PM to request for you to team page on Wiki
- [ ] Google Drive
   - [ ] Add to drive as Contributor
- [x] Request roster from PM team
  - [

[2022-07-11 06:04] staceyrebekahscott commented on #498
@Keep an eye out for Joyce's name on roster to get her repo access, etc.

[2022-07-11 06:06] staceyrebekahscott opened #499 "Onboard UX Researcher: Brittany Anjou"
### Overview
Onboarding of Brittany Anjou to the BallotNav UX Team.

### Action Items
#### Onboard
- [x] Slack channel membership
  - [x] #ballotnav
  - [x] #ballotnav-design
- [x] Add to Google calendar invites
   - [x] Tuesday 6PM PST - All-team meeting
- [x] Tag PM to request for you to team page on Wiki
- [x] Google Drive
   - [x] Add to drive as Contributor
- [x] Request roster from PM team

[2022-07-11 06:09] staceyrebekahscott commented on #499
@kcoronel Keep an eye out for Brittany's name on roster to get her repo access, etc.

[2022-07-11 06:18] staceyrebekahscott commented on #496
- Assigned on boarding issues to Karen.
- Sent Brittany and Joyce roster and asked that they join us for the team meeting on Tuesday.
- Moved posting for UX researcher on UX CoP Open Roles to Filled column.

[2022-07-11 06:18] #496 closed

[2022-07-11 06:19] staceyrebekahscott commented on #496
[Joyce Yang](https://app.slack.com/team/U035R1162SH)
  [12:18 PM](https://hackforla.slack.com/archives/D03N9H4MYU9/p1656616694589319)
Hi Stacey! I saw your post about needing UX Designers for the ballotnav project and was hoping to get more info on how to get started. Thanks!

[Stacey (she/her)](https://app.slack.com/team/U02U9Q5DUF6)
  [12:23 PM](https://hackforla.slack.com/archives/D03N9H4MYU9/p

[2022-07-11 06:21] staceyrebekahscott commented on #496
[Brittany Anjou](https://app.slack.com/team/U03BN5X60E5)
 [Jun 30th at 3:54 PM](https://hackforla.slack.com/archives/C0191KE1XB7/p1656629642773959)
Hi all, I saw you are in need of UX to go over research documentation etc., and I am looking for a project to volunteer on here in July. Can you let me know the time committment, meeting times, and any project links of the product?  Hoping we are a fit

[2022-07-11 19:17] zuriisawesome commented on #494
Hi @staceyrebekahscott sorry for the late response! When I go to login to the HFLA gmail account, I need to use the password saved in 1Password. I forgot the password that is the key to all of the other passwords I have saved in the system, and was wondering if I could get an administrator's help recovering it (@kcoronel). Once I can do that, I'm happy to email a few of the organizations listed ab

[2022-07-12 22:22] zuriisawesome commented on #494
great! I emailed about 7 organizations yesterday and am still waiting to hear back. I can email at least 10 more later this week

[2022-07-12 23:17] jonlam27 commented on #495
hey @staceyrebekahscott, yup. I actually experienced a major internet outage on Friday that lasted all weekend. Managed to still squeeze in some time for part 1 of the summit hosted by When We All Vote though. I've left notes below on my findings (some similar with what we already have, some newer insights):

[The Culture of Democracy Summit: Friday, June 10](https://www.youtube.com/watch?v=VJNBE2

[2022-07-14 04:11] staceyrebekahscott commented on #498
Sent follow up email to Joyce re: joining the project.

[2022-07-14 05:19] staceyrebekahscott commented on #492
Websites discussed during call with Sophia Alice re: Data collecting/ analysis and voter mobilization.

https://www.bluebonnetdata.org/

https://www.civisanalytics.com/

https://catalist.us/

https://targetsmart.com/

https://movementcooperative.org/

https://github.com/move-coop/parsons

https://generationdata.org

https://twitter.com/thebmbennett

https://twitter.com/thebmbennett/status/15415721

[2022-07-14 05:47] staceyrebekahscott commented on #499
Sent Brittany a message letting her know that Karen should be reaching out to her shortly.

[2022-07-15 04:02] staceyrebekahscott commented on #441
## [07/15/22] Agenda  and notes

### Agenda

- Check in on issues
- Intro of new team members
- Overview of Impact Sprint initiative
- Goals for next week

### Roll Call

#### Notes from meeting

#### Items for next week's agenda

[2022-07-16 20:36] uxmusic commented on #499
Thank you @kcoronel  and @staceyrebekahscott for assisting in my onboarding! Looking forward -

[2022-07-19 02:40] staceyrebekahscott commented on #498
Sent another follow up to Joyce. If no response by the next team meeting, I will close this issue.

[2022-07-20 00:41] jonlam27 commented on #495
[The Culture of Democracy Summit: Monday, June 13](https://www.youtube.com/watch?v=uHCHXfDLDys)

**Summary of Findings – Culture of Democracy Summit Part 2**

- All laws since 1865 are race-neutral, doesn't mean they weren't voter suppression laws though
- ever since the 15th amendment, you couldn't pass laws that specifically targeted people by race. However, we would still see:
  - grandfather l

[2022-07-21 15:40] kcoronel opened #500 "Impact Sprints Meeting [CFA"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2022-07-21 15:47] kcoronel opened #501 "Impact Sprints Meeting [with CFA]"
### Overview
First intro meeting between CFA + HackforLA

### Action Items
- [ ] Introductions
- [ ] State of project
    - [ ] Update on Vote.org's ballot tool
    - [ ] Still continue with trying to get into partnership

- [ ] Turn project to a scoping project
    - [ ] What are the new objectives here? What will be shown towards end of project
    - [ ] Explore what is happening
         - Does

[2022-07-23 03:09] staceyrebekahscott commented on #469
@kcoronel Charity Lai from the Internship team made this video on transferring files. It maybe helpful to send to the owners of whatever files remain to be moved : [How to Move Files- Google Drive Migration](https://vimeo.com/732555917/09534ef887)

[2022-07-24 22:23] jonlam27 commented on #495
Hey team, I went over the All In Campus Democracy Challenge seminars and wasn't able to find too much info that we can really use imo.

For context, ALL IN is a non-partisan initiative of the nonprofit organization Civic Nation. It supports campuses to increase nonpartisan democratic engagement through civic learning, political engagement, and student voting etc.

A lot of what has been mentioned

[2022-07-26 23:07] kcoronel commented on #441
## 7/26/22 Agenda  and Notes

### Prework

### Roll Call

#### Recurring items: Happens on Tuesday meetings

#### New Items
- [ ] Team updates from the last week
- [ ] [Findings Presentation](https://docs.google.com/presentation/d/1jOkgKBVxLal0bvITrSY0GX71I4SKUXJ-PoeLTYbE4zg/edit#slide=id.g13df4207215_0_12)(created by Layne)
- [ ] Next Steps:
     - [ ] [CFA Impact Sprint ](https://docs.google.com

[2022-07-27 01:08] staceyrebekahscott commented on #498
@kcoronel Joyce is ready to finish being on boarded.

[2022-08-03 00:26] kcoronel commented on #451
closing this issue because we have stepped away from this model of splitting the PMs into 4 different tracks.

[2022-08-03 00:26] #451 closed

[2022-08-03 00:27] kcoronel commented on #479
Also need to offboard Seyoung

[2022-08-03 00:32] kcoronel commented on #483
Closing this issue because it looks like all tasks have been completed.

[2022-08-03 00:34] #483 closed

[2022-08-03 00:38] kcoronel commented on #492
Closing this issue because it looks like all tasks have been completed

[2022-08-03 00:38] #492 closed

[2022-08-03 00:43] #499 closed

[2022-08-03 00:44] kcoronel commented on #497
Sent a follow-up on 8/2

[2022-08-03 00:47] kcoronel commented on #494
@zuriisawesome can you create a spreadsheet for all the organizations you emailed? This way we can attach it to this issue and have a reminder of it. Please be sure the document is created within the BallotNav Shared folder. Thank you!

[2022-08-03 00:48] kcoronel commented on #495
@jonlam27 is this issue complete? If so, I will close it. Thanks!

[2022-08-03 00:53] zuriisawesome commented on #494
hi @kcoronel – all of that information lives [here](https://docs.google.com/spreadsheets/d/11lSWFNMLjr_zji3OMM2ReGFl9ZdG1dSfHtbYZiTjm6Y/edit?usp=sharing)!

I can't remember who created this spreadsheet – maybe Carrie or Stacey – but I've just been adding to it.

[2022-08-03 00:56] kcoronel commented on #441
## 8/2/22 Agenda  and notes

### Prework
- [x] none this week

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [x] Accountability and Support Check.

#### New Items
- [ ] [Team retro](https://prbl.in/6NV3FXCAZJCG)
- [x] Comment on your issue if it is ready to be closed up (all action items have been completed or an explanation for why they weren't able to completed)
- [x]

[2022-09-20 01:10] kcoronel opened #502 "Designer Work"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2022-09-20 01:10] kcoronel opened #503 "Onboard & Offboard: Team members"
### Dependencies
Team members joining or leaving

### Overview
We need to have a checklist of items to do when a team member [not product manager or UX lead] onboard and offboards so that the process can be consistent and fast.

### Date Updated
- Created 2022-09-22
- This issue has fewer items on it then the onboard for product does. However, it pays to keep an eye on the template/changelog so th

[2022-09-20 01:10] kcoronel opened #504 "Update 1-pager"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2022-09-23 04:08] kcoronel commented on #500
## [Date] Agenda  and notes

### Prework
- N/A
-
### Roll Call
Bonnie
Karen

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/admin/issues/assigned/ExperimentsInHonesty)
       - [ ] [Karen](https://github.com/hackforla/admin/issues/assigned/kcoronel)
 - [ ] co

[2022-09-27 14:09] kcoronel opened #505 "Add presentation icons to Figma"
### Overview
By adding the project's logo/image to your project's primary repository, we will be able to dynamically deliver up to date information about your project to the hackforla.org website.  Also when people add the link to the repository in LinkedIn or Slack, or other social media it will automatically use the image as well as the description, improving the link's chances of getting clicke

[2022-10-05 01:17] kcoronel commented on #441
## 10/4/22 Agenda  and notes

### Prework
- [x] issue for audit [to be added once there is an issue]

### Roll Call

#### Recurring items:
 - [x] Accountability and Support Check.

#### New Items
- [x] Give a tour of Vote.org presentation
- [ ] Begin to research other state websites and document how they look, feel, what tasks can be accomplished, etc.
     - [ ] California Secretary of State site

[2022-10-12 00:47] kcoronel opened #506 "Gather Insights on the California Secretary of State Voting Site"
### Overview
In an effort to understand and document how ballot drop box information is shared by the California Secretary of State site for the upcoming midterm elections happening on Tuesday, November 8, 2022.

### Action Items
- [x] Make a copy of the BallotNav Presentation template and title it [Insights on the California Secretary of State Voting Site]
- [x] Make sure the above presentation i

[2022-10-12 01:17] kcoronel commented on #506
@kcoronel needs to update the BallotNav Communications Guide for Document Creation [INTERNAL] link

[2022-10-12 01:23] kcoronel opened #507 "Gather Insights on the Los Angeles Voting (LA Vote) Website"
### Overview
In an effort to understand and document how ballot drop box information is shared by the LA Vote site for the upcoming midterm elections happening on Tuesday, November 8, 2022.

### Action Items
- [x] Make a copy of the BallotNav Presentation template and title it [Insights on the LA Vote Website]
- [x] Make sure the above presentation is saved in [this folder](https://drive.google.co

[2022-10-12 01:26] kcoronel commented on #506
@kcoronel add more rural addresses

[2022-10-13 06:36] kcoronel opened #508 "Figma Organization"
### Overview
UI/UX team will take an audit of current Figma organization for the project. At the end would like to have an easy "guide" or "how to" for anyone who needs to gather anything.

Wireframes should not be edited

### Action Items
- [ ] Confirm UI/UX team has access to Figma
- [ ] Take audit of Figma
- [ ] Decide what is the best way to organize Figma
- [ ] Document your organizational wa

[2022-10-13 06:44] kcoronel commented on #508
@chelsealensing do you think you can start this issue? I think the final decision on how we organize the Figma and how we document will probably be a group decision/group work. Let me know what you think. I am working on getting ownership of the Figma.

[2022-10-14 02:31] jonlam27 commented on #506
hey @kcoronel, I just started working on this and wanted to get some clarification. Should I be viewing the California SoS site as someone who wants to specifically find out where I can drop off my ballot (what BallotNav helps with) or as someone who wants to know more about the voting/election process in general? Just want to make sure I have the scope right. Thanks!

[2022-10-14 16:00] kcoronel commented on #506
@jonlam27 as someone looking to drop off their ballot

Let's chat about how to document the voting/election process on our Tuesday meeting.

[2022-10-16 23:34] jonlam27 commented on #506
mapped some paths in [miro](https://miro.com/app/board/uXjVPYeZ7xE=/?share_link_id=291580618182)

[2022-10-17 17:52] chelsealensing commented on #508
@kcoronel - I'm going to assign myself to it and start to look into it and poke around! I agree though, I definitely won't do anything without discussing with the team first! :)

[2022-10-17 22:53] kcoronel commented on #508
@chelsealensing sounds good! I just sent you an invite that should let you "edit" the Figma

[2022-10-19 00:59] kcoronel commented on #441
## 10-18-22 Agenda  and Notes

### Prework
None

### Roll Call

#### Recurring items:
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each team member
       - [x] [Jon](https://github.com/hackforla/ballotnav/issues?q=assignee%3Ajonlam27+is%3Aopen)
       - [x] [Chelsea](https://github.com/hackforla/ballotnav/issues?q=assignee%3Achelsealensing+is%3Aopen)
       - [x] [Kar

[2022-10-19 23:11] chelsealensing commented on #507
@kcoronel - I moved this task to **Questions/In Review**

[2022-10-25 22:49] jonlam27 commented on #506
updated [Slide deck](https://docs.google.com/presentation/d/1R-CrN8Aw-lGflJC8BnCldgXngTZ8tMRq6sp3Gnk6XHs/edit?usp=sharing) with summary of findings so moving to done

[2022-10-25 22:49] #506 closed, assigned to jonlam27

[2022-11-16 02:05] kcoronel commented on #441
## 11-15-21 Agenda  and notes

### Prework
- [ ] issue for audit [to be added once there is an issue]

### Roll Call
Jon
Karen
Chelsea

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
 - [ ] continue adding labels to the issue that are still missing them (see audit links above)

#### New Items
- [ ]
- [ ] Make new agenda for next week
  - [ ] Carry f

[2022-11-22 20:07] kcoronel opened #509 "Exploring Partnership with Democracy Works' Voting Information Project"
### Overview
In November 2022, @kcoronel reached out to [The Voting Information Project](https://www.votinginfoproject.org/) a sub-project of Democracy Works, after finding their email in the ballot drop box tool that [vote.org uses on their site](https://vit.votinginfoproject.org/). This is an issue documenting meeting coordination, meeting notes, and other resources.

### Action Items

- [ ] Con

[2022-11-22 20:10] kcoronel commented on #509
Bonnie's availability as of 11/22/22

2023-01-04 Wed 11am PT
2023-01-04 Wed 2-4pm PT
2023-01-05 Thurs 1pm PT
2023-01-05 Thurs 3pm PT
2023-01-06 Fri 1-3pm PT