[2020-08-19 00:47] ExperimentsInHonesty opened #1 "Create project card for BallotNav"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [ ]   Gather items
  - [ ]  600 x 400 image
     - [ ]  Alt image text
  - [ ] 1500 x 700 hero image (please do not put project title on hero image)
     - [ ]  Alt image text
  - [ ]  Name of project
  - [ ]  A blurb about your project
  - [ ]  Links (github, slack channel url, Testing Site, Live Site, etc.)
  - [ ]  An

[2020-08-19 23:19] ExperimentsInHonesty opened #2 "Have VRMS add meeting times for BallotNav to project and event database"
### Overview
Get VRMS to add this project to its database so that meeting times can appear on the website team meeting page

### Action Items
- [x] List out team meeting info
    - [x] Tuesdays: 6:00-8:00 (Pacific) Team Meeting
    - [x] Saturdays: 4:00pm-6:00pm (Pacific) Management Meeting
- [x] Reach out to Tech Lead or PM on the vrms slack channel with a link to this issue
- [ ] After they indi

[2020-08-21 00:22] kcoronel opened #3 "One-sheet for Project"
### Overview
Write a one-sheet for the BallotNav project

### Action Items

- [x] Review VRMS one-sheet
- [x] Review Civic Opportunity Project one-sheet
- [x] Produce First Draft of BallotNav project

### Resources/Instructions

[All project one-sheets](https://github.com/hackforla/product-managment/issues/3)

- [VRMS Doc](https://docs.google.com/document/d/1lsRUAAMs1b60LOqQb9H6c4Ky9AbQ7QN4FB1XNEr

[2020-08-21 01:55] kcoronel opened #4 "Create social media accounts for BallotNav"
### Overview
Create social media accounts for BallotNav.

### Action Items
Set up accounts for:

 - [x] Twitter
 - [x] Instagram
 - [x] Facebook

### Resources/Instructions
[BallotNav social media profile pictures](https://drive.google.com/file/d/1asusZ3GqrljVxmskeoOIfmvD98M5Y44p/view?usp=sharing)
email address is ballotnav@hackforla.org and @Arjayellis has the password

[2020-08-21 02:02] kcoronel opened #5 "Create Readme for website"
### Overview
 Update Readme so that people thinking about joining our project know how to contribute.

### Dependency
Adding Project Card to hfa website: https://github.com/hackforla/website/issues/703

### Action Items
- [x] Review the readme resource and figure out what we can include in ours. Also look at the one for civic opportunity as an example
 - [x] Update our readme
- [x] Add link to pro

[2020-08-21 04:24] kcoronel opened #6 "Role Identification"
### Overview
We need to build a team for the BallotNav site.

### Action Items
- [x] Review the roles document
- [x] Identify initial list
- [x] Add requirements to current needs doc

### Resources/Instructions
[General Role Definitions](https://docs.google.com/document/d/1X6d6-Sm_QDQPobiRfqachCSajAOpqRLVUsdCnczhhts/edit#heading=h.7brglf3y33hh
)

[Project Recruiting Current Needs](https://docs.goo

[2020-08-21 04:52] myastark opened #7 "Data Science Community of Practice Meeting 8/20/2020"
### Overview
Relevant excerpts from the chat

### Excerpts
20:22:37	 From Hovanes Gasparian : What was the Rock the Vote site about? Didn’t they have location-based tools?
20:22:43	 From Ryan Swan : 538 has a similar tool: https://projects.fivethirtyeight.com/how-to-vote-2020/
20:23:24	 From Mya Stark : doesn’t seem to have drop-off info either
20:23:24	 From Mya Stark : https://projects.fivethirt

[2020-08-21 14:07] kcoronel opened #8 "DNS setup for BallotNav.org"
### Overview
We need to be able to direct people to BallotNav.org so that they can find the information they need easily.

### Action Items

- [x] Mya to point the domain temporarily at the readme.
- [x] After website is ready for public, The DNS for AWS will be provided and the domain can point to that.

### Resources/Instructions
https://github.com/hackforla/ballotnav/blob/master/README.md

[2020-08-21 14:10] kcoronel opened #9 "Website Use Metrics"
### Overview
Identify how we will measure and report customer facing use

### Action Items
Research and discuss options

### Resources/Instructions
[OKRs Issue](https://github.com/100Automations/Website/issues/6)

[2020-08-21 14:13] kcoronel opened #10 "Assets for website"
### Overview
We will collect assets to put onto website in this issue

### Action Items
- [x] First Item
   - [x] Workshop for Automation https://www.meetup.com/hackforla/events/qlggsrybckbdc/

### Resources/Instructions
[100Automations Youtube Channel](https://www.youtube.com/channel/UCS_BOwZ5Hj3pGHN0gmx4gAA/?guided_help_flow=5)

[2020-08-21 14:14] kcoronel opened #11 "Identify Audience for website"
### Overview
We need to know who we are designing this website for

### Action Items
- [x] Review the one sheet and pull out all the audience types and put in this issue
- [x] Identify audiences we have not named
- [x] Find user stories in the media in order to create personas
- [x] Identify other people to ask including general channel
- [x] Create personas from validated user groups
- [x] Add us

[2020-08-21 14:16] kcoronel opened #12 "Gather & Validate Information Display Requirements"
### Overview
We need to review the information we intend to collect so that we can present ballot information in a way that is valuable to our audience

### Dependency
Competitor/Resource research #14

### Action Item
- [x]  List out all data types we would need to make resource useful
- [x] Review the template with team and validate with outside stakeholders
- [x] Test the model with scrapers

##

[2020-08-21 14:19] kcoronel opened #13 "Identifying the OKR's for BallotNav"
### Dependency
Add OKR Guide to this issue

### Overview
We need to collaborate on identifying how best we will measure the successes using milestones and measurable results.

### Action Items
- [ ] Identify North Star metric for BallotNav
- [x] PM drafts OKR's (up to 3) that support the North Star metric
- [x] PM shares with PM team
- [ ] PM will share with larger team for pre-work before our Tue

[2020-08-21 14:27] kcoronel opened #14 "Competitor Research/Resources"
### Overview
Find out how other websites approach delivering similar information to see what we can implement with our own

### Action Items

- [x] Search the web for 3-4 competitors/resources
- [x] Fill out competitive analysis template

### Resources/Instructions
[Ballot Nav Competitive analysis](https://docs.google.com/spreadsheets/d/120nn4eM1G3Kbdsfhpzko-9o5xzsm9X19OJJVf-ooRg0/edit#gid=0)

[Ex

[2020-08-21 14:30] kcoronel opened #15 "Write Project Requirements Summary Document"
### Overview
We need a requirements summary to share with website design and to complete the initial requirements gathering milestone.

### Dependency
Requirements gathering milestone complete

### Action Items
- [ ]  Review all the items in the [requirements gathering milestone](https://github.com/hackforla/ballotnav/projects/1)
- [ ] Write summary
- [ ] Close issue and check to make sure milesto

[2020-08-21 14:32] kcoronel opened #16 "Create site map with UI/UX navigation flow"
### Overview
We need to create a flexible structure for the website to accommodate requirements

### Dependency
Requirements gathering summary Issue #12

### Action Items
- [x] Product/UI/UX
  - [x] Review requirements summary with UI/UX team
  - [x] Ideate on potential designs
- [x] UI/UX
  - [x] Create site map
    - [x] Review with Product
  - [x] Create style guide issue #20
    - [x] Review w

[2020-08-21 14:33] kcoronel opened #17 "Write copy for the website"
### Overview
Copy for the website

### Dependency
[Requirements gathering milestone complete ](https://github.com/100Automations/Website/projects/1?card_filter_query=milestone%3A%22Website+Requirements+Gathering%22)

### Action Items
- [ ] Review requirements summary document
- [ ] Write draft language for design process

### Resources/Instructions
- Requirements summary document

[2020-08-21 14:35] kcoronel opened #18 "Decide/develop our own style guide"
### Overview
Develop style guide for the overall navigation and visual appearance of the site.

### Action Items
- [ ] Define a color guide
- [ ] Define a typography system
- [ ] Create key components

### Resources/Instructions
Figma File
[Stylesheet for BallotNav Logo](https://github.com/hackforla/ballotnav/files/5211046/ballotnav.branding.pdf)

[2020-08-21 14:37] kcoronel opened #19 "Role Recruitment"
### Overview
We need to recruit contributors for this project on an ongoing basis in order to make sure that the site goes live in a timely manner.

### Action Items
- [x] Check BallotNav items on recruiting sheet and update as necessary

### Resources/Instructions
- [Hack for LA Recruiting Current Needs](https://docs.google.com/spreadsheets/d/1xnrwTL4kCFhecLQmXwFWVPyWjgc3DC6aQYWq8ZF_QDI/edit#gid=

[2020-08-21 14:40] kcoronel opened #20 "Update ReadMe"
### Overview
We need an up to date ReadMe to communicate effectively new users, contributors, and visitors on a continuous basis.

### Action Items
- [x] Once that happens, update link in ReadMe to the template
- [x] New person to review ReadMe identifying unanswered questions that could be addressed
  - [x] Post suggestions in the comments below

### Resources/Instructions
- [BallotNav ReadMe](ht

[2020-08-21 14:42] kcoronel opened #21 "Update Team Roster"
### Overview
We need to get new volunteers' information on the roster so we can add new resources and stay in touch.

### Dependency
Email address has been added to the google drive

### Action Items
- [x] Add or update your info into the team roster.

### Resources/Instructions
[Google Drive](https://drive.google.com/drive/u/2/folders/1vtFG5I0XugZ8eJRdakAzvHUBKFm3CfG5)
[BallotNav Team Roster](htt

[2020-08-23 17:57] kcoronel commented on #2
@Arjayellis I am available Tuesday - Thursday from 5:30pm - 7:30pm

[2020-08-23 19:02] Arjayellis commented on #2
@myastark @kcoronel @ExperimentsInHonesty I am available Tuesday and Thursday from 6 - 8PM, and Saturday from 4 - 5PM

[2020-08-23 23:55] kcoronel commented on #11
### Informed Voters
Motivations
Folks looking for alternatives to mailing their ballot

### ActiveSocialMedia Users
Motivations
Folks sharing BallotNav for wider use and reach

### Voting Partner Organizations
Motivations
Sharing up-to-date direct information on ballot delivery

[2020-08-24 00:38] myastark commented on #2
I am available Mondays, Fridays, Saturdays, and Sundays, and Tues-Thurs from 5pm on

[2020-08-24 01:13] kcoronel commented on #8
(http://ballotnav.org/) is registered

[2020-08-24 01:21] kcoronel commented on #14
@myastark @Arjayellis When you get a chance, please add to this resource document. Thanks

[2020-08-24 02:10] kcoronel commented on #1
Can we have the 1500 x 700 image be a color instead, the way HelloGov has their title project page @ExperimentsInHonesty, if we can, maybe we can pick a blue like in the image above

[2020-08-25 01:37] ExperimentsInHonesty commented on #20
@Arjayellis and @kcoronel  I just noticed in the readme that you linked to your names, but it dosent work to right click on your name you have to use a specific url

it should look like this: https://hackforla.slack.com/team/UE1UG1YFP
where the number at the end is the member ID
and you get your member id by going to your profile
clicking more, and then clicking on copy
![Screen Shot 2020-08-24 at

[2020-08-25 01:57] ExperimentsInHonesty commented on #2
@Arjayellis @kcoronel Lets meet at 4pm on saturdays for a working meeting.  Then @myastark can join us at 5pm once we get all organized.  The meeting will be a total of 2 hours working meeting.
I suggest you pick another time to meet with each other mid week to onboard new team members and divy out issues.  This project needs a higher cadence given the deadline involved.  I suggest 6pm-8 Tuesday.

[2020-08-25 02:05] kcoronel commented on #2
That works for me @ExperimentsInHonesty @Arjayellis, if we would like to meet tomorrow, I can place it in our Slack channel to get folks on-boarded and potentially give them some tasks?

[2020-08-25 02:43] Arjayellis commented on #2
That works for me as well. @kcoronel @ExperimentsInHonesty. Are you available to chat about listing on VRMS, or would you like to tackle that tomorrow?

[2020-08-25 02:54] Arjayellis commented on #20
That was me. I’ll fix it

[2020-08-26 06:12] Arjayellis commented on #19
Business Analyst (Category: BA)
Technical Architect (Category: Developer)
UI Designer (Category: UI/UX)
UX Researcher (Category: UI/UX)

[2020-08-26 20:45] kcoronel commented on #6
Requested access to Project Recruiting Current Needs document

[2020-08-29 23:21] Rankazze commented on #2
Here is the open issue on the VRMS board for this issue
https://github.com/hackforla/VRMS/issues/271

[2020-08-29 23:43] ExperimentsInHonesty commented on #2
checked meeting times on site.  Not yet up.

[2020-08-30 00:28] ExperimentsInHonesty commented on #5
Before the How to contrib section put another header that says

More information about the project
put link to :
https://docs.google.com/document/d/15tMTwUnPnfAeN1C4KP4mvGWaiz3IfkktTY4drKFa8eo/edit?usp=sharing
https://docs.google.com/document/d/1gWtxL74G2pGphoUKAnbul4UR93GfItuPzJKJC8_3up0/edit?usp=sharing

Change the #1 in contributing to be read the project context and more information about the

[2020-08-30 00:39] myastark commented on #11
Voter Story:

Susie Sonneborn of Montclair, N.J., says she tried to be extra careful to make sure her ballot was postmarked on time when she voted in a mayoral race in May. But when she heard that more than 1,100 ballots — 9% of the total — had been rejected, she checked with the local election office and was shocked to discover that hers was one of them.

"It was just really disappointing and sur

[2020-08-30 00:48] myastark commented on #12
I don't know if this is the right place to put this, but I feel like each state/county, however it breaks down, should have a person who accepts responsibility for getting notifications when source pages update, and inputting those changes. Here's [some services](https://www.hongkiat.com/blog/detect-website-change-notification/) that do that.

[2020-08-30 00:49] myastark commented on #5
Done

[2020-08-30 00:52] ExperimentsInHonesty commented on #5
Moving to the questions column to wait for website team to add project card to website, so that we can link to it under the first paragraph with the words "Hack for LA BallotNav project page"

[2020-08-30 00:57] myastark commented on #11
Facebook groups for validation
[Save USPS](https://www.facebook.com/groups/63943201801/)
[Vote by Mail - National](https://www.facebook.com/groups/VBMNational/)
[SAY NO TO MAIL IN VOTING](https://www.facebook.com/groups/2385831015053635/)
[Americans Against Mail In Voting](https://www.facebook.com/groups/573357583537144/)

[2020-08-30 01:29] myastark commented on #11
More Audiences

Tired or Busy Voters
Motivations
To not have to think too hard

Paranoid Voters
Motivations
Believe mail-in voting is a plot to execute a coup against the president but might choose an option that minimizes covid exposure compared to going to the polls, if they trust it

[2020-08-30 23:26] kcoronel commented on #14
Update 08/30, I have filled out the competitor analysis for my three assigned organizations

[2020-08-30 23:55] kcoronel opened #22 "Recruitment of last mile updaters"
### Overview
Recruit volunteers who are willing to make calls to find the most up to date information regarding ballot drop off (most likely at county level for all 50 states)

### Action Items
- [x] Find areas to recruit
- [x] Assign PM to attend meeting, etc. to recruit
- [x] Create a functional spreadsheet for the recording of information
- [x] Product
    - [x] Create an adopt a county form

[2020-08-31 00:14] kcoronel opened #23 "Recruit from CFA events"
### Overview
Finding volunteers from CFA events

### Action Items
- [x] From Bonnie: The Data science team has shown interest for scrapping information from existing sites for populating BallotNav database
- [x] chat with Bonnie re: CFA Regional Call (once a month)
- [x] CFA Pitch Day 09/28

### Resources/Instructions

[2020-08-31 00:16] kcoronel commented on #23
I attended the first CFA West Region meeting on 08/30 and was asked to send an email for folks can get volunteers from their brigade

[2020-08-31 03:21] kcoronel commented on #23
@ExperimentsInHonesty @Arjayellis I wrote this draft email for Bonnie to send to the regional western brigade team who all expressed interest in letting their brigades know about BallotNav. Please pay close attention to how I'm asking folks to contact us, there might be a more efficient way.

Hello!

HackforLA is recruiting volunteers across the country to to help collect data for BallotNav before

[2020-08-31 03:57] kcoronel commented on #13
I created a BallotNav OKR sheet @Arjayellis can you take a look and make your edits. I think after that, we can have Bonnie and Mya review to see if we missed anything. I used the 100 Automations OKR sheet as a guide.

[2020-08-31 03:58] kcoronel commented on #23
@ExperimentsInHonesty can you please connect me with Will re: adding BallotNav to the CFA slack for better alignment on volunteers - thanks!

[2020-09-01 01:18] Arjayellis commented on #23
The message looks good to me. Explains what we need, why we need it, and how to help. What is the next step?

[2020-09-01 01:20] Arjayellis commented on #13
@kcoronel @ExperimentsInHonesty would you please give me access to the BallotNav OKR google sheet?

[2020-09-01 03:29] Arjayellis commented on #14
Completed for my competitors

[2020-09-02 00:40] kcoronel commented on #13
@Arjayellis sent over access :)

[2020-09-02 00:50] kcoronel commented on #22
Reached out to [When We All Vote ](https://www.whenweallvote.org/partner-with-us/?ref=667dc2d6-96ea-473b-b9ee-22e4fbf35667) Please see attached for email confirmation

[2020-09-02 00:53] kcoronel commented on #23
Great! Let me send that out to folks on the call and I will copy you.

[2020-09-02 00:59] Arjayellis commented on #23
Signed up for CFA pitch day - 9/28

[2020-09-02 01:53] kcoronel commented on #2
Randall reached out on 9/1 for an update on our info getting on the site

[2020-09-03 06:32] Arjayellis commented on #13
@kcoronel its a great starting point. We can add and edit as we go.

[2020-09-04 16:41] Arjayellis commented on #19
@kcoronel @ExperimentsInHonesty Dane mentioned he did not get must interest from hack night. Most of the individuals were there to see the speakers. He will continue to advertise through slack. I am going to reach out to a few channels and to my network to see if we can spark some interest.

[2020-09-04 17:04] Arjayellis commented on #19
@kcoronel @ExperimentsInHonesty Reached out to Ben and Jared about beginning to see what we can replicate from FO. The goal will be to hopefully get something set up within the next week so we can have something set up for the volunteers.

[2020-09-04 21:26] Arjayellis commented on #11
Created a new project for user stories and personas https://github.com/hackforla/ballotnav/projects/2

[2020-09-04 21:40] Arjayellis commented on #20
Updated readme with new meeting times

[2020-09-04 21:43] ExperimentsInHonesty commented on #23
@karen I just talked to @Arjayellis and he is going to update the readme on the repo with the types of users you are looking for, what we need from them, and how specifically they can get involved.  That way we keep one source of truth for the most current information as it evolves.  He is also going to create an issue for making a google form for interest so that we can start signing up brigades

[2020-09-04 21:44] kcoronel commented on #23
great @Arjayellis let me know if you need any support

[2020-09-04 21:57] Arjayellis opened #25 "Create brigade state adoption interest form"
### Overview
We need to create a form to gather information from brigades' interest in helping us with the manual updating process so that when the interface is ready there are people to use it.

### Action Items
- [x] Define required information
  - [x] Name
  - [x] Email address
  - [x] Location
  - [x] State/county interested in
  - [x] Time available to devote per week before election
  - [x]

[2020-09-06 00:35] Arjayellis commented on #15
Give users two choices: 1) Search by address/zip, 2) search by state then county.

[2020-09-09 02:38] kcoronel commented on #12
I sent a request to Airtable

[2020-09-09 05:22] theswerd opened #26 "Basic Front End React + Deck.gl"
### Overview
Basic Functioning React website with Deck GL installed ready to take contributions

### Action Items
- [x] Create React App
- [x] Create folder structure
- [x] Install DeckGL

### Resources/Instructions
- [React](https://reactjs.org)
- [DeckGL](https://deck.gl)

[2020-09-09 05:29] theswerd opened #27 "Basic Backend Flask + Docker"
### Overview
Basic backend flask setup with docker and docker compose done.

### Action Items
- [ ] Flask set up
- [ ] Docker File set up
- [ ] Docker Compose that runs the server

### Resources/Instructions
- [Flask Docs](https://flask.palletsprojects.com/en/1.1.x/)
- [Docker Docs](https://docs.docker.com)
- [Docker Compose Docs](https://docs.docker.com/compose/)

[2020-09-09 05:32] theswerd opened #28 "Basic Data structure"
### Overview
Data structure for postgres so we can get started.

Please note this can be changed in the future, but the faster we get this initial one the faster we can get started.

### Action Items
- [x] Create data structure
- [x] Create rules

### Resources/Instructions
- [Postgres Docs](https://www.postgresql.org/docs/12/index.html)

[2020-09-09 05:37] theswerd opened #29 "Create CI"
### Overview
Create CI for pushes to master branch.

### Action Items
- [ ] For React front end we need one that builds it, then pushes to an S3 bucket
- [ ] For Flask back end we need to build the docker image, and push to the kubernetes engine

[2020-09-09 05:39] theswerd opened #30 "Hello world"
### Overview

Hello World Milestone requirements

### Action Items
- [x] #26  Basic Front End React + deck.gl
- [x] #27 Basic Flask + Docker + Docker Compose
- [x] #28  Basic Data structure
- [x] #29 CI

[2020-09-09 21:49] theswerd commented on #26
Merged into master in the `client/web` folder.

Also installed and set up `react-router-dom`

[2020-09-09 21:49] #26 closed

[2020-09-10 06:28] #27 closed

[2020-09-10 17:14] Arjayellis commented on #11
@kcoronel @myastark Just a reminder that I created a new project board for user stories. Please take a look (https://github.com/hackforla/ballotnav/projects/2) and feel free to add as we go.

[2020-09-10 17:19] Arjayellis commented on #25
Reached out to Jenny regarding interest form suggestions

[2020-09-10 18:10] Arjayellis commented on #22
Followed up with when we all vote about a potential partnership. We also received a commitment from a Stanford group to help make calls closer to election day.

[2020-09-10 19:25] Arjayellis opened #33 "New Volunteer On-Boarding"
### Overview
We want to add specific information for each type of volunteer so they know how to contribute

### Action Items
-  [x] Add instructions for development team
-  [x] Add instructions for design team
-  [x] Add instructions for data validator team
-  [x] Add instructions for web scraping team

### References
- [Volunteer Onboarding Document DRAFT](https://docs.google.com/document/d/1gsvo

[2020-09-10 22:04] kcoronel commented on #25
Brigade contact information sheet https://docs.google.com/spreadsheets/d/1jbEHIzEXB5tA4gxtOSz7vDeWeg8ysKpZiDeK1R1fz6g/edit#gid=522188401
Missing states that we would need to recruit externally for:
American Samoa
Guam
Kansas
Mississippi
Nebraska
North Dakota
Northern Mariana Islands
South Dakota
U.S. Virgin Islands
West Virginia
Wyoming

[2020-09-10 22:38] Arjayellis opened #34 "Product Roadmap"
### Overview
We will create a roadmap to stay on track and ensure members are aware of necessary milestones

### Action Items
- [x] Create roadmap document
- [x] Update milestones based on new requirements
- [x] Get feedback from stakeholders

### Resources/Instructions
- [Roadmap DRAFT](https://docs.google.com/spreadsheets/d/1vVo87ZO02xd_JyLDXDm6Q5EWRGKRzsl6Nj_Gt8Wl3wc/edit#gid=0)

[2020-09-11 03:40] ExperimentsInHonesty commented on #12
Let setup on the free tier.

[2020-09-11 03:45] kcoronel commented on #12
@myastark I moved your comment

[2020-09-11 03:46] kcoronel commented on #22
From @myastark I feel like each state/county, however it breaks down, should have a volunteer who accepts responsibility for getting notifications when source pages update, and inputting those changes. Here's some services that do that.

[2020-09-11 03:47] ExperimentsInHonesty commented on #8
domain is resolving to readme and we will point dns when we have a website.

[2020-09-11 03:51] kcoronel opened #36 "Set Up Free Air table Account for BallotNav"
### Overview
Set up a free airtable account and follow up with the airtable team about a free user subscription for COVID 19 related projects.

### Resources
[BallotNav Data Collection Starting Point](https://docs.google.com/spreadsheets/d/1Nir81gZNcQgdTTC3vMNuiUkRe0g-CLOIgN53Csp41rw/edit#gid=814856157)

[2020-09-11 18:59] kcoronel commented on #18
Stylesheet [Uploading ballotnav branding.pdf…]

[2020-09-12 02:30] myastark commented on #10
[bn-icons.zip](https://github.com/hackforla/ballotnav/files/5212066/bn-icons.zip)

[2020-09-12 08:15] ExperimentsInHonesty opened #41 "AirTable fixes"
### Overview
we need to fix a few minor problems in AirTable so that the forms work properly on Saturday 9/12/2020 National Day of Civic Hacking

### Items
- [x]  Claim a state lets you claim a state that is already claimed
- [x]  Amazing Scrapers page does not show the url of the people who have claimed the state to scrape

### Resources/Instructions
[Link to contributing doc to check flow](https

[2020-09-12 08:16] Arjayellis commented on #41
![Screen Shot 2020-09-12 at 1 15 32 AM](https://user-images.githubusercontent.com/69663209/92991024-89f41280-f495-11ea-926f-d02b49d96982.png)

[2020-09-12 16:32] jafow opened #42 "feature: search by address"
### Overview

a user needs to be able to enter an address and receive information about their closest ballot dropoff location.

### Acceptance criteria
(how do we know when this task is "Done")
- [ ] Use Input bar to get delivered to a list of ballot drop off sites in your EAJ
   - [ ] enter a valid Zip Code
   - [ ] enter a valid City and State
   - [ ] enter a full address
   - [ ] choose "Curre

[2020-09-12 19:37] JacobZwang commented on #18
For now, I'm using

:root {
  --ballotBlue: #1b2152;
  --ballotBlueDark: #040822;
  --routeRed: #ff0029;
  --routeRedDark: #6e0012;
}

until there is a final consensus

[2020-09-12 22:10] jafow opened #47 "feature: data loader script"
### Overview
We need to be able to take data from airtable or raw csv and import it into a database.
This should be able to be run regularly with minimal manual intervention, even automated!

### acceptance criteria
1. we can take 1 or more correctly formatted files from air table and load them into a format the application can return
2. the script can be run often by more than one person and with

[2020-09-13 00:41] kcoronel commented on #22
added food oasis onboarding material in this issue

[2020-09-13 01:16] kcoronel commented on #4
social media accounts now have profile photos of BallotNav logo

[2020-09-13 03:21] geleazar1000111 commented on #42
interested in working on this and issue [47](https://github.com/hackforla/ballotnav/issues/47)

[2020-09-14 01:22] ExperimentsInHonesty opened #53 "BallotNav features"
### Overview
We need to create basic functionality for the BallotNav site, so that it is minimally useful to users.

### Functions
- [x] Must have
   - [x] Search (using interface code from FoodOasis for the search) #42
   - [x] Display of  state and county confirmation text
      - if no, offer state or county drop downs (pre populated with whatever is currently in STATE).
   - [x] Display of Sta

[2020-09-14 06:33] #41 closed

[2020-09-14 06:42] Arjayellis commented on #34
@myastark @kcoronel @jafow @salice Drafted a roadmap for the site in order to set expectations with the team and help us stay on pace. Will continue to build it over this week. Please feel free to add to your respective fields and make changes as necessary. https://docs.google.com/spreadsheets/d/1vVo87ZO02xd_JyLDXDm6Q5EWRGKRzsl6Nj_Gt8Wl3wc/edit#gid=0

[2020-09-14 07:17] Arjayellis commented on #33
Edited volunteer contribution page and will be using it as a draft for an official onboarding document for new volunteers.

[2020-09-15 04:08] jafow opened #58 "script: query mapbox for geocodes"
## Overview
We currently do not have any latitude or longitude data for any ballot dropoff location address, but the client requires these to render locations on the map.

## Action Items
- write a script that reads a CSV file exported from air table and looks up the lat & lon for each address and saves the output

## Resources/Instructions
- get the mapbox api key from 1password
- familiarize you

[2020-09-15 23:14] theswerd opened #60 "Can create new locations"
### Overview
Can load new data into our application

### Action Items
- [x] Backend take in **http request** of data
- [x] Add lat long
- [x] Add it do database

This card should take a post request to `/dropoffs` with a json body with **required fields** and add it to the **postgres table**

[2020-09-15 23:19] theswerd opened #61 "Can get dropoffs by county"
### Overview
Should be able to get dropoffs by county

### Action Items

- [x] Add a get request at `/dropoffs`
- [x] Take in parameters for  `state` and `county`,  and sends only the points with the proper state and county.

We should be able to grab all points in an area and send them to the client.

[2020-09-16 02:57] theswerd commented on #58
Done in pull request #62 by @Henrymarks1

[2020-09-16 02:57] #58 closed

[2020-09-16 16:03] Henrymarks1 commented on #47
I'll take a shot at this issue @jafow

[2020-09-16 20:58] theswerd opened #64 "Add QR code for locations"
### Overview
Individual drop off locations should have a QR code

### Action Items
- [ ] Get the current URL
- [ ] Generate a QR Code
- [ ] Make the QR Code easily sharable

Talk to @JacobZwang about design if you are interested

### Resources/Instructions
- Possible React [Package](https://www.npmjs.com/package/qrcode.react)

[2020-09-17 02:15] ExperimentsInHonesty opened #67 "Emergency Action Notifications Examples"
### Overview
We need a notification examples so that design can plan them in.

### Action Items
- [x] Link or paste the messages into the comments below

### Resources/Instructions

[2020-09-17 02:35] ExperimentsInHonesty opened #68 "Exceptions to Counties Table"
### Overview
We need an exception table of places that don't use the county as their election administration jurisdictions (EAJ) so that the lines in the map match the area.

### Dependency
 - [ ] Making sure the census data is applicable for voting

### Action Items
- [ ] Data Science
   - [ ] Identify the relevant fields needed
   - [ ] Create a table in called EAJ table Airtable with fields

[2020-09-17 03:05] aNullValue commented on #67
From a few minutes of browsing only the historical Directives of the Ohio Secretary of State, these particular directives may be relevant examples of things that BallotNav should be able to reasonably display.

A single county is ordered to remain open late; all other counties are prohibited from releasing election results until that time lapses. [Link](https://www.ohiosos.gov/globalassets/electio

[2020-09-17 03:15] ExperimentsInHonesty opened #70 "Export Location Schema for Desigers"
### Overview
We need to provide the location schema for the designers to make sure they have all the info that is going to need to be on the location page.

### Action Items
- [x] Export schema from locations table pasting in the comments below and annotating what they can ignore.

### Resources/Instructions
[Airtable](https://airtable.com/tbl7iu5KqFh1PwSmL/viwaFu9xo9izzsvPi?blocks=hide)

[2020-09-17 03:19] ExperimentsInHonesty commented on #70
@IrinaRost @fedelandini This will be discussed at the Data Science meeting on Thursday night at 8pm and at that point we should a firmer idea of what the schema will be.

[2020-09-18 01:35] #33 closed

[2020-09-18 01:37] #21 closed

[2020-09-18 01:53] #5 closed

[2020-09-18 02:28] ExperimentsInHonesty commented on #2
This is good.  Showing up on the site perfectly now.

[2020-09-18 02:28] #2 closed

[2020-09-18 02:29] ExperimentsInHonesty commented on #14
team did a ton.  Good job

[2020-09-18 02:29] #14 closed

[2020-09-18 02:42] aNullValue opened #74 "Examples of "Location Hours" data/UI"
### Overview

There are numerous ways that locations are scheduled by their respective jurisdictions. We need to come up with a good way to handle this in the UI. Perhaps we need a calendar view for the location?

### Resources/Instructions

These are different formats that I've seen:

* 24/7 (continuously) starting at a date/time, ending at a date/time

* Between a range of dates, the same open/c

[2020-09-18 02:52] ExperimentsInHonesty opened #75 "Build Search interface"
### Overview
We need to have users be able to search by criteria and get back results based on location so that we accurately deliver them their EAJ info

### Action Items
Search (using interface code from FoodOasis for the search)
- [ ] Font End Dev (React)
   - [ ] Build out homepage according to design spec
- [ ] Back End
   - [ ] Identify criteria for ways they can search
  - [ ] api to send u

[2020-09-18 02:59] ExperimentsInHonesty opened #76 "Overview of what you see after you search"
### Overview
We need to be able to display the EAJ for each area depending on the rules/requirements when a user clicks the markdown.

This will be complete when
- [x] Header #117
- [ ] Map #81
- [ ] Location Summaries #82

### Resources/Instructions
[Figma](https://www.figma.com/file/dvtVjMEBqj34a0tv5WEbMd/Ballotnav?node-id=344%3A3232)
EAJ = Election Administration Jurisdiction

[2020-09-18 03:38] kcoronel opened #78 "Change Notification: State and EAJ Only (Design)"
### Overview
Users should have the capability to signup for notifications from BallotNav, notifying users about an update on their state's Secretary of State page so that they are not relying on old information or having to continually check our site.

### Dependency
Feature: search by address #42
Privacy Policy #104

### User Acceptance Criteria
TBD based on compliance requirements

### Action It

[2020-09-18 03:48] Arjayellis opened #79 "SMS Reminders"
### Overview
We want to give users the ability to sign up for SMS reminder so they are updated

### Action Items
Option to sign up for SMS reminders

### Resources/Instructions
REPLACE THIS TEXT -If there is a website which has documentation that helps with this issue provide the link(s) here.

[2020-09-18 04:03] kcoronel commented on #68
@nickelworks anything on Census stuff? Thanks!

[2020-09-18 04:13] Arjayellis opened #80 "Timestamp info last updated"
### Overview
We need to display the last time when the site was updated

### Action Items
Timestamp
- [ ] Font End Dev (React)
   - [ ] Build time display according to design spec
- [ ] Back End
   - [ ] Determine time and push to display on site
- [ ] Front End integrator
   - [ ]

### Resources/Instructions
REPLACE THIS TEXT -If there is a website which has documentation that helps with this iss

[2020-09-18 04:16] kcoronel opened #81 "EAJ Location Map View"
### Overview
We need to have the application display all the locations that are within the users Election Administration Jurisdiction (EAJ) on the initial map load.

## Dependency
Search #42

### Acceptance criteria
(how do we know when this task is "Done")
- [ ] results match mockups
   - [ ] desktop
   - [ ] ~~desktop low bandwidth~~
   - [ ] mobile
   - [ ] ~~mobile low bandwidth~~
- [ ] Map

[2020-09-18 17:35] kcoronel commented on #74
@fedelandini @IrinaRost an example above about how to design for a variety of office hours

[2020-09-18 20:57] kcoronel opened #82 "locations summary view"
### Overview
We need to give users a display of up to 5 closest drop-off locations, with pagination for additional results.

### Dependency
Search #42

### Acceptance criteria
(how do we know when this task is "Done")
- [ ] results match mockups
   - [ ] desktop
   - [ ] desktop low bandwidth
   - [ ] mobile
   - [ ] mobile low bandwidth
- [ ] list
   - [ ] Information is representative of locatio

[2020-09-18 22:17] myastark opened #84 "Feature Suggestion: Link to State Ballot-Tracking Tools"
### Overview
As a voter worried about election interference, I want to be informed if my state has a ballot-tracking tool so I can visit and use it.

### Action Items
-  Define your Feature Suggestion
   - To add a link to state ballot-tracking tools somewhere appropriate in the UI
   - Is this feature urgent - Yes
      - It is urgent because our mission is to get votes counted, so we should noti

[2020-09-18 22:18] myastark commented on #84
39 states have this tool which is way more than I thought

[2020-09-18 22:47] Arjayellis opened #85 "URL Parameters"
### Overview
We need to add clear and descriptive parameters in each URL so that individuals can easily share and bookmark anonymous* search results.

*Only show state and EAJ, not a personal address

### Action Items
- [ ] Back End
   - [ ] Define method for making search results and page choices use parameters in the url string
- [ ] Release dependency on all related issues and move the issues t

[2020-09-18 22:52] Arjayellis opened #86 "Share Buttons and function"
### Overview
We need to put a share npm on every page and on individual results, so by clicking on it determines what is shared.

### Dependency
URL Paramaters #85
**ADD FIGMA LINK AND PAGE NAME BEFORE ASSIGNING**

### User Acceptance Criteria (UAC)
When I share from the following location it provides a link and text connected to my social platform that allows me to post a link to:
- from homepage

[2020-09-18 22:58] Arjayellis opened #87 "Change Notification: Location Specific plus State (Front End)"
### Overview
Users should have the ability to sign up for location specific page change notifications (will also include the SOC site update)

### Dependency
Change Notification: State #78
Feature: Search By Address #42
Privacy Policy #104

### User Acceptance Criteria
TBD based on compliance requirements

Error Handling requirements
- [ ] If null value or error is returned by API user is given a

[2020-09-18 23:14] Arjayellis opened #89 "Markdown inline: Display State Regulation Info"
### Overview
We need to allow users to view state regulation information from a displayed markdown in state sections.

### Action Items
- [ ] Font End Dev (React)
   - [ ] Build out markdown according to design spec
- [ ] Back End
   - [ ] Identify criteria for ways they can display properly
  - [ ] api to send user input to and get back EAJ info to route to front end next page

### Resources/Inst

[2020-09-18 23:18] Arjayellis opened #90 "External Link Handling"
### Overview
We need to define what happens when users click on an external link.

### User Acceptance Criteria
- [ ] you click on an external link and it takes you to said website in the same window,
- [ ] when you click the back button the page resumes its prior state (if you are on the California, Los Angeles page, you remain on that page when you click back)
- [ ] user testing will include the

[2020-09-19 15:40] jafow opened #100 "we need points!!"
### Overview
The backend needs lat & lon points for each county's jurisidction location

### Outcome of this issue
1. we will be able to run a script that reads each line of a csv with scraped locations data and POSTs to the `/dropoffs` endpoint and saves the records to the db

## action items
- get the latest schema from #data-science and create the `jurisdictions` model and table and generaate a

[2020-09-19 16:11] jmensch1 commented on #100
looks good! I can jump on this later today or maybe tomorrow

[2020-09-19 18:27] jafow opened #101 "add postgis extension to dev db"
### Overview
The application needs postgis setup on the cloud db and local development postgres container

### Action Items
- [] we have postgis extension installed on the dev db
- [] this process is scripted and repeatable and checked into git via docs or code

### references
[PostGIS](https://postgis.net/)
[AWS Guide: setting up postgres with postgis extension](https://docs.aws.amazon.com/Amazon

[2020-09-19 18:33] jafow opened #102 "setup dev infrastructure for ballotnav backend"
### Overview
once an mvp version of the app is runnable we will need to deploy it into a cloud environment.

### Action Items
- [ ] build a terraform config for ALB -> ECS in the existing ballotnav dev vpc
- [ ] assert that we can `curl` `api.dev.ballotnav.org/status` with a 200 OK
- [ ] terraform code is checked into git

[2020-09-20 02:19] kcoronel opened #104 "Privacy Policy"
### Overview
We need to develop a privacy issue for BallotNav letting users know how we use their data.

### Action Items
- [x] Write BallotNav policy

### Resources/Instructions
[BallotNav Privacy Policy](https://docs.google.com/document/d/1hizUrt5hBhltZfo0_OhkzcbkZMkN8_-DdV-a2Uidiw0/edit#heading=h.cxcggwpokeet)
EXAMPLE [TDM Privacy Policy](https://docs.google.com/document/d/1hizUrt5hBhltZfo0_Ohk

[2020-09-20 04:00] kcoronel opened #105 "Language and script for SMS notifications"
### Overview
We need to have language and script for SMS notifications

### Action Items
- [ ] UX
   - [ ] Write up language and script by following the guide to SMS compliance
      - [ ] Texts (indicate all texts required and in what order)
      - [ ] Website

### Resources/Instructions
REPLACE THIS TEXT -If there is a website which has documentation that helps with this issue provide the link(

[2020-09-20 05:24] kcoronel opened #107 "Name of responsible official for users EAJ (Design)"
### Overview
Users will be able to see the first name and last name of their Election Administration Jurisdiction official. This allows users to have relevant information delivered to them.

### Acceptance criteria
(how do we know when this task is "Done")
- [ ] search for an address
- [ ] choose a result off the result display
   - [ ] location details show header 'Your Responsible Official' with

[2020-09-20 05:32] kcoronel commented on #75
Something to think about is adding something regarding current location backend / front end development? @Arjayellis  @ExperimentsInHonesty

[2020-09-20 05:37] kcoronel opened #108 "EAJ drop-off location hours"
### Overview
We need to let users view the hours of operation for their respective Election Administration Jurisdiction.

### Dependency
- [ ] wireframes for hours are finalized, review figma
- [ ] how will design run when updates are made

### User Acceptance Criteria
(how do we know when this task is "Done")
- [ ] User uses input bar to get delivered to a list of ballot drop off sites in your EA

[2020-09-20 05:58] kcoronel opened #109 "Drop-off location address"
### Overview
We will develop a display with drop-off location addresses for users Electoral Administration Jurisdiction.

### Dependency
Search Results feature built out #42

### User Acceptance Criteria
(how do we know when this task is "Done")
- [ ] User uses input bar to get delivered to a list of ballot drop off sites in users EAJ
- [ ] List of locations appears and lets user see EAJ address (

[2020-09-20 06:05] jafow commented on #101
closed by #103

[2020-09-20 06:05] #101 closed

[2020-09-20 06:16] kcoronel opened #110 "EAJ Drop-off Requirements"
### Overview
We need to allow the users to clearly view any drop-off requirements dictated from their Election Administration Jurisdiction.

### Dependency
Search Results feature built out #42

### User Acceptance Criteria
(how do we know when this task is "Done")
- [ ] User uses input bar to get delivered to a list of ballot drop off sites in users EAJ
- [ ] List of locations appears and lets use

[2020-09-20 06:32] kcoronel opened #111 "Guidance to double check information (Front End)"
### Overview
Users should receive a warning banner urging them to please double check our information before heading to their drop-off location in their respective Election Administration Jurisdiction.

### Dependency
Search Results feature built out #42

### User Acceptance Criteria
(how do we know when this task is "Done")
- [ ] User uses input bar to get delivered to a list of ballot drop off s

[2020-09-20 06:37] kcoronel opened #112 "Invalid Address Feature"
### Overview
If users address is invalid, offer state and county drop downs, information about searching again and link to search by current location.

### Dependency
- [ ] Search by address feature #42

### Acceptance criteria
(how do we know when this task is "Done")
- [x] Use Input bar to get delivered to a list of ballot drop off sites in user EAJ
   - [x] enter an invalid address
       - [x]

[2020-09-20 06:40] kcoronel opened #113 "BallotNav Site Map"
### Overview
As a user, I want to know what is on your website so that I can go directly to the thing I want as fast as possible.

### Action Items

### Resources/Instructions

[2020-09-21 01:42] kcoronel commented on #82
@IrinaRost @fedelandini we have revised our requirements for the summary view from this (screen shot below) to requirements listed above
<img width="1245" alt="Screen Shot 2020-09-20 at 6 41 35 PM" src="https://user-images.githubusercontent.com/38144130/93727666-014e3400-fb71-11ea-8730-9f2be7f208e1.png">

[2020-09-21 02:39] kcoronel opened #117 "Location Header (Design)"
### Overview
We need an area to display the state and EAJ location info. In order to confirm with the user that we are displaying the correct info, and if not, allow them to correct it.

### Dependency
feature search by address #42
invalid address feature #112

### User Acceptance Criteria
- [x] Use search by address field to get delivered to a list of ballot drop off sites in user EAJ
   - [x] En

[2020-09-21 02:44] aNullValue commented on #117
"State will remain populated" may not be feasible. The front-end needs to be able to start from "nothing" (not even state) in event geocoding fails.

[2020-09-21 06:08] ExperimentsInHonesty commented on #47
@jafow @Henrymarks1 Since the requirements for this have changed from many times import to a one time import, please update with acknowledgment of change and plan for importing into Postgres.  Also Product (@Arjayellis ) will have all of the initial state data to import into the db by the end of day 9/20.  All future updates will be made through the interface that we are building that will work di

[2020-09-21 06:09] kcoronel commented on #36
Haven't heard from them. Moving on to Postgres

[2020-09-21 06:09] #36 closed

[2020-09-21 06:20] kcoronel commented on #89
We have decided not to do this. See location header #117 ticket for details

[2020-09-21 06:21] #89 closed

[2020-09-21 06:22] #7 closed

[2020-09-21 06:32] kcoronel commented on #113
changing this to a won't have

[2020-09-21 06:35] #17 closed

[2020-09-21 15:54] aNullValue commented on #68
I've spent several hours working on determining exceptions to the "elections are administered by counties" rule. I've put my finding thus far in this Google Sheet, in the BallotNav Drive: [States with Jurisdiction Type Information](https://docs.google.com/spreadsheets/d/1vlnhPJAG5XwY5ismtQMiNvEoPKBMW0a_q7SaYTliH7s/edit?usp=sharing).

While I _anticipate_ that the rest of the states will be exclusi

[2020-09-21 17:07] myastark commented on #87
<img width="157" alt="87" src="https://user-images.githubusercontent.com/54009156/93798278-45354d80-fbf2-11ea-8e31-b8173ff21ee7.png">

[2020-09-21 17:10] myastark commented on #78
![Uploading 78.png…]()

[2020-09-21 17:31] myastark commented on #117
<img width="719" alt="177" src="https://user-images.githubusercontent.com/54009156/93800582-a9a5dc00-fbf5-11ea-8c93-cfc538ae5eaf.png">

[2020-09-21 17:34] myastark commented on #107
<img width="157" alt="87" src="https://user-images.githubusercontent.com/54009156/93800820-fd182a00-fbf5-11ea-92f1-f0688da51374.png">

[2020-09-22 01:36] Arjayellis opened #122 "EAJ Details Expansion"
### Overview

We need to let users view the details for their respective Election Administration Jurisdiction by expanding the EAJ dropoff location summary view.

### Dependency
Search by address #42
Location header #117
Share location #86
Name of responsible EAJ official #107
External link handling #90
Guidance to double-check information #111

### User Acceptance Criteria
(how do we know when th

[2020-09-22 01:37] Arjayellis opened #123 "Search Results List View"
### Overview

We need to display a list of EAJ locations based on the search input

### Dependency
Search by address #42

### User Acceptance Criteria
(how do we know when this task is "Done")
- [ ] User uses input bar to get delivered to a list of ballot drop off sites in your EAJ
- [ ] List of EAJ locations is provided to the user in list form and as pins on the map
- [ ] User can click on each

[2020-09-22 03:14] aNullValue commented on #70
I'm providing example JSON data structure in slack: #ballotnav-backend periodically, and it's still subject to significant revision as the backend develops.

[2020-09-22 03:36] kcoronel commented on #108
Check out Drew's comment #74

![Uploading Screen Shot 2020-09-21 at 8.36.36 PM.png…]()

[2020-09-22 05:15] kcoronel commented on #22
@Arjayellis can you please post the infographic you worked on in here and tag Rachel

[2020-09-22 05:53] kcoronel opened #124 "Input bar inside of results page"
### Overview
Input bar to edit user address, needs to be displayed in all search results pages.

### Dependency
search by address #42

### User Acceptance Criteria
(how do we know when this task is "Done")
- [ ] User types valid address in input bar to get delivered to a list of ballot drop off sites in your EAJ
    - [ ] User sees location header #117
     - [ ] User arrives to EAJ location map v

[2020-09-22 06:36] myastark commented on #78
@kcoronel @Arjayellis can the UI display the specific type of EAJ it is in this text? i.e. in some cases it reads [dummy text] "Sign up for notifications for your county" and others it would read as "sign up for notifications for your parish" etc.? Under the assumption it can, i'm putting [EAJ] in as a placeholder but tell me if i'm wrong

[2020-09-22 06:48] myastark commented on #78
@kcoronel @Arjayellis @ExperimentsInHonesty I know you told me to put it in the issue itself but I didn't want to mess it up. Also, what is the correct way to convey something in the SMS should be a link? I used "<text>" for now.

*UI text*
Last-minute changes to details about how to vote should be expected. Sign up for notifications for your State and/or [Eaj]

*SMS text
Successful signup*
Thank

[2020-09-22 07:22] myastark commented on #87
_UI text_
Sign up for notifications about last-minute changes to this location and to voting rules for your State

_SMS text
Successful signup_
Thank you for signing up for **BallotNav** notifications about changes to your local ballot drop-off locations or State voting rules. Text STOP to unsubscribe.

_Notification_
**BallotNav** has detected a change to your local ballot drop-off locations or S

[2020-09-22 07:26] myastark commented on #117
Wait, how is " Notifications Sign- Up (example: get notified of SOS election page changes and vote.org covid19 page changes for your state )" different from #78 ?

[2020-09-22 07:46] myastark commented on #117
### “Expand” Call-to-Action
Voting Safety Information
_[^Button]_

### Expanded

- [ ]  Have you checked your registration? **[vote.org tool modal]**
- [ ]  Do you need to register? **[vote.org tool modal]**
- [ ] Do you need to request a mail-in/absentee ballot? **[vote.org tool modal]**
- [ ] Before you go, have you checked for last-minute changes to voting rules and COVID-19 safety information

[2020-09-22 17:21] Arjayellis commented on #22
![my-visual_49117381](https://user-images.githubusercontent.com/69663209/93915618-2780ea80-fcbd-11ea-9af1-a929065ce05e.png)
@makecation

[2020-09-22 19:24] myastark commented on #122
### Expanded

- [ ]  Have you checked your registration? **[vote.org tool modal]**
- [ ]  Do you need to register? **[vote.org tool modal]**
- [ ] Do you need to request a mail-in/absentee ballot? **[vote.org tool modal]**
- [ ] Before you go, have you checked for last-minute changes to voting rules and COVID-19 safety information for your State? **[link=vote.org COVID page State anchor, target=_b

[2020-09-22 22:42] #29 closed

[2020-09-23 00:05] makecation commented on #22
@Arjayellis nice! Do you have an editable version of this?

[2020-09-23 01:00] kcoronel opened #127 "BallotNav Home Page"
### Overview
Users should have an engaging home page that is easy to understand.

### User Acceptance Criteria
- [ ] BallotNav logo should appear on the upper left hand side
- [ ] Buttons for 'About'
     - [ ] Links to page that tells user more about BallotNav
- [ ] Button for 'Volunteer'
    - [ ] Links to volunteer form at http://ballotnav.org/volunteer
- [ ] Button for 'Press'
    - [ ] Links

[2020-09-23 05:22] Arjayellis commented on #22
[paper_49135621.zip](https://github.com/hackforla/ballotnav/files/5265712/paper_49135621.zip)

@makecation Here is a version in blocks. Will that work? Otherwise, I can give you access to my pikchart account.

[2020-09-23 06:05] makecation commented on #22
@Arjayellis thanks! If I can access your pikchart account I imagine that would save some time (since it appears to only let you export static images).

[2020-09-23 13:49] jmensch1 opened #130 "deep-linking search results"
NOTE: this is subject to change based on privacy discussion re: user's location in deep links

### Overview
The URL on the search results page needs to completely determine the results so that we can support bookmarking and linking directly to the page from other sites. Since there are multiple ways to arrive at that page, we'll need to support several different formats for that URL.

#### 1. `/se

[2020-09-23 22:53] Arjayellis commented on #22
@myastark please see the infographic above. Would you like to write us some copy for the fields?

[2020-09-27 02:44] aNullValue opened #142 "JSON output examples 2020-09-26"
Jurisdiction: http://jsoneditoronline.org/#left=cloud.9b02c612970c481b8c027ea504285e73&right=local.mozalu

State: http://jsoneditoronline.org/#left=cloud.5ec59e0946f5424f957cf910fe1d5413&right=local.qonaxi

[2020-09-30 02:43] Arjayellis opened #150 "Review Issues"
### Overview
We need to review the rest of the issues in "Review for Readiness" and move them over to the "Prioritized Backlog."

### Action Items
- [x] Review remainder of the issues in Review for Readiness Status
- [x] Review and approve the latest designs
- [x] Add to Repo and 1Pass
    - [x] Email: atkendis@gmail.com; Github handle: adamkendis
- [x] Add to Repo
    - [x] Email: alexchoiweb@gma

[2020-10-07 01:51] kcoronel commented on #22
@makecation please see some copyedits below. I think we want to make this first form more of an interest form, given the time.
-------------------------------
BallotNav needs your help!

BallotNav is a project of Hack for LA, the Los Angeles brigade of Code for America. BallotNav will help voters quickly find the location, and  times of operation for dropping off mail-in ballots in person.

The as

[2020-10-07 04:10] makecation commented on #22
@kcoronel here's a couple ideas. I've made it in a more shareable square format.

![Ballotnav-Recruitment-Infographic-A](https://user-images.githubusercontent.com/34785444/95286494-56986f80-0818-11eb-8259-0308c4868391.png)

![Ballotnav-Recruitment-Infographic-B](https://user-images.githubusercontent.com/34785444/95286500-5d26e700-0818-11eb-8ce0-ab6ecc088cfa.png)

[2020-10-07 18:50] Arjayellis commented on #22
@kcoronel @makecation @ExperimentsInHonesty These are great! In the second, should the text in the top section after "BallotNav needs your help" be the same color as the text in the green speech bubble below? Might be easier to read at a quick glance. Overall, I think I like the first better. Also, not sure if it's worth mentioning a quick snippet about why it's important that people have the opti

[2020-10-07 19:06] makecation commented on #22
Thanks for the feedback @Arjayellis - here are a few more revised options per your suggestions. The wording I added might need some help too.

![Ballotnav-Recruitment-Infographic-2A](https://user-images.githubusercontent.com/34785444/95376101-6efa9f80-0895-11eb-8546-800bf4fb25f7.png)

![Ballotnav-Recruitment-Infographic-2B](https://user-images.githubusercontent.com/34785444/95376112-70c46300-0895-

[2020-10-07 22:26] kcoronel opened #164 "Designing Admin Interface"
### Overview
We need to design a volunteer interface similar to Food Oasis.

### Action Items
- [x] Data Schema
    - [x] Only 1 location
    - [x] Verified (True/False)
   - [x] Address_1
    - [x] State
        - [ ] ex: Alabama
   - [x] County
   - [x] Location_Type
   - [x] Address_2
   - [x] City
   - [x] State_2
       - [ ] ex: AL
    - [x] Zip
   - [x] Phone
   - [x] Has Dropoff location

[2020-10-08 17:43] Arjayellis commented on #22
@makecation These look great. @kcoronel do you have a preference between the two?

[2020-10-09 00:02] #28 closed

[2020-10-09 00:03] #23 closed

[2020-10-09 00:04] #11 closed

[2020-10-09 00:06] #15 closed

[2020-10-09 00:07] #10 closed

[2020-10-09 00:07] #16 closed

[2020-10-09 00:08] #20 closed

[2020-10-09 00:08] #19 closed

[2020-10-09 00:09] #8 closed

[2020-10-09 00:09] #113 closed

[2020-10-15 22:21] #67 closed

[2020-10-15 22:24] #68 closed

[2020-10-15 22:27] #61 closed

[2020-10-15 22:27] #60 closed

[2020-10-15 22:30] #30 closed

[2020-10-15 23:12] Arjayellis opened #186 "Meeting Time Change"
### Overview
We need to change the Tuesday meeting time

### Action Items
- [ ] Change current time for BallotNav Tuesday meeting from "6:00PM - 7:30PM" to "5:00PM - 6:30PM"

[2020-10-15 23:17] Arjayellis commented on #186
@Rankazze @KianBadie

[2020-10-16 01:05] Rankazze commented on #186
@Arjayellis https://github.com/hackforla/VRMS/issues/338   Please follow up with @alex-anakin in 24 hrs about status to completion.

[2020-10-16 21:53] KianBadie commented on #186
@Arjayellis just wanted to give a heads up that meetings times are retrieved from the VRMS service and then displayed on the HFLA website. So once the meetings times are changed there (which it looks like [this](https://github.com/hackforla/VRMS/issues/338) issue is for), it will display on our site.

[2020-10-20 03:44] Rankazze commented on #186
@Arjayellis The new time is displaying on HfLA website.  Please close after you confirm tomorrow.  Cheers,  Thanks @alex-anakin

[2020-10-26 01:54] Arjayellis opened #229 "Project Optimization"
### Overview
We need to review the funretro board and create a new process moving forward.

### Action Items
- [ ] Review pluses and minuses and narrow it down to key, common themes
- [ ] Create issues tied to each area of improvement

### Resources/Instructions
[FunRetro board](https://funretro.io/publicboard/jPFJ7cB773hxYO9k9C7iJCcpqV02/d8c29a3a-4d2e-4d0e-9494-319c4fa0a9ca)

[2020-10-27 01:15] #130 closed

[2020-10-27 01:17] #108 closed

[2020-10-27 01:17] #109 closed

[2020-10-27 01:18] #75 closed

[2020-10-27 01:18] #122 closed

[2020-10-27 01:19] #124 closed

[2020-10-27 01:19] #127 closed

[2020-10-27 01:21] #85 closed

[2020-10-27 01:21] #81 closed

[2020-10-27 01:22] #82 closed

[2020-10-27 01:24] #42 closed

[2020-10-27 01:25] #123 closed

[2020-10-27 05:03] kcoronel opened #240 "Dashboard Edits"
### Overview
Updating the volunteer dashboard, hiding any extra data points we don't want collected right now and having a password recovery for the volunteer portal.

### User Acceptance Criteria
- [ ] Forgot Password appears in sign-up page under "Need an account? Register here."

### Action Items
- [ ] A Magic link is sent to user for password recovery
- [ ] Hide the following from "Add New Loc

[2020-10-27 15:18] jmensch1 commented on #240
hey @jafow, do you have any thoughts about using AWS' SES service for the magic link/password reset portion of this? Food oasis uses Sendgrid for their email stuff, but that would require a new account, additional infrastructure, etc.

[2020-11-12 21:26] #150 closed

[2020-11-12 21:33] Arjayellis opened #248 "Repo Clean-up"
### Overview
We need to go through the project board and prep the issues according to our new target date of December 15th.

### Action Items
- [ ] Tag each issue to a specific area of expertise so the task handoff is smooth
- [ ] Refine issues so that there is one task per
- [ ] Differentiate between front end user dashboard and admin

### Resources/Instructions

[2020-11-12 21:37] Arjayellis opened #249 "Georgia Election Process Validation"
### Overview
We need to verify the ballot drop off process in Georgia to determine technical requirements

### Action Items
- [x] Call top 25 counties in Georgia (100K+ population) and add notes to each row about policy

### Resources/Instructions
[Georgia data](https://docs.google.com/spreadsheets/d/1s0pGIM5Vy4CeKIbWnK_5qRYH7nwiLykJXAmawA7Ezd8/edit#gid=0)

[2020-11-12 23:46] kcoronel commented on #249
should we create a new project in the repo for the GA sprint?

[2020-11-13 00:20] kcoronel opened #250 "Guidance to double check information (Back End)"
### Overview
Users should receive a warning banner urging them to please double check our information before heading to their drop-off location in their respective Election Administration Jurisdiction.

### Dependency
Search Results feature built out #42
Front End mock up #111

### User Acceptance Criteria
(how do we know when this task is "Done")
- [ ] User uses input bar to get delivered to a li

[2020-11-13 00:56] kcoronel commented on #47
Hi @aNullValue @jmensch1 @adamkendis @jafow can you please confirm that Bonnie's comment has been finalized? Thank you

[2020-11-13 00:58] kcoronel commented on #18
@IrinaRost and @fedelandini can you please post the site style guide to this issue at your earliest convenience. Thank you!

[2020-11-13 01:09] kcoronel opened #251 "Change Notification: Location Specific plus State (Back End)"
### Overview
Users should have the ability to sign up for location specific page change notifications (will also include the SOC site update)

### Dependency
Change Notification: State #78
Feature: Search By Address #42
Privacy Policy #104
Change Notification: Location Specific plus State (Front End) #87

### User Acceptance Criteria
TBD based on compliance requirements

Error Handling requirement

[2020-11-13 01:19] aNullValue commented on #47
This ticket is no longer relevant. All of the management is now being done in-app.

[2020-11-13 02:13] kcoronel commented on #186
I am working with Adam Spar on this
<img width="591" alt="Screen Shot 2020-11-12 at 6 11 33 PM" src="https://user-images.githubusercontent.com/38144130/99020100-b3bbcb00-2512-11eb-8e39-59f9be8ddc25.png">

[2020-11-13 02:15] kcoronel commented on #78
@IrinaRost @fedelandini can you confirm that these mock ups are in the Figma

[2020-11-13 02:24] kcoronel opened #252 "Change Notification: State and EAJ Only (Back End)"
### Overview
Users should have the capability to signup for notifications from BallotNav, notifying users about an update on their state's Secretary of State page so that they are not relying on old information or having to continually check our site.

### Dependency
Feature: search by address #42
Privacy Policy #104
Change Notification: State and EAJ Only (Design) #78

### User Acceptance Criteri

[2020-11-13 02:26] kcoronel opened #253 "Change Notification: State and EAJ Only (Front End)"
### Overview
Users should have the capability to signup for notifications from BallotNav, notifying users about an update on their state's Secretary of State page so that they are not relying on old information or having to continually check our site.

### Dependency
Feature: search by address #42
Privacy Policy #104
Change Notification: State and EAJ Only (Design) #78

### User Acceptance Criteri

[2020-11-13 02:27] jmensch1 commented on #249
Hi @kcoronel, a new project sounds good to me

[2020-11-13 02:36] kcoronel commented on #107
@IrinaRost @fedelandini please review this issue

[2020-11-13 02:40] kcoronel opened #254 "Name of responsible official for users EAJ (Back End)"
### Overview
Users will be able to see the first name and last name of their Election Administration Jurisdiction official. This allows users to have relevant information delivered to them.

### Acceptance criteria
(how do we know when this task is "Done")
- [ ] search for an address
- [ ] choose a result off the result display
   - [ ] location details show header 'Your Responsible Official' with

[2020-11-13 02:45] kcoronel opened #255 "Name of responsible official for users EAJ (Front End)"
### Overview
Users will be able to see the first name and last name of their Election Administration Jurisdiction official. This allows users to have relevant information delivered to them.

### Acceptance criteria
(how do we know when this task is "Done")
- [ ] search for an address
- [ ] choose a result off the result display
   - [ ] location details show header 'Your Responsible Official' with

[2020-11-13 02:48] aNullValue commented on #254
What is the purpose of having the name of the responsible official? It's unlikely that the user would need that name for anything: they would contact the EAJ office rather than a specific person if they need information. Furthermore in some states (many?) the EAJ doesn't have a single official: it's controlled by a board.

[2020-11-13 02:59] aNullValue commented on #254
Additionally, there is nothing of interest in AirTable. All useful information regarding EAJs and locations is already in the production PostgreSQL database.

[2020-11-13 03:39] kcoronel commented on #86
@fedelandini @IrinaRost can you please confirm we have mocked up designs for this, thank you!

[2020-11-13 03:42] kcoronel opened #256 "Location Header (Front End)"
### Overview
We need an area to display the state and EAJ location info. In order to confirm with the user that we are displaying the correct info, and if not, allow them to correct it.

### Dependency
feature search by address #42
invalid address feature #112
location header (design) #117

### User Acceptance Criteria
- [x] Use search by address field to get delivered to a list of ballot drop off

[2020-11-13 03:50] kcoronel commented on #117
@fedelandini @IrinaRost do you mind double confirming that we have a mock up of the above description. Thanks!

[2020-11-13 03:52] kcoronel opened #257 "Location Header (Back End)"
### Overview
We need an area to display the state and EAJ location info. In order to confirm with the user that we are displaying the correct info, and if not, allow them to correct it.

### Dependency
feature search by address #42
invalid address feature #112
location header (design) #117
location header (Front End) #256

### User Acceptance Criteria
- [ ] Use search by address field to get deliv

[2020-11-13 20:22] kcoronel commented on #249
Great! I've created a new project and added this issue to it.

[2020-11-15 19:24] IrinaRost commented on #117
@kcoronel we checked this issue, it looks like we have all mockups, so you can close the issue

[2020-11-15 19:36] IrinaRost commented on #107
@kcoronel in the location details we have "to verify" block near the button "directions". Is it what this issue means?

[2020-11-15 19:38] IrinaRost commented on #78
@kcoronel Checked, we have it

[2020-11-15 19:59] IrinaRost commented on #18
In progress

[2020-11-18 00:22] adamkendis commented on #256
**Status update on some of the items covered in this ticket:**

Dropdowns using native select (for mobile) for displayed state and EAJ are working. Working on re-centering the map when an EAJ is manually selected from the dropdowns. Using shapefile here (https://www.weather.gov/source/gis/Shapefiles/County/c_10nv20.zip) that comes with county info including FIPS code and centroid lat/lng.

**Notes

[2020-11-20 17:36] kcoronel opened #258 "Fixing Location Addition Bug"
### Overview
There is a bug in the volunteer database that shows up when you add multiple new locations and then click to save progress.

### User Acceptance Criteria
- [ ] Volunteer should be able to add multiple locations to a jurisdiction and save progress with no error

### Action Items
- [ ] Determine what is making bug happen

[2020-11-21 19:03] tan-nate opened #260 "Map centers on nearest drop-off upon search"
The map will zoom to the nearest drop-off, so that when a user searches, a drop-off is always displayed.

[2020-11-21 19:12] tan-nate opened #261 "Search by current location"
Allow users to search by current location when they click on the geocoder. See Figma snapshots below:

<img width="623" alt="Screen Shot 2020-11-21 at 11 10 43 AM" src="https://user-images.githubusercontent.com/47701264/99885525-68787b00-2bea-11eb-830b-0ee1935d58c1.png">

<img width="718" alt="Screen Shot 2020-11-21 at 11 11 17 AM" src="https://user-images.githubusercontent.com/47701264/99885535-6

[2020-11-21 19:17] tan-nate opened #262 "Fix social media buttons in the footer"
Fix the social media buttons so that the full styling always appears:

<img width="254" alt="Screen Shot 2020-11-21 at 11 14 47 AM" src="https://user-images.githubusercontent.com/47701264/99885614-21d75080-2beb-11eb-8a9b-f78b0893f548.png">

[2020-11-21 19:24] tan-nate opened #263 "Complete the About, Volunteer, and Press pages"
Complete these pages to match the Figma file. Also, ensure that clicking them in the header leads to the correct styling:

<img width="338" alt="Screen Shot 2020-11-21 at 11 19 17 AM" src="https://user-images.githubusercontent.com/47701264/99885756-0456b680-2bec-11eb-8f17-b11e45715cf0.png">

[2020-11-22 18:42] jmensch1 opened #264 "switch mapbox token to hackforla account"
### Overview
We're currently using Alex Choi's mapbox token for the frontend. Need to switch this to the hackforla account (the one where we get free unlimited api calls).

### Action Items
- [ ] Switch mapbox token in `src/services/mapbox.js`
- [ ] Update our CI workflow if necessary

[2020-11-22 19:00] jmensch1 opened #265 "map marker icons and colors"
### Overview

There are two issues related to the map markers where the design requirements are unclear:

#### 1. marker colors

On the map in figma, the markers are purple, blue, and red. Red means that the user has selected the location, but I'm not sure what the difference between purple and blue is. Also, in the sidebar, the markers are blue, but a different shade than the ones on the map. Are

[2020-11-23 17:00] jmensch1 opened #266 "Vote.org widgets"
### Overview
The "Check Your Steps" section of the location detail has links for (1) checking registration, (2) register to vote, (3) request absentee ballot.:

![Screen Shot 2020-11-23 at 8 54 13 AM](https://user-images.githubusercontent.com/9143823/99991272-ac45be80-2d69-11eb-9c84-7b477770843a.png)

Vote.org provides iframe widgets for each of these steps.

### Action Items

- [x] create a modal

[2020-11-23 17:16] jmensch1 opened #267 "Verification link and phone"
### Overview
We want to display a link and phone number where the user can check the validity of the location information:

![Screen Shot 2020-11-23 at 9 05 23 AM](https://user-images.githubusercontent.com/9143823/99992344-11e67a80-2d6b-11eb-87a4-245194dee874.png)

Currently the back end returns a list of urls and a list of phone numbers for each jurisdiction (and each state) -- not a single link/

[2020-11-23 17:27] jmensch1 opened #268 "Deduplicate locations by name/lnglat"
### Overview
There are cases where the api returns multiple locations that have the same name and lnglat. For example see "Oriole Park @ Camden Yards" at this search result:

http://dev.ballotnav.org/map?address=Baltimore%2C%20Maryland%2C%20United%20States&jid=1207&lat=39.2909&lng=-76.6108

![Screen Shot 2020-11-23 at 9 23 27 AM](https://user-images.githubusercontent.com/9143823/99994221-94703980-

[2020-11-23 17:37] jmensch1 opened #269 "Handle locations that aren't geocoded"
### Overview
Some of the locations are not geocoded, i.e., there's no lng/lat in the api response. In those cases, we can display the location in the list of results, but there's no way to put them on the map. We should figure out how to handle this scenario.

### Action Items

- [ ] Explore methods for geocoding locations that can't be geocoded automatically. Possibly manual searches on google ma

[2020-11-24 19:49] jmensch1 opened #271 "Mobile layout"
### Overview
Need to implement mobile layout.

### Resources/Instructions
https://www.figma.com/file/dvtVjMEBqj34a0tv5WEbMd/Ballotnav?node-id=1107%3A30874

UPDATE:
This is mostly done but there are a few minor issues:
- Location Details panel in mobile needs to have the Check Your Steps thing
- VoteDotOrg modals should be fullscreen on mobile (after adding Check Your Steps)
- the location details

[2020-11-24 20:22] jmensch1 opened #272 "Open Now/Closed label on locations"
### Overview
The designs call for a green "Open Now" label when a location is open at the time the user is checking our site. Presumably we also want a red "Closed" label if the location is closed. We need to implement this feature.

![image](https://user-images.githubusercontent.com/9143823/100144582-d8d20700-2e4b-11eb-8604-10fa436a319b.png)

Note that there are three types of schedules: "hours",

[2020-11-24 20:28] jmensch1 opened #273 "Location hours detail"
### Overview
We need to display the specific hours that locations are open/closed:

![Screen Shot 2020-11-24 at 12 28 56 PM](https://user-images.githubusercontent.com/9143823/100147775-aaa2f600-2e50-11eb-901b-5ae6cf5a3e5f.png)

This screenshot shows the format for "hours" type locations -- i.e. where we have specific hours by date. We also need to display the hours for "continuous" type locations

[2020-12-01 18:20] #260 closed

[2020-12-01 22:35] #266 closed

[2020-12-02 16:51] jmensch1 opened #277 "Mapbox directions service"
### Overview
We're currently linking to google maps for driving directions. We could try Mapbox's directions service instead, and put the directions on our own map.

### Action Items

- [ ] Explore and implement Mapbox directions service

### Resources/Instructions
Example: https://docs.mapbox.com/mapbox-gl-js/example/mapbox-gl-directions/
npm package: https://www.npmjs.com/package/@mapbox/mapbox-

[2020-12-02 16:58] jmensch1 opened #278 "Location rules"
### Overview
The mockups call for location-specific rules in the location details section.

![image](https://user-images.githubusercontent.com/9143823/100904802-3bdf2180-347c-11eb-8212-e11fab9a29be.png)

Our current Georgia data doesn't include rules in the location object (at least in the ones I've seen), so we need to figure out what to do with this feature.

### Action Items

- [ ] Figure out w

[2020-12-02 17:01] jmensch1 opened #279 "Geocode the Georgia locations"
### Overview
We have Georgia locations in the DB, but they aren't geocoded yet. Need to run the geocode script (and figure out what to do about locations that can't be geocoded #269).

### Action Items
- [ ] geocode the Georgia locations

[2020-12-02 17:11] jmensch1 opened #280 "Location sharing"
### Overview

User should be able to share an individual location.

<img width="795" alt="Screen Shot 2020-12-02 at 9 04 14 AM" src="https://user-images.githubusercontent.com/9143823/100905831-5c5bab80-347d-11eb-8ee5-a047cec39603.png">

### Action Items

- [ ] add location id to map page url when a location is selected
- [ ] clicking the share button should open a modal (or using the Share api)
-

[2020-12-02 17:49] jmensch1 opened #281 "/metadata endpoints with types"
### Overview
We should have a `/metadata` endpoint that contains the `id` and `name` of each `facilitytype`, `urltype` and `phonenumbertype`. The client can get that info up front and we won't have to include it in every api response.

### Action Items
- [ ] create `/metadata` endpoint that returns type ids and names
- [ ] once client is using the endpoint, remove type info from the other endpoint

[2020-12-02 18:20] aNullValue commented on #268
This is a bit more complex than just de-duplicating; my knee-jerk response (potentially subject to revision) is that the records in the database aren't actually duplicates, even though it looks like it based on that screenshot.

- One of them represents two drop boxes that are open continuously between two date/times (that anyone can use?).
- One of them represents an early voting location (with s

[2020-12-03 01:46] aNullValue commented on #267
From a data-intent perspective, it makes sense to me that the URL would be the jurisdiction's URL using urltype.name = 'Jurisdiction Elections Website', which is single-valued.

For phone numbers, you could filter by phonenumbertype.name = 'Voice' and then take the first result. Or perhaps if there's more than one phone number the UI should be different such that it provides all of the phone numbe

[2020-12-03 03:22] aNullValue commented on #272
If it would help / make things easier, we can have pgsql convert the "continuous" and "hours" types into proper timestamps (either in UTC or with the value-effective local offset) assuming that we have a timezone on record.

But do keep in mind that we might not necessarily have the timezone on record, so it's possible that continuous or hours would need to be rendered without the open/closed indi

[2020-12-03 18:19] jmensch1 commented on #272
Ugh, I didn't even think about timezone splits within a single county...

Based on https://gaballotdropbox.org/ and what I'm hearing from Randall and Karen, it's looking like GA counties are mostly 24/7 drop-boxes. So maybe we can dodge this issue for the GA launch. Let's see what the GA data looks like and adjust our UI accordingly.

[2020-12-03 18:27] jmensch1 commented on #268
Ok that makes sense. Let's see if we have similar situations with the GA locations data, and then we can address those individually for now.

As far as a general solution, it seems like we may need to adjust the UI to draw clearer distinctions between drop-boxes/early voting locations/election-day voting centers. It's a bit confusing right now when they all show up at the same place.

[2020-12-03 18:31] jmensch1 commented on #267
Ok, I wonder if we should think about adjusting the Admin client so that volunteers can specifically identify a verification phone/url. It seems pretty important that this detail not get lost/overlooked during the data gathering process. But for now let's see what the GA data looks like adjust our strategy accordingly (I know I keep saying that)

[2020-12-03 23:05] jmensch1 opened #283 "add jurisdiction geojson to api response"
### Overview
If we add the jurisdiction boundaries to the api response, we can show the boundaries on the map.

### Action Items
- [ ] add jurisdiction geojson to api responses

[2020-12-03 23:06] jmensch1 commented on #283
@aNullValue could you handle this one? Looks like all that needs to happen is that we put the boundaries into the `geojson` column of the `jurisdiction` table. The api would then include it automatically in the responses.

[2020-12-03 23:09] jmensch1 opened #284 "display jurisdiction boundaries on map"
### Overview
Once the api is serving the jurisdiction geojson (#283) we can show the boundaries on the map.

### Action Items
- [ ] display jurisdiction boundaries on map

[2020-12-04 00:10] tan-nate opened #286 "Home page states that BallotNav is currently displaying ballot drop-offs for the Georgia special election"
The home page will be updated to include the text, "BallotNav is currently displaying ballot drop-off information for the Georgia special election on Jan. 5"

Should we include:
"The deadline to register to vote (give link) is Dec. 7"
"Early voting takes place Dec. 14 - Jan. 1"
"You can request to receive a mail-in ballot here (link)"

[2020-12-04 00:19] tan-nate opened #287 "Geocoder is restricted to only allow Georgia searches"
users will be unable to search outside of georgia

[2020-12-04 00:20] tan-nate opened #288 "State / County dropdowns are limited to Georgia"
only Georgia county dropdowns will be supported

[2020-12-06 20:25] jmensch1 opened #292 "add a "duplicate location" button"
### Overview
In cases where a single location is falls in multiple categories (drop-box, early-voting, drop-off without a drop-box), each use of that location will be listed as a separate location record in the database. Since those records will share certain data (e.g. name and address), we should have a "duplicate location" button so that users can copy the location to a new record that's alread

[2020-12-06 20:48] jmensch1 opened #293 "remove hard-coding of types"
### Overview
The `facilityTypes`, `phoneNumberTypes` and `urlTypes` are currently hardcoded into the models. (see e.g. `src/modals/location.js`). These types should be loaded from the contemplated `/metadata` endpoint (#281) when the app loads and then inserted dynamically into the models.

### Action Items
- [ ] remove hard-coding of types

[2020-12-06 21:19] #287 closed

[2020-12-06 23:57] jmensch1 opened #294 "record deletion"
### Overview
We need to be able to delete at least the following: (1) locations, (2) location-hours. Discuss any other records we may need to delete.

### Action Items

- [ ] implement delete functionality where appropriate

[2020-12-07 00:34] jmensch1 opened #295 "Edit Locations bug"
### Steps to Reproduce

1. add multiple locations. use facility type Unknown for some of them.
2. go back to one of those locations you just added, that was of type unknown, and change its type to "Library", and then hit enter.
3. all of the records you are adding are now identical

https://files.slack.com/files-pri/T04502KQX-F01FUS963FH/screen_shot_2020-12-06_at_19.24.19.png

Reported by Drew

##

[2020-12-07 01:41] jmensch1 opened #296 "Privacy Policy"
### Overview
Our privacy policy is currently a locked google doc. Also we may need to add something to it if we use analytics

### Action Items
- [ ] make privacy policy publicly available
- [ ] add language for analytics if necessary

### Resources/Instructions
privacy policy
https://docs.google.com/document/u/1/d/1hizUrt5hBhltZfo0_OhkzcbkZMkN8_-DdV-a2Uidiw0/edit

[2020-12-07 05:28] jmensch1 commented on #269
This won't be an issue for GA so moving to icebox for now

[2020-12-07 22:28] aNullValue opened #300 "AdminUI, Edit Location, Field "infoPublic" should be removed"
### Overview
During development, fields "infoPublic" and "displayNote" were inadvertently both added for the same purpose.

### Action Items

- [ ] Remove field "infoPublic" from AdminUI
- [ ] Remove field "infoPublic" from API
- [ ] Remove field "infoPublic" from database

[2020-12-07 22:48] jmensch1 opened #301 "general issues re: data gathering"
### Overview

We should discuss and create separate tickets for these items:

- We should be careful to use "internalNote", "displayNote", and "rules" for their intended purposes: internalNote should be anything that only we at BallotNav need to be aware of for some reason. displayNote is an arbitrary text field that should be presented to the end-user. rules are supposed to be rules that the vote

[2020-12-08 03:58] #262 closed

[2020-12-08 12:24] #286 closed

[2020-12-08 23:43] jmensch1 opened #306 "map moves around too much"
### Overview
The current centering logic moves the map every time a location is selected or deselected. Also there's probably too much animation. Simplify it.

### Action Items
- [ ] make map centering logic simpler and less jumpy

[2020-12-08 23:47] jmensch1 opened #307 "production environment"
### Overview
Need to set up a production environment for launch.

### Action Items
- [ ] client should be deployed to the s3 bucket that's tied to ballotnav.org (and replace the current contents of that bucket)
- [ ] deploy api on AWS
- [ ] set up prod database (possibly combined with the dev database?)
- [ ] anything else I haven't thought of

[2020-12-08 23:48] jmensch1 commented on #307
hi @jafow, will you have time this week to work on this at all? Happy to help if I can but you're way better at this

[2020-12-08 23:59] jmensch1 opened #308 "minor issues with Jurisdiction Select"
### Overview
#### visual issues on mobile

There are two issues that show up in mobile browsers, but not in the mobile simulator in Chrome:

- when the two inputs are focused, there's a kind of screen zoom that makes them bigger. That's fine, except the screen stays zoomed in even after the modal is closed.
- the keyboard stays up even after the modal is closed

I wonder if both issues could be so

[2020-12-11 22:19] #261 closed

[2020-12-11 22:19] #306 closed

[2020-12-11 22:19] #308 closed

[2020-12-17 01:52] #263 closed

[2020-12-17 01:53] #296 closed

[2020-12-19 18:42] aNullValue opened #326 "Open/closed indicator not working for schedule_type=hours location"
### Overview
a location using schedule_type=hours is open on december 19 at 13:40, when i captured this screenshot. the app says that it's closed today.

### Resources/Instructions

<img width="451" alt="Screen Shot 2020-12-19 at 13 40 25" src="https://user-images.githubusercontent.com/3424516/102696928-f6528080-41ff-11eb-952f-7da089da0eea.png">

[2020-12-19 19:25] aNullValue opened #327 "Edit locations bug while adding multiple locations with "hours""
1. Edit a jurisdiction
2. Add a new location
3. Set that location to schedule_type "hours"
4. Add hours for that location
5. Finish editing that location
6. Click Save Progress
7. Add another location
8. Set that location to schedule_type "hours"
9. Open the form to add hours for that location and observe that there are already hours listed (incorrectly)

[2020-12-20 19:20] aNullValue opened #332 "Feature Request - Add geometry fields to location editing in AdminUI"
As someone who reviews and corrects lat/lon/source fields for locations, it would be beneficial to be able to edit them in AdminUI rather than having to use SQL.

[2020-12-20 19:23] aNullValue opened #333 "Feature Request - Duplicate button on location screen"
As someone who reviews/adds/edits locations within a jurisdiction, and because jurisdictions often have multiple types of ballot returns at a single location, it would be useful to be able to duplicate a location in its entirety. For example, if I open an existing location "Lowndes County Elections & Registration", which is only open Mon-Fri 8am-5pm, I should be able to duplicate it, and then only

[2020-12-20 19:27] aNullValue opened #334 "UI Improvement - Jurisdiction->Location->Hours->DOW input type"
When editing the long-form hours that a location is open, there are currently drop-down select boxes for "true" and "false" regarding whether or not that date/hour span applies to a specific day of week. They're set to false by default, and cannot be set via the keyboard (you have to use a touch device to change their value).

It would improve speed tremendously if 1) Mon-Fri were set to true by d

[2020-12-20 19:32] aNullValue commented on #326
@jmensch1 fixed this yesterday

[2020-12-20 19:32] #326 closed

[2020-12-20 19:54] aNullValue opened #335 "Feature Request - Default "continuous hours" value per jurisdiction"
As someone who creates locations that use continuous hours, the overwhelming majority have identical hours within each jurisdiction. It would be beneficial to have the "continuous hours" on a location be defaulted to a value specified at jurisdiction level.

This would require changes in AdminUI, the backend/API, and the database.

[2020-12-20 22:52] aNullValue opened #336 "Bug - public client doesn't take location->hours->DOW into consideration"
In the AdminUI, when editing a location's long-form hours, there are flags to indicate whether each day of week is enabled for that date/time span. This lets the volunteer indicate that, for example, an office will be open Monday-Friday, 8:00 AM to 5:00 PM, from January 1 to December 31.

However, the public client doesn't take the DOW into consideration. This screenshot was captured on Saturday,

[2021-01-05 17:28] aNullValue opened #341 "User feedback - getting "no results" on mobile is an awful experience"
Currently, if you search for a ZIP code that is not within Georgia, BallotNav will return no results, along with a notice that only Georgia locations are available. That looks perfectly fine on desktop. When you're on mobile though, it just shows you a map, with no pins, and no info about what went wrong. You have to tap "show list" in order to see the notice that there were no results. This is a

[2021-01-05 17:30] aNullValue opened #342 "User feedback - why display permanently-closed locations"
Currently, all known locations for a given jurisdiction are being displayed. It seems unnecessary and potentially confusing to list locations that are closed for the remainder of the election.

(Comments gathered from friends of @aNullValue 2021-01-05.)

[2021-01-05 17:34] aNullValue opened #343 "User feedback - open/closed indicator"
"Why is the open icon green if the location is closed?"

(Comments gathered from friends of @aNullValue 2021-01-05.)

[2021-01-06 01:48] aNullValue opened #344 "Open/closed indicator didn't close 24/7 locations"
For locations (drop boxes) that are open 24/7, they were not reflected as "closed" at the correct time today. As a stop-gap measure, I manually ran a query to change all locations to a manually overridden schedule description of "Closed".

[2021-01-09 05:56] #288 closed

[2021-01-09 05:57] #249 closed

[2021-01-09 05:59] #256 closed

[2021-01-09 06:14] #248 closed

[2021-01-11 04:36] Arjayellis commented on #343
@tan-nate Can we make the icon green when open and red when closed?

[2021-01-11 04:40] Arjayellis commented on #341
@tan-nate @jmensch1 Are we able to display the text on mobile when no results are available?

[2021-01-11 04:43] Arjayellis commented on #336
@aNullValue Is any further action needed here?

[2021-01-11 04:44] aNullValue commented on #336
Yes, the app functionality needs to be corrected

[2021-01-11 04:54] #267 closed

[2021-01-11 05:12] Arjayellis opened #345 "Jurisdiction Assignment Status"
### Overview
We need to be able to identify which jurisdictions are currently assigned and to whom. Currently, without going into the DB, we have to manually track who is working on what jurisdictions.

[2021-01-11 05:15] Arjayellis opened #346 "Assignee Identification"
### Overview
It would be helpful to have names displayed when choosing who to assign to jurisdictions rather than emails as this is more clear.

[2021-01-11 05:18] Arjayellis opened #347 "Volunteer Data Validation Display"
### Overview
We received feedback from multiple people that it would be easier to have all information needed to be validated on one screen. It might be helpful to think about how we can display data such as phone, address, and URL all on one screen to avoid having to switch tabs.

[2021-01-11 05:22] Arjayellis opened #348 "Assignment Viewing"
### Overview
Since jurisdictions can be assigned to multiple volunteers simultaneously, we should implement something that let's volunteers see if someone else is already editing a location.

[2021-01-11 05:25] Arjayellis opened #349 "Data Examples"
### Overview
We received several questions for clarification on what certain fields meant, so e should provide a short example of data points needed to be validated, e.g., "Suite C" for Address 3, or "Johnson Hall" for Name.

[2021-01-11 05:28] Arjayellis opened #350 "Saving Info in Volunteer Portal"
### Overview
If you switch tabs in the volunteer portal without saving, the information disappears. We should display a small warning sign reminding volunteers to save their work before continuing.

[2021-01-11 05:44] Arjayellis opened #351 "Website Functionality in Between Elections - Display"
### Overview
While we are working towards the next election, we need to edit the information presented and functionality of the site so users are not misled or confused.

[ ] On Home Page, replace "BallotNav is displaying ballot drop-off information for the Georgia special election on Jan. 5, 2021" with "BallotNav is currently working on validating information for future elections. Please check ba

[2021-01-11 05:48] Arjayellis opened #352 "Website Functionality in Between Elections - Search"
### Overview
While we are working towards the next election, we need to edit the information presented and functionality of the site so users are not misled or confused.

[ ] Unlock all states in the top-left "Choose your state" dropdown menu

[ ] Hide all ballot drop-off locations

[2021-01-11 05:50] Arjayellis opened #353 "Identify Next Election"
### Overview
We need to identify the next election to target. We should make a list of viable options and prioritize based on importance and audience size.

### Resources
[2021 Elections](https://docs.google.com/spreadsheets/d/1jJJgkNTK0IbUS6gdg_czRf5PUKQbu_gWOjd1aZ4J_e0/edit?usp=sharing)

[2021-01-11 05:52] Arjayellis opened #354 "PR Support"
### Overview
We need to recruit someone who can support PR efforts moving forward and help us reach a broader audience.

[2021-01-11 05:56] Arjayellis opened #355 "API License"
### Overview
We need to explore the possibility and potential benefits of licensing the tool to jurisdictions to use as they see fit. This would remove the need for us to validate the data each election and take off some of the risks.

[2021-01-11 06:04] jmensch1 commented on #341
yeah I can look at that

[2021-01-11 15:03] Arjayellis commented on #341
Thanks dude. I created a bunch of issues last night for basic admin portal fixes and some website changes while we are in this “in-between” phase. Feel free to check them out when you have some time and let me know if you have any questions.

I also transferred over issues that seemed to be relevant for future elections, so if anything should not be there or if there is something that still needs

[2021-01-11 21:30] #341 closed

[2021-01-11 21:30] #351 closed

[2021-01-11 21:30] #352 closed

[2021-01-13 01:49] Arjayellis commented on #355
Potential models:
1.Do what we are doing now
2. Potentially packaging the entire app up and doing automation so that each jurisdiction can add and manage the data/process themselves
3. Do what we do no, but allow govt to provide data
4. Become API that potentially runs widgets on their website

Need to consider ramifications:
1. Software publishing (easiest, but not sure if people will be on board

[2021-01-13 03:39] kcoronel commented on #354
PR Description: [(https://docs.google.com/document/d/1sebY9h7iFwFUtH0PJLm8UNIUY9HPn2bc4dbx3ezxiRk/edit?usp=sharing)]

As of 01.12.20 shared in CFA slack, HackforLA slack and asked Bonnie for other ideas on finding folks to help with this position.

[2021-01-13 03:47] kcoronel commented on #355
Great idea! I think packaging the app will be extremely helpful, even if we can't get it to government (state's board of election) we can give it to an organization working on voter engagement.

[2021-01-13 03:48] kcoronel commented on #353
**2021 United States House of Representatives elections**
2021 Louisiana's 2nd congressional district special election 20 March 2021
2021 Louisiana's 5th congressional district special election 20 March 2021
2021 New Mexico's 1st congressional district special election March 2021
2021 Ohio's 11th congressional district special election Later in 2021
**2021 United States gubernatorial elections**
2

[2021-01-15 03:56] Arjayellis commented on #353
https://ballotpedia.org/Statewide_elections_calendar#Statewide_elections_calendar

[2021-01-15 03:57] allysmatrix commented on #353
Rhode Island on March 2? Their data was well organized - could be a good state to test out our app. https://ballotpedia.org/Statewide_elections_calendar#Statewide_elections_calendar

[2021-01-15 03:57] Arjayellis commented on #354
Karen spoke to a software engineer with a background in political science/government who we will be speaking to tomorrow afternoon.

[2021-01-18 03:02] kcoronel commented on #354
@Arjayellis, @aNullValue and I met with Brian Borin on Sunday January 17. Seems to be more interested in diving into development, reaching out to @jmensch1  to see if there are any immediate needs for developer. Will also send an invite to Brian for Tuesday.

@Arjayellis - I spoke to Bonnie about our search for someone to help with BallotNav PR. Bonnie believes the new Marketing Community of Pract

[2021-01-18 03:17] kcoronel commented on #353
@Arjayellis and @allysmatrix do one of you have time to create a spreadsheet to list this information?

[2021-01-18 03:26] kcoronel commented on #34
@Arjayellis @allysmatrix I am thinking that our Product Roadmap should have a time frame so January - March, below is an example of January's work focus

Our first month will focus on developing our demo site on the repo which will help streamline the cost of hosting BallotNav site while still giving us an opportunity to introduce BallotNav to partners, funders, etc. As PM's we will coordinate the

[2021-01-18 03:27] kcoronel opened #357 "HackforLA Website Write Up"
### Overview
Write a write-up on BallotNav project for Hack for LA website standing site which will be utilizing UN's Agenda for Sustainable Development.

### References
[BallotNav Project One Sheet](https://docs.google.com/document/d/15tMTwUnPnfAeN1C4KP4mvGWaiz3IfkktTY4drKFa8eo/edit)

[2021-01-18 03:49] kcoronel commented on #357
**Problem:** Due to COVID19 and cuts to the United States Postal Service, some voters may feel insecure not only about going out to the polls, but also about utilizing the mail to cast their vote. While it is possible to drop off your mail-in ballot in person, the rules for doing so are not clearly outlined in one single location. Information is scattered across state and county websites, each of

[2021-01-18 03:51] kcoronel opened #358 "Accomplishments Write-Up"
### Overview
Create a write-up on what happened with the project and accomplishments to date

### References
[Updated BallotNav Project One Sheet](https://docs.google.com/document/d/1m6Dvw9D6eJhBCV5lLLlr0j27455F1BrAEclsWDePgnw/edit)

[2021-01-18 05:43] Arjayellis opened #359 "Update BallotNav project one sheet"
### Overview
Project one sheet needs to be updated so we can share it with sponsors and potential partners

### Action Items
Follow the link to tasks

### Resources/Instructions
[BallotNav one sheet update](https://github.com/hackforla/product-management/issues/71)

[2021-01-18 05:59] Arjayellis commented on #357
Problem: There are currently numerous inconsistencies when it comes to accurate and up to date voter resources and ballot drop off information. While it is possible to drop off your mail-in ballot in person in most states, it remains an issue for voters due to distrust in the postal service, misguided information from the media, an inconsistent pool of resources provided by the government, and soc

[2021-01-19 18:54] Arjayellis commented on #34
@allysmatrix

[2021-01-19 19:00] Arjayellis opened #360 "User feedback: Mobile updates"
### Overview
Brian Borin tested out the mobile platform and found some issues that we need to fix.

### Action Items
- [ ] Footer text is cut off
- [ ] Hamburger menu border-radius is too large and extends into the end of the screen
- [ ] When the menu hamburger is clicked, the "Home" link is not visible (but can still be clicked)
- [ ] There is a blue area that flashes when you click on the ballo

[2021-01-19 22:09] kcoronel commented on #359
@Arjayellis check out edited version [BallotNav Updated](https://docs.google.com/document/d/1m6Dvw9D6eJhBCV5lLLlr0j27455F1BrAEclsWDePgnw/edit?usp=sharing)

[2021-01-19 22:42] Arjayellis commented on #359
@kcoronel Looks good! All we need to do is add a brief history of what has been accomplished so far, then tag Bonnie with "last updated" and we should be good.

[2021-01-20 01:30] kcoronel opened #361 "Non Partisan Partners"
### Overview
Find potential non partisan partners that can benefit from BallotNav product.

### Related Issues
#405 #406

### Action Items
- [x] Search the web for non-partisan organizations working towards making voting easier and note them in excel sheet

### Resources
[Ballot Nav Potential Partners](https://docs.google.com/spreadsheets/d/1G42xVXKWNxcy2oOi2uBCtfIKyE4yUqp703vCKbE3I8Y/edit?usp=sha

[2021-02-01 17:52] kcoronel commented on #357
@ExperimentsInHonesty Randall and I wrote this BallotNav summary in the format requested for HackforLA's website.

[2021-02-01 18:40] kcoronel commented on #358
**Accomplishments:**
- Recruited team of developers, designers, data scientists and volunteers
- Developed product roadmap for product MVP design
- Developers launched unique database for
- Trained volunteers to validate collected data utilizing grassroots organizing. Covid19 has amplified the need for collective data validation such as validating information for testing and vaccination sites.
- V

[2021-02-01 21:10] kcoronel commented on #361
@Arjayellis @allysmatrix I utilized our analysis matrix to create our [Potential Partners] (https://docs.google.com/spreadsheets/d/1G42xVXKWNxcy2oOi2uBCtfIKyE4yUqp703vCKbE3I8Y/edit#gid=0) workbook.
At this moment it has a few partner organizations that are non-partisan and work on engaging voters/voter access. This can be a project we engage other folks into?

[2021-02-01 21:14] kcoronel opened #364 "BallotNav Product Demo Video"
### Overview
Due to the amount of data our project requires (we have collected data for jurisdictions across the 50 states), our AWS usage cost has been high. In order to reduce costs for our project and prepare for pitching to partner or governmental organizations, we decided to design and develop a demo site that can be hosted on github.

### Action Items
- [x] Provide designers with direction f

[2021-02-01 21:32] kcoronel commented on #364
Message from @fedelandini "In our shared Figma file you can see a  proposal for the Demo label, in different color versions. We think the most consistent and easy solution would be to keep the warning strip that we already have, as an area dedicated for any important information. We can customise it, according with the message. So we can change the color, make it permanent, or expandable. In this

[2021-02-01 21:39] kcoronel commented on #364
I think the color red stands out the most, but I think we want to try and stick with not using either red or blue on their own. Perhaps trying a yellow or orange warning strip might work? I am also aware that it can clash with our existing colors. For example, the blue gets lost with our own blue.

I think we may also have to add some language that pops up above or below the Search Location Box -

[2021-02-02 21:33] Arjayellis commented on #353
Another good page that has a list - (https://ballotpedia.org/United_States_municipal_elections,_2021#New_York)

Draft of election selection can be found here (https://docs.google.com/spreadsheets/d/1ab_KXx35b2SVV7K1VQroxiGgNnslQJ7M_Q5cSy-Ah9M/edit?usp=sharing). @kcoronel @allysmatrix  I am not really sure how else to compare them other than timeline and impact/size. I think Virginia, New Jersey, a

[2021-02-03 01:17] kcoronel commented on #364
Some comments from our team meeting 2/2/21
+ Font bigger & centered
+ between yellow and orange

[2021-02-04 19:46] jmensch1 opened #366 "Create About page"
### Overview

We need to implement the landing page for our [about](https://about.ballotnav.org) site, which is currently just a stub.

The designs are at the bottom of the "Ballotnav" page of this figma file, next to a label that says "04.08.21 Landing Page: Final"
https://www.figma.com/file/dvtVjMEBqj34a0tv5WEbMd/Ballotnav?node-id=2848%3A8580

To start development:
1. pull the latest code from `

[2021-02-10 01:22] Arjayellis commented on #353
Decision:
New Jersey (general) - Nov 2
Virginia (general) - Nov 2
New Jersey (primary) - Jun 8
Virginia (primary) - Jun 8
New York (general) - June 22

[2021-02-10 01:26] Arjayellis commented on #34
@kcoronel @allysmatrix

We can now update the roadmap based on the new election choices. https://github.com/hackforla/ballotnav/issues/353

[2021-02-10 03:31] allysmatrix commented on #34
I've made a few updates to the roadmap. And would like to talk thru it for further edits. Looks like June 8th is the next election we would have enough time to prepare for.
[https://docs.google.com/spreadsheets/d/1vVo87ZO02xd_JyLDXDm6Q5EWRGKRzsl6Nj_Gt8Wl3wc/edit#gid=961494988](url)

[2021-02-10 03:35] #279 closed

[2021-02-10 03:35] #283 closed

[2021-02-10 03:50] aNullValue opened #371 "Feature enhancement - Accommodate multiple elections concurrently"
### Overview

If BallotNav is going to continue into the future, it needs to have the ability to work on multiple elections concurrently (for example, a single jurisdiction might have an election in February and another in March, and those elections might have different sets of drop boxes, voter eligibility, etc., in an overlapping time frame.

### Action Items

"Everything" will need to change: d

[2021-02-17 18:42] kcoronel commented on #364
@fedelandini @IrinaRost when you have a time, please add updates to this repo. Jake mentioned that you were doing some user-testing, where are we with this? Thank you!

[2021-02-17 19:18] kcoronel opened #372 "BallotNav Skills Needed"
### Overview
We should update the skills we are looking for in our landing page, and anywhere else we may have posted for.

### Action Items
- [x] Audit the skills we require now and in the future
- [x] Streamline process for how to respond to any inquires

### Resources/Instructions

[2021-02-17 19:20] kcoronel commented on #372
@allysmatrix @Arjayellis this issue is born from the following message in our inbox
<img width="1100" alt="Screen Shot 2021-02-17 at 10 39 54 AM" src="https://user-images.githubusercontent.com/38144130/108256167-090b0800-7112-11eb-849d-49bc7e4e36d9.png">

[2021-02-17 19:23] kcoronel commented on #372
At this moment I think we can have the following skills up
- Marekting/PR Support
- Validation Leaders
- Engineers/Developers

[2021-02-17 19:41] kcoronel opened #373 "Call Secretary of State Office in NJ, VA, and NY"
### Overview
We want to give the Secretary of State (SoS) office and introduce ourselves to call and inquire about their election process for June.

### Action Items
- [ ] Each PM calls one SoS office and details call in this issue
- [ ] Questions to ask:
  - [ ] New York (Karen)
     - [ ] When does the state plan on releasing ballot drop box locations for your (insert June election date)
     -

[2021-02-17 20:54] kcoronel opened #374 "Develop a Process for Updating BallotNav Data"
### Overview
We should create a process for how and who will be updating our data from BallotNav & the cadence for updates. Once we create this process, we should point to it in our app.

### Action Items
- [ ] Cadence for updating data
- [ ] Who will be responsible for updates ; who will have credentials

### Resources/Instructions

[2021-02-17 21:17] kcoronel opened #375 "Scrape NJ, NY, and VA Permanent Election Data"
### Overview
We don't know the timeline for states to release ballot drop box locations, and since beginning BallotNav for the general election, we know we have a three-week cushion to upload data to BallotNav and validate.

### Action Items
- [ ] Scrape data with clear scope of what we need (Address, phone, etc.)

### Resources/Instructions

[2021-02-25 03:09] kcoronel commented on #372
Responded to Jon Lam who reached out on Slack
![Uploading Screen Shot 2021-02-24 at 7.08.21 PM.png…]()

[2021-02-25 03:19] kcoronel opened #377 "Language for BallotNav Landing Page"
### Overview
We need to finalize the landing page for the demo.

### Action Items
- [ ] Determine copy
- [ ] Determine layout

### Dependency
Landing Page #378

[2021-02-26 03:36] Arjayellis opened #378 "Landing Page Format"
### Overview
We need to outline the user journey's for the different use cases and determine the final layout for the landing page.

### Action Items
- [ ] User Journeys
  - [ ] No election
  - [ ] 1 local election
  - [ ] 2 local election
  - [ ] National election
- [ ] Landing page layout finalization

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear

[2021-02-26 03:41] Arjayellis commented on #357
@ExperimentsInHonesty Please review and let us know if we can close this out.

[2021-02-26 03:41] #358 closed

[2021-02-26 03:47] #353 closed

[2021-02-26 03:56] Arjayellis opened #379 "Usability Hub Test for Landing Page"
### Overview
Conduct usability testing (using UsabilityHub) on the 3 options for landing page designs, to see if there's any iterations needed.

### Action Items
- [x] Create Usability Hub Profile for BallotNav
- [x] Prototype landing page designs
- [x] Determine dates for testing
- [x] Create testing that lets us see which design option is preferred by users on Usability Hub
  - [x] Identify cate

[2021-03-02 23:56] shaswa opened #380 "Increase ratio of image on hackforla.org project page for BallotNav to 3:2"
### Overview
All  project images on the [hackforla homepage projects section](https://www.hackforla.org/#projects) should have a 3:2 ratio and a standard resolution of 600x400 pixels or higher.

Current Resolution: 597 x 400 pixels
Current Ratio: 2.985:2

### Action Items

- [ ] Increase ratio of project image for BallotNav to 3:2
- [ ] Increase resolution of project image for BallotNav to 600 x 4

[2021-03-10 01:04] ExperimentsInHonesty opened #381 "DNS for BallotNav"
### Overview
We need to point the DNS for BallotNav at a variety of locations so that we control what people see when

### Action Items
- [x] get control of the domain name
- [x] Point the dns at the locations provided by Drew

### Resources/Instructions

[2021-03-10 01:07] aNullValue commented on #381
<img width="460" alt="Screen Shot 2021-03-02 at 09 55 55" src="https://user-images.githubusercontent.com/3424516/110559858-fc773f80-8112-11eb-8560-ec1c35515405.png">

[2021-03-10 01:44] ExperimentsInHonesty commented on #381
185.199.108.153
185.199.109.153
185.199.110.153
185.199.111.153

[2021-03-10 22:47] allysmatrix opened #382 "Scrape NJ data for the upcoming June Elections"
### Overview
In an effort to gather useful data before the June election. BallotNav wants to scrape NJ data ahead of time.

### Action Items
- [ ] Scrape data
- [ ] Review data with BallotNav team and determine finalized features

### Resources/Instructions
Finalized features for BallotNav 2021

[2021-03-10 22:53] allysmatrix opened #383 "Scrape VA data for the upcoming June Elections"
### Overview
We don't know the timeline for states to release ballot drop box locations, and since beginning BallotNav for the general election, we know we have a three-week cushion to upload data to BallotNav and validate.

In an effort to gather useful data before the June election. BallotNav wants to scrape VA data ahead of time.

### Action Items
- [ ] Scrape data
- [ ] Review data with Ballot

[2021-03-10 22:59] allysmatrix opened #384 "Scrape NY data for the upcoming June Elections"
### Overview
We don't know the timeline for states to release ballot drop box locations, and since beginning BallotNav for the general election, we know we have a three-week cushion to upload data to BallotNav and validate.

In an effort to gather useful data before the June election. BallotNav wants to scrape NY data ahead of time.

### Action Items
- [ ] Scrape data
- [ ] Review data with Ballot

[2021-03-11 15:27] jmensch1 commented on #381
I was able to hook this up through AWS, using CNAME records for `about.ballotnav.org` and `demo.ballotnav.org`, and an A record for `ballotnav.org`.

[2021-03-11 15:27] #381 closed

[2021-03-16 20:25] kcoronel commented on #378
@aNullValue can you add the sheet you presented to us two-weeks ago. Thank you!

[2021-03-16 20:36] kcoronel commented on #373
Called NY BOE (518) 474-6220 and got a VM

[2021-03-16 20:37] #375 closed

[2021-03-16 21:08] aNullValue commented on #378
I didn't provide any examples...? I just talked through possibilities.

[2021-03-16 21:14] kcoronel commented on #378
Hmm there was something that was like in an excel, it wasn't many rows, but I remember someone showing it... we can talk about it tonight.

[2021-03-16 21:26] aNullValue commented on #378
Oh, are you talking about the image in #381 ?

[2021-03-16 21:33] kcoronel opened #386 "Update BallotNav HackforLA Site"
### Overview
Updating the site so that we can better represent the status of the project and those working on it.

### Action Items
- [ ] Update Open Roles
- [ ] Update Project Leadership
- [ ] Update Contributors

### Resources/Instructions

[2021-03-16 21:45] kcoronel commented on #386
**Open Roles:**
Marketing & PR
Partnerships & Fundraising
Validator Volunteer Leads

**Project Leadership**
Karen Coronel - PM
Randall Ellis - PM
Alina Shokina - PM/Data Scientist
Andrew 'Drew' Stemen - Developer
Jake Mensch - Developer
Irina Rostovtseva - UI/UX Designer
Federica Landini - UI/UX Designer

[2021-03-16 21:45] kcoronel commented on #386
@Arjayellis let me know if I missed anything. Thank you!

[2021-03-16 21:52] kcoronel commented on #378
@aNullValue yup
![image](https://user-images.githubusercontent.com/38144130/111384903-46a67680-8667-11eb-8ff1-2411680133be.png)

[2021-03-16 23:33] Arjayellis commented on #386
@kcoronel Looks good. @aNullValue did you want to be called something else? Like "Master of Numbers"?

[2021-03-17 06:21] BrianCodes33 commented on #386
What is this? We are all leaders.

Sent from my iPhone

[2021-03-18 16:49] kcoronel commented on #380
@shaswa thanks for sending this to us, question, can we update our images to the correct resolution and pixels on photoshop or is it better to find new images for BallotNav

Thank you!

[2021-03-18 22:36] shaswa commented on #380
@kcoronel I think it's better to update it via photoshop as you just need to increase the length by 3px

[2021-03-19 20:48] ExperimentsInHonesty opened #388 "Sample issue template for new people"
# Sample of an issue from another project that has lots of detail for new people.

### Interview length
 [insert minutes here]

### Overview
For UXR team, we need to process & analyze Interview number [insert number here] in order to complete our analysis phase.

### Instructions for working this issue
Do the action items defined by the checkboxes. Each numbered step is a discrete task. We encoura

[2021-03-22 20:23] shaswa commented on #380
@kcoronel [Here](https://www.hackforla.org/assets/images/projects/ballot-nav.png) is the URL of the current image that needs to be updated.

[2021-03-22 22:18] kcoronel commented on #269
@jmensch1 is this a good first issue for folks with UI/developer skills? I am cleaning up the board and want to make things easier for folks to get involved in. Thank you!

[2021-03-22 22:20] kcoronel commented on #268
@jmensch1 is this a good first issue for folks with developer skills? I am cleaning up the board and want to make things easier for folks to get involved in. Thank you!

[2021-03-23 03:19] kcoronel commented on #342
@aNullValue is this issue still relevant?

[2021-03-23 03:21] aNullValue commented on #342
Yes

[2021-03-23 04:14] kcoronel opened #389 "Increase ratio of image on hackforla.org project page for BallotNav to 3:2"
### Overview
This is an[ issue ](https://github.com/hackforla/ballotnav/issues/380#issue-820489620)from our marketing team
All  project images on the [hackforla homepage projects section](https://www.hackforla.org/#projects) should have a 3:2 ratio and a standard resolution of 600x400 pixels or higher.

Current Resolution: 597 x 400 pixels
Current Ratio: 2.985:2

### Action Items
- [ ] Increase ra

[2021-03-23 04:18] kcoronel commented on #389
You can take the logo and create a white canvas that is 600x400 and then move the logo onto it reducing its size.

[2021-03-23 05:20] kcoronel commented on #373
@allysmatrix @Arjayellis Please provide update
1. Progress 
2. Blockers 
3. Availability 
4. ETA

[2021-03-23 07:24] Arjayellis commented on #373
@kcoronel this completely slipped my mind. I will take care of it tomorrow. Are you referring to what challenges I ran into and when I can discuss when you say blockers and availability?

[2021-03-23 10:08] AshishRajIITI commented on #389
Hello @kcoronel, I am beginning my open source contribution journey. I have good knowledge of HTML, CSS, Javascript. So if u can assign this issue to me, I would be highly grateful. I am confident that I can resolve this issue with ease. Please provide me access to all the resources since I can't open them now. (I have requested access to the drive link) Thank You :)

[2021-03-23 17:05] kcoronel commented on #364
Video from @IrinaRost @fedelandini https://youtu.be/jGvLMrF9O9w

[2021-03-23 17:15] fedelandini commented on #364
Hi @kcoronel thanks for the feedback, we'll fix it ASAP

[2021-03-23 17:43] jmensch1 commented on #347
The UI/UX had some good ideas about this: https://www.figma.com/file/dvtVjMEBqj34a0tv5WEbMd/Ballotnav?node-id=1505%3A64358

But implementing it is a major task that should probably be part of a wholesale refactor of the admin client.

[2021-03-23 17:51] jmensch1 commented on #348
this probably involves both the api and the admin client

[2021-03-23 18:08] jmensch1 commented on #269
hi @karen, I think we probably need some UI in the volunteer portal where they can find and enter the lng/lat if we don't have one. That's a good first issue for a UI person.

[2021-03-23 18:12] jmensch1 commented on #268
@karen, this isn't ready for development yet. First we need to decide whether we're distinguishing between drop boxes/early voting locations/election offices. If we are, then we need to make sure the backend supports the distinction, and figure out how the UI should express the distinction.

[2021-03-23 18:21] jmensch1 commented on #332
related to #269

[2021-03-23 18:24] jmensch1 commented on #293
the /metadata endpoint would be a backend role; consuming it is for the front

[2021-03-23 18:26] jmensch1 commented on #333
closing this because it duplicates #292

[2021-03-23 18:26] #333 closed

[2021-03-23 18:29] jmensch1 commented on #281
related to #293

[2021-03-23 18:32] jmensch1 commented on #278
this will be a good first issue if it turns out we can actually get these rules

[2021-03-23 18:39] jmensch1 commented on #343
closing this as a duplicate of #272

[2021-03-23 18:39] #343 closed

[2021-03-23 18:42] jmensch1 commented on #366
note that we're still waiting on confirmation of which design we're using

[2021-03-23 20:01] kcoronel commented on #389
@AshishRajIITI wondering if you went through HackforLA's onboarding training? Checking as this is part of our onboarding process. Thanks!

[2021-03-24 00:22] ExperimentsInHonesty commented on #382
Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-03-24 00:23] giosce commented on #384
It seems to me that NY didn't have pure ballot dropbox in 2020,
https://www.ny.gov/early-voting-and-absentee-voting-mail-or-dropbox
Not really true, we need to go through the main page links to counties website and some of them have a bunch of locations.

[2021-03-24 00:27] giosce commented on #382
I created a python script to scrap NJ State website https://nj.gov/state/elections/vote-secure-drop-boxes.shtml
With the script I created this csv file https://docs.google.com/spreadsheets/d/16oKiMoLT1B3kfSd-Uo5LozL23HpLLnQHYEp3a6ksq6Q/edit?usp=sharing
@aNullValue can you please take a look and let me know if format is acceptable? There are a handful of unclean entries but they can be fixed.
@aNul

[2021-03-24 00:28] giosce commented on #384
It can be useful to see the NY data currently in the system if any (@aNullValue)

[2021-03-24 00:36] ExperimentsInHonesty commented on #371
Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-03-24 00:41] ExperimentsInHonesty commented on #377
this is not necessary

[2021-03-24 00:41] #377 closed

[2021-03-24 00:48] kcoronel opened #390 "User Testing"
### Overview

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps can be divided into tasks for more than one person, we recommend dividing it up into separate issues

[2021-03-24 00:49] aNullValue commented on #382
AFAIK, the most recent data that we have from all states other than Georgia is available at https://github.com/hackforla/ballotnav/tree/master/backend/db/states

[2021-03-24 01:03] aNullValue commented on #382
Regarding your example spreadsheet:

For that info, need to have the following columns at a minimum:

* County
* Name/Description of location
* Address (1)
* Address (2)
* City
* State
* ZIP Code
* Notes
* Date the site opens

The goal is to split everything out to the maximum extent possible. The address components, in particular, must be divided into columns. Do note that if something says "Room

[2021-03-24 01:19] ExperimentsInHonesty commented on #272
if hours or continuous are not chosen and description is, use the words in the associated text field and hide the open/closed state.

[2021-03-24 02:40] kcoronel commented on #389
@jonlam27 can you let me know if this is an okay issue to assign to you. Thanks!

[2021-03-24 02:58] jonlam27 commented on #389
@kcoronel Hey sorry Karen, unfortunately, I'm not too familiar with this. I suppose it might have to do with resizing via html?

[2021-03-25 17:07] Arjayellis commented on #373
@kcoronel @allysmatrix Spoke to rep at the NJ office and she said that they will likely be using the same locations as those that were used for the presidential election last year. Moving forward, these will most likely turn into permanent locations.

She doesn't have any additional information in terms of when the data will be released. Will have to check back in closer to June.

[2021-03-25 17:09] Arjayellis commented on #379
@kcoronel @IrinaRost do we have final versions of the landing pages we can add to UHub?

[2021-03-25 17:47] kcoronel commented on #379
@Arjayellis Irina, Jon, Federica, and I are meeting tomorrow to get our user test up and running

[2021-03-26 14:13] kcoronel commented on #379
Landing Page Options
<img width="1225" alt="Screen Shot 2021-03-26 at 7 11 52 AM" src="https://user-images.githubusercontent.com/38144130/112644498-b9031d80-8e02-11eb-9a86-2b7c441fd1ad.png">

[2021-03-27 14:35] jonlam27 commented on #379
**Phase 1:**

Testers: Hack for LA community

Two preference tests were created by @fedelandini
1. Test A
- 3 landing page versions, which do you prefer?
- Any perceived political orientation?

2. Test B
- 5 sec test of 3 landing page versions
- Rate from 1 to 5, the political orientation of each page

**Phase 2

Testers: Common voters

TBD - Navigation tests of preferred landing page

**Additiona

[2021-03-29 16:20] kcoronel commented on #357
@Olivia-Chiong hello, we wanted to send over our write-up for the website according to UN's Agenda for Sustainable Development

[2021-03-29 16:22] BrianCodes33 commented on #357
Please take me off mailing list

Sent from my iPhone

[2021-03-29 16:25] aNullValue commented on #357
Hi @BrianCodes33 , you're able to remove yourself from the group that gets notifications of activity. To do so, scroll to the top of this page, and toward the right hand side, near the top, there will be a drop-down that says "Unwatch". Click that drop-down box, and then select "Ignore". GitHub will then stop notifying you of activity in this repo.

[2021-03-29 16:29] kcoronel commented on #357
thank you @BrianCodes33. Brian, Bonnie was going to reach out since you've forked things and you may lose that data. I'll ping her now to make sure she sends you the msg ASAP. thank you for your patience!

[2021-03-29 16:47] kcoronel commented on #389
![BallotNav_1](https://user-images.githubusercontent.com/38144130/112870972-a5122280-9073-11eb-89ca-68ca3ff8c476.png)

[2021-03-29 16:50] kcoronel commented on #380
@shaswa let me know if this works, thank you!
![BallotNav_1](https://user-images.githubusercontent.com/38144130/112871443-1fdb3d80-9074-11eb-8838-a98019b7da2b.png)

[2021-03-29 17:04] kcoronel opened #394 "Demo Site Allows for Active Features For a Better Representation of Our App"
### Dependency
Hack for LA shared server on AWS

### Overview
We need to allow our demo site to be more interactive and representative of our product.

### Action Items
- [x] Bring this issue up at Tuesday team meeting
- [x] Confirm that all necessary designs are in Team Figma
- [x] Write up issue for development team to take on

### Resources/Instructions

[2021-03-29 17:25] kcoronel opened #395 "User Navigation Test"
### Overview
UI/UX team will develop a navigation test for users, where we will determine that all features are clear and intuitive for users.

### Action Items
- [ ] Develop a list of users we want to have for a test
- [ ] Draft testing
- [ ] Review testing with product team
- [ ] Schedule interviews with users
- [ ] Synthesize interviews and save them on drive
- [ ] Present results to team to de

[2021-03-29 17:42] kcoronel opened #396 "Create a wiki for our project"
### Overview
The marketing team audited our project and recommended we have a wiki for amplification of our project.

### Action Items
- [x] Take inventory of other projects wiki
- [x] Draft a BallotNav wiki
- [x] Review BallotNav wiki with team
- [x] Upload BallotNav wiki

### Resources/Instructions
[Wiki DRAFT](https://github.com/hackforla/ballotnav/wiki/Welcome-to-BallotNav!)

[2021-03-30 02:12] kcoronel commented on #272
Please provide update
1. Progress  so far
2. Any roadblocks?
3. Availability  to complete issue
4. ETA for issue to be completed

[2021-03-30 02:16] kcoronel commented on #371
Hey Drew, wanted to check in on the status of the issue, can you answer the following- thank you!
1. Progress  so far
2. Any roadblocks?
3. Availability  to complete issue
4. ETA for issue to be completed

[2021-03-30 02:18] kcoronel commented on #373
@kcoronel @allysmatrix please provide update
1. Progress  so far
2. Any roadblocks?
3. Availability  to complete issue
4. ETA for issue to be completed

[2021-03-30 02:20] kcoronel commented on #382
@giosce please read the above message from Drew who explains what I was trying to say on slack much better.

[2021-03-30 02:22] kcoronel commented on #383
Please provide update
1. Progress so far
2. Any roadblocks?
3. Availability to complete issue
4. ETA for issue to be completed

[2021-03-30 02:23] kcoronel commented on #364
Edited video https://hackforla.slack.com/files/U01A3MMN59U/F01SA448P5L/ballotnav03.mp4 @allysmatrix @Arjayellis please let us know if there are any edits

[2021-03-30 02:30] kcoronel commented on #379
https://app.usabilityhub.com/do/7edaaf78f8fd/ea6 was launched on 3/29

[2021-03-30 04:39] alligatormonday commented on #272
I have the development environment spun up and received the Mapbox token from Jake.

No roadblocks so far. I estimate to have this completed either this weekend or next.

[2021-03-31 00:09] #357 closed

[2021-03-31 00:25] ExperimentsInHonesty commented on #364
Please say election jurisdiction instead of county - you will probably have to explain it (in your state this can be county, town, parish, etc.)

[2021-03-31 00:41] giosce commented on #382
The spreadsheet provided by Karen https://docs.google.com/spreadsheets/d/1UzYSmz6OQ8O2PnjCrER5FpAC1C1xwdFYJQhS3XXo_nc/edit?usp=sharing corresponds to this website https://www.state.nj.us/state/elections/vote-county-election-officials.shtml
The one I scraped is https://nj.gov/state/elections/vote-secure-drop-boxes.shtml (actual boxes in the streets without phone or person to reach). I have uploaded

[2021-03-31 00:51] allysmatrix commented on #383
I plan to get the scrape done before the end of April.

[2021-03-31 00:53] kcoronel commented on #389
@fedelandini I sent the image above over to our marketing team so will let you know if we need to resize but I think this is okay

[2021-03-31 00:55] Arjayellis opened #398 "Team Information for Website"
### Overview
We need to collect all team member's Name, slack ID, github ID, and role so we can add everyone to the Hack for LA website.

### Action Items
- [ ] Each member needs to post the above information in a comment below.

[2021-03-31 01:01] Olivia-Chiong commented on #357
@kcoronel got it thanks!

[2021-03-31 01:03] kcoronel commented on #398
Karen Coronel, U010KUGJATC, kcoronel, Product Manager

[2021-03-31 01:09] kcoronel commented on #366
@jmensch1 @alligatormonday I've moved this issue to 'Prioritized Backlog' as we wait for the final designs to be submitted from ui/ux team

[2021-03-31 01:21] #360 closed

[2021-03-31 03:14] alligatormonday commented on #398
Joseph Jepson

- Slack ID: U01S5QUQ2FK
- GitHub ID: alligatormonday
- Junior Developer

[2021-03-31 14:02] fedelandini commented on #379
28 responses

HP A  > 10      36%
HP B  > 8       29%
HP C  > 10     36%
Here a report of the test results.
[BallotNav Test Results.docx](https://github.com/hackforla/ballotnav/files/6237133/BallotNav.Test.Results.docx)

[2021-03-31 17:41] fedelandini commented on #389
Hi @kcoronel I resized the image to 600X400 and saved in our shared folder ballotnav-pr-image-web_600x400.jpg https://drive.google.com/file/d/1yYZTby0utqgrFLBcTrRXqu19HPPJHgCV/view?usp=sharing

[2021-04-06 20:48] allysmatrix commented on #373
Called VA at (804) 864-8901 and got a VM, an left a voicemail (on

[2021-04-06 21:35] giosce commented on #382
Still working on scrapers for elections-officials and dropoff boxes.
I hope to have both csv samples in a week or so.

[2021-04-06 23:15] kcoronel commented on #373
Called SOS of NY 4/6 and was told that they are considering a smaller sample size of locations directly accepting mail-in ballots as they have early voting in place and Rank Choice Voting as an option. I mentioned that I would call bi-weekly to check on status and hopefully get data from their team.

[2021-04-06 23:17] kcoronel commented on #379
Released second test on 4/6
![Uploading Screen Shot 2021-04-06 at 4.16.49 PM.png…]()

[2021-04-06 23:45] kcoronel opened #399 "Setting up 1:1 Meetings with Team"
### Overview
Decide on a date and time for a 30-min catch up call with each team of Design, Development, and Product Management.

### Action Items
- [ ] Development -
- [ ] Design -
- [ ] Product Management -

### Resources/Instructions

[2021-04-07 00:05] aNullValue commented on #371
SELECT * FROM jurisdiction

Generally, we need to remodel the jurisdiction* and wip_jurisdiction* tables so that they become election-specific, and a new jurisdiction table be created. i.e.:

Election (new):
id
description
election_date

Jurisdiction (new, formed from former Jurisdiction):
id
state_id
name
fips_*
timezone_*

ElectionJurisdiction (formerly Jurisdiction):
id
jurisdiction_id
election

[2021-04-07 00:07] #389 closed

[2021-04-07 00:11] aNullValue commented on #371
I need to have these two questions answered:

1. Do we want the ability to support small elections (where only part of a jurisdiction is open)?
2. Do we want the ability to support the scenario where drop boxes (or early voting centers, because these concepts are merged in some places) only permit a subset of the jurisdiction's voters?

My availability is extremely limited right now. I'm going to

[2021-04-07 00:16] kcoronel commented on #378
going to work on this with @jonlam27

[2021-04-07 00:27] kcoronel commented on #371
@aNullValue and @jmensch1 will work on writing up the scope of the problem and how much money or full-time work hours equivalent will it take as well as who will go benefit.

[2021-04-07 00:43] kcoronel commented on #364
Currently asking BallotNav team to make edits in this issue.

[2021-04-07 16:50] aNullValue commented on #371
This message exists as a point of thought/discussion between @jmensch1, @alligatormonday, @aNullValue, and anyone else interested in complex data modeling problems.

Consider this message a brain-dump and not organized in any way. I intend to add, remove, modify, etc., this message over the next few days.

In all below statements, when I refer to "some subset", I am generally referring to one or m

[2021-04-08 08:26] jmensch1 commented on #371
Ok I've got a brain dump too. I'll start with a proposed domain model, then give examples of how the model works, then show how a query would work if we used the model, then try to justify myself.

## Domain Model

### 1. the objects and their attributes

#### Election
 - date
 - description

#### Boundary
 - a geojson polygon (just the outline, not interior divisions)
 - exclusive or non-exclusiv

[2021-04-08 22:51] kcoronel commented on #378
1/ Database action during the above scenarios (2 or more / local and national)

[2021-04-09 16:05] aNullValue commented on #371
### Additional scenario: City of Columbus unexpected vacancy in office

The boundary of the district associated with a race (contested office, question, measure, whatever) often has little or nothing to do with the boundary of the election administrators involved.

For example:
* voter registration in the State of Ohio is -- practically speaking -- handled by each county individually. if a voter w

[2021-04-09 21:32] Arjayellis opened #403 "Product Strategy Documents"
### Overview
We need to create a Wiki page, then update current product documents and create additional documentation/resources outlining the product strategy and vision of the project for newcomers.

### Action Items
- [ ] Update Project one sheet
- [ ] Add link to demo
- [ ] Create presentation on our journey and why we exist
- [ ] Update roadmap and plan for future iterations
- [ ] Develop PRD

[2021-04-09 21:39] Arjayellis commented on #403
@ExperimentsInHonesty @kcoronel @allysmatrix created to track our progress on the product documentation journey.

[2021-04-09 22:36] jmensch1 commented on #366
moving this to in progress @alligatormonday it's on!

[2021-04-10 23:15] aNullValue commented on #371
Last night we (Jake, Joseph, and I) held a Zoom call to discuss this and other BallotNav-related concerns. Among our comments (for our reference rather than for others to do anything with):

1. we must find a way to effectively convey in the app that the address provided by the voter (or geolocation if chosen/detected) needs to match the voter's registered address for voting purposes... only in th

[2021-04-11 14:09] jmensch1 commented on #371
I think some sort of elections tutorial is a great idea, especially since I was in the dark about some basic aspects of how elections work (like precincts).

Also some other things I've been thinking about --

#### Multiple EAJ's for an individual voter?

We discussed the Columbus Ohio scenario, where the city delegates election administration to the county level (actually multiple counties). But

[2021-04-11 15:48] kcoronel opened #405 "Identifying the Scope of Work for Data Science Multiple Election Issue"
### Overview
In order to achieve a product (BallotNav) that is useful and reliable in both local and federal elections. We need to solve for the following data science problem: ability to work on multiple elections concurrently.

### Action Items
- [ ] Host a meeting between Ryan Swan and Sophia Alice (HackforLA datascience community) & BallotNav development and PM team
- [ ] Identify the scope of

[2021-04-11 16:08] kcoronel opened #406 "TBD 2"
### Dependency

### Overview
Taking from Jake and Drew's thoughts in issue #371, we will develop user stories from each of the situations that are outlined in the issue and others that may appear. The stories will be very detailed and will help support the scope of work statement.

### Action Items
- [ ] Categorize each user story by what issue it is addressing for example: policy, design, etc.
-

[2021-04-13 00:06] RobertaFricker commented on #389
I deleted the previous image: ballot-nav.png and changed it to: ballotnav.jpg, the image one shown in Issue #1341.
It is now 600 x 400 and here's a screenshot from Paint:

![image](https://user-images.githubusercontent.com/81199122/114477547-32e02880-9bb1-11eb-901b-6a3073711bdf.png)

I submitted a Pull Request 4/12/21.  Please advise if you need any further update status, I'm new...; )...thanks.

[2021-04-13 01:50] Arjayellis opened #407 "Create a clickable prototype for BallotNav"
### Overview
We need to create a clickable walkthrough prototype for the project so people can view at their own pace in an easy to view way

### Action Items
- [x] Design prototype
- [x] Review with team
- [x] Add to wiki

### Resources/Instructions
[Figma](https://www.figma.com/file/dvtVjMEBqj34a0tv5WEbMd/Ballotnav?node-id=264%3A3)
[VRMS example](https://www.figma.com/proto/9c6pxjImN8MjHAZLH7zxY

[2021-04-13 01:57] Arjayellis opened #408 "Create project journey presentation"
### Overview
We need to create a presentation focused on the project journey and future developments that can be shown to investors and partners.

### Action Items
- [ ] Presentation draft
- [ ] Get feedback from team
- [ ] Final version approval
- [ ] Add to wiki

### Resources/Instructions
[One-sheet](https://docs.google.com/document/d/1m6Dvw9D6eJhBCV5lLLlr0j27455F1BrAEclsWDePgnw/edit)
[Roadmap]

[2021-04-13 02:02] Arjayellis opened #409 "Update Product Roadmap"
### Overview
We need to update the product roadmap to reflect recent developments and ensure we are on track

### Action Items
- [ ] Create draft
- [ ] Approval by team
- [ ] Add to wiki

### Resources/Instructions
[Current Roadmap](https://docs.google.com/spreadsheets/d/1vVo87ZO02xd_JyLDXDm6Q5EWRGKRzsl6Nj_Gt8Wl3wc/edit#gid=961494988)
[VRMS example](https://docs.google.com/document/d/1BlhtbYBbSBlw

[2021-04-13 02:06] Arjayellis opened #410 "PRD and Features"
### Overview
We need to develop a PRD that outlines full feature functionality

### Action Items
- [ ] Create draft
- [ ] Product team review
- [ ] Final approval
- [ ] Add to wiki

### Resources/Instructions
[VRMS example](https://docs.google.com/document/d/16VvC0fbaXsvEQkQaVSj8dG3wFEHgErbjJ6H3akSUoVM/edit)
[311 example](https://docs.google.com/document/d/1DU6tN1xrBimskMpmKaCGntfJA6UxVwVaq0wa2lni

[2021-04-13 02:09] #394 closed

[2021-04-13 02:11] #34 closed

[2021-04-13 02:11] #372 closed

[2021-04-13 02:34] Arjayellis commented on #396
@kcoronel @allysmatrix please check it out and let me know what you think. This can be a dynamic page, so I am just thinking as a starter wiki. https://github.com/hackforla/ballotnav/wiki/Welcome-to-BallotNav!

[2021-04-13 02:38] Arjayellis commented on #379
@kcoronel @fedelandini are we still working on the two versions 1) video first, 2) demo first? If not, can we get them posted this week?

[2021-04-13 02:40] #399 closed

[2021-04-13 03:19] kcoronel commented on #380
@shaswa can you let me know the status for this, thanks!

[2021-04-13 03:27] kcoronel commented on #364
My comment would be to not cover the face of the model for the introduction pages. To Bonnie's comment, perhaps there can be an introduction page with what an election jurisdiction means.

[2021-04-13 03:33] kcoronel commented on #396
@Arjayellis it looks great! I think we can try and get our demo to be non-static on the page?

[2021-04-13 03:43] aNullValue commented on #364
I'd be more inclined to stick with county, or maybe "county or municipality". Introducing the concept of EAJ to the public seems like a bit much to me, given that the average voter would likely never encounter that terminology in the course of voting.

I really like the video overall. Improvements that could be made in the future:

* using a version of the app that doesn't include the demo warning

[2021-04-13 04:31] kcoronel commented on #379
@Arjayellis yes we are working on the next navigation test. Will update this comment with that navigation test once it is ready. For now, we have a new folder with the user navigation testing.

We had 31 responses

[2021-04-13 05:31] fedelandini commented on #379
Hi @Arjayellis I started to design this second version, but I stopped waiting for the second test result. I'm not available this week but I can have this done (design and test) for the next.

[2021-04-13 19:50] giosce commented on #382
I'm at good point scraping the "elections officials" website, this is the latest draft https://drive.google.com/file/d/1uRu-eIWaZGTXvNXVS-qKuBsD7EIBfwDE/view?usp=sharing

Feel free to provide feedback, I know there are a handful of entries with problems, we can discuss the strategy to decide whether it makes sense to fix them in the scraper or manually.

I started using a python addresses parsing

[2021-04-13 20:24] Arjayellis commented on #382
Thanks, Gio. This looks good. One thing that will make this much easier is having the data consistent and all columns equivalent to the schema we currently have in our DB on the front end to minimize adjustments later on. I'll have @aNullValue weigh in before we move forward, but please review the below resources to get an idea of what I mean. We can discuss further tonight.

https://docs.google.c

[2021-04-13 20:39] Arjayellis commented on #396
Would you clarify what you mean @kcoronel? I am just providing links to various resources for new volunteers to reference.

[2021-04-13 21:04] kcoronel commented on #396
you mentioned it could be a dynamic page, I thought you meant perhaps embedding our product within the wiki. I looked at VRMS' wiki and it didn't seem much more dynamic than ours, so I think we are on the right track.

[2021-04-13 21:37] Arjayellis commented on #396
I mean dynamic in that we can continue to update it, not the actual page being able to move lol

[2021-04-13 23:29] kcoronel commented on #379
<img width="747" alt="Screen Shot 2021-04-13 at 1 46 58 PM" src="https://user-images.githubusercontent.com/38144130/114633469-5ff60f00-9c75-11eb-90ae-552d95d2b1bb.png">

[2021-04-13 23:47] Arjayellis commented on #361
@kcoronel @allysmatrix Are one of you able to start on this?

[2021-04-13 23:53] kcoronel commented on #361
I'll assign myself this and work on getting something for the next mtg.

[2021-04-13 23:58] alligatormonday commented on #366
04/13/2021 Update:

Starting working on the landing page. In progress. No roadbloacks. Need more time.

[2021-04-13 23:58] kcoronel opened #411 "BallotNav launch in NJ Only for 2021"
### Overview
Discuss strategy for product launch in 2021

### Action Items

### Resources/Instructions

[2021-04-14 00:05] kcoronel commented on #382
@jmensch1 @aNullValue can you take a look at Gio's data, thanks (as a reference to our scraped data @alligatormonday)

[2021-04-14 00:34] #383 closed

[2021-04-14 00:45] kcoronel commented on #378
@fedelandini @IrinaRost can you take a look and let us know your thoughts, perhaps we can get together for a mtg. with Jon

[2021-04-14 00:52] kcoronel commented on #407
Questions: What is the goal of the task? Do we want this to be fully clickable?

[2021-04-15 20:52] Arjayellis commented on #407
@IrinaRost @kcoronel

- The goal is to give users/investors/partners a way to visualize the app experience and travel through the mobile process at their own pace.
- Does not need to be fully clickable, just a representation. Please see the example provided in the resources section above

[2021-04-15 20:55] #396 closed

[2021-04-16 22:57] aNullValue commented on #371
Current Lucid diagrams (draft): https://lucid.app/publicSegments/view/fd6ca8fc-3f3e-46d4-9f8b-5bf31185f434

[2021-04-16 23:35] kcoronel commented on #371
@salice ^

[2021-04-17 20:34] IrinaRost commented on #407
Link to the [mobile vrsion prototype](https://www.figma.com/proto/dvtVjMEBqj34a0tv5WEbMd/Ballotnav?node-id=3719%3A13582&scaling=scale-down&page-id=3719%3A11979)

[2021-04-18 17:18] kcoronel commented on #410
@allysmatrix this is the issue

[2021-04-18 20:03] allysmatrix commented on #410
@kcoronel thank you, Karen. Got it. Will start on this

[2021-04-20 14:57] #373 closed

[2021-04-20 14:58] #379 closed

[2021-04-20 15:03] kcoronel opened #413 "Usability Hub Testing for Placement of Demo Video"
### Overview
Conduct usability testing (using UsabilityHub) on different options for where BallotNav's demo video can be placed; also conduct testing after Usability Hub sent an email around a bug that may have affected our last user testing.

### Action Items
- [ ] Create testing for video layout on page due for next week 4/20
  - [ ] Identify categories of users we want to make sure respond (i.e

[2021-04-20 23:55] alligatormonday commented on #366
04/20/2021 Update:

Landing page components have been created. The only thing remaining is styling.

[2021-04-26 00:15] kcoronel commented on #361
@Arjayellis @allysmatrix I've found a couple of organizations, and a bit stuck on what is the next course of action. Below I've outlined some ideas that we can discuss.

1/ Outline the key benefits organizations will receive by partnering with BallotNav
2/ Should I explore organizations that fund data science/democracy problem solving?

[2021-04-26 00:17] kcoronel commented on #403
@Arjayellis can I work on this:  **Presentation on our journey and why we exist** ?

[2021-04-26 02:00] kcoronel opened #414 "Updating Designs for Administration Portal"
### Overview
Before we launch in NJ in June 2021, we would like to have BallotNav backend updated.

### Action Items
- [ ] Inventory of issues related to backend updates and additions (PM to help with this)
- [ ] Confirm that all suggestions from volunteers are added to inventory list
- [ ] Conversation with developers to understand limitations
- [ ] Designs added to Figma board
- [ ] Review desig

[2021-04-26 20:00] Arjayellis commented on #403
@kcoronel Sounds great! (regarding comment on working the presentation)

[2021-04-27 23:49] jmensch1 opened #417 "New Jersey: verification of locations"
### Overview
@aNullValue put together a spreadsheet of drop boxes and election offices in NJ:

https://docs.google.com/spreadsheets/d/1hUFGBuxp8L7XyEN4Loqf92kFCFpWKXVkX4biWO2MjnU/edit#gid=0

He validated a lot of the locations, but there are a few bits of validation that need to be done:

1. The drop boxes in Bergen, Cumberland, Hudson, and Hunterdon counties haven't been validated

2. The address

[2021-04-27 23:50] jmensch1 commented on #417
@aNullValue @kcoronel @Arjayellis  --  we should flesh out this issue a bit more tonight

[2021-04-27 23:56] alligatormonday commented on #366
04/26/2021 Update:

Need help with styling.

[2021-04-28 00:11] aNullValue commented on #371
I attended the data science meeting last Thursday night. Unfortunately Sophia was unable to attend. The feedback I need really needs to come from someone who also has real-world elections administration experience, which requires Sophia. Unfortunately Sophia was unable to attend that meeting due to an illness. At the moment I'm blocked waiting for Sophia. But this issue does not block New Jersey f

[2021-04-28 00:16] kcoronel commented on #382
@kcoronel add screen shares of Jake and Drew's convo on slack re: NJ data

[2021-04-28 00:23] kcoronel commented on #378
Review with UI/UX team; BallotNav team to review as well and offer any comments in this issue

[2021-04-28 00:24] #364 closed

[2021-04-28 00:25] allysmatrix commented on #410
I have researched the PRD structure and will start the google doc with the draft. I'll share the gdoc with the PM team.

[2021-04-28 00:26] kcoronel commented on #366
Jake and Joseph will schedule a mtg. re: styling

[2021-04-28 00:27] kcoronel commented on #407
@Arjayellis this is in review for you to look over

[2021-04-28 00:37] kcoronel commented on #413
Questions: Who will be our testers

Please review for copyedits, etc.: @Arjayellis @allysmatrix @IrinaRost @fedelandini @jonlam27

[2021-04-28 01:17] jonlam27 commented on #413
I think it's awesome!

For Landing page Preference Test A/C Edited, not sure how effective the question about the video placement is right now since it doesn't really differ between both pages (both have the video near the bottom of the page). I think there was talk about potentially switching where the demo is with the video to see which people gravitate more towards (the demo or the video). Is t

[2021-04-28 06:52] Arjayellis commented on #413
Suggested copy edits:

- Original
  - BallotNav helps voters find safe, secure, in-person locations to drop off your mail-in or absentee ballot. Launch our demo to navigate BallotNav.
- Revised
  - Finally, a reliable and complete source for ballot drop-off information. Launch our demo today and see how BallotNav works.

- Original
  - BallotNav is a navigation tool created by Hack for LA that aim

[2021-04-28 06:57] Arjayellis commented on #407
This looks good to me. @kcoronel @allysmatrix please let me know if you both approve.

[2021-04-29 17:13] fedelandini commented on #413
hi @jonlam27 I agree with you . I think the preference is mainly a matter of design and style, because in terms of content and type of elements in the page, they have the same things.
I think the question about the video is more effective in the 5 sec test, and I also agree with you that we should increase 2-3 seconds. We are all very used to this portal, but if we recruit ppl completely new (and

[2021-05-04 23:58] alligatormonday commented on #366
05/04/2021 Update:

Need to make the final touches. Have a question regarding one of the logos/images. Will address in the meeting.

[2021-05-05 00:01] aNullValue commented on #371
No progress was made on this issue in the last week. Sophia and I plan to discuss the latest schema draft later this week.

[2021-05-05 00:14] aNullValue commented on #417
Counties in this spreadsheet that do not have a value in column M (date_verified) still need to be verified. I couldn't find those counties data online (but perhaps I missed it). I'd recommend looking for the data on the county board of elections website (if so), and if you can't find it there, then call the county board of elections to ask if they make that list available anywhere.

Additionally,

[2021-05-05 00:15] aNullValue commented on #417
@giosce @allysmatrix

[2021-05-08 02:28] jonlam27 commented on #378
As discussed, I briefly worked on a simple competitive analysis and gathered some ideas that I think would be cool to implement and popped them in a PDF. They're also bolded in the spreadsheet below (I gave you all edit access so please feel free to add any other comments and just go crazy with it lol)

[Competitive Analysis - Ideas.pdf](https://github.com/hackforla/ballotnav/files/6445005/Competi

[2021-05-11 23:31] aNullValue commented on #371
Sophia and I plan to meet this Thursday, May 13, to discuss the potential schema.

[2021-05-19 00:01] alligatormonday commented on #366
PR made. Ticket Complete!

[2021-05-26 00:14] kcoronel commented on #371
@aNullValue Please provide update from your meeting with Sophia and any
1. Blockers 
2. Next Steps and ETA

Thank you!

[2021-05-26 00:15] #366 closed

[2021-05-26 00:17] kcoronel commented on #413
@kcoronel check with team to disable links, also report out results.

[2021-05-26 00:19] kcoronel commented on #417
@giosce completed tasks. @kcoronel add screenshots to this issue.

[2021-06-02 00:17] #382 closed

[2021-06-07 01:44] kcoronel opened #425 "Sharpening Image on Landing Page"
### Overview
The BallotNav image placed in the computer and cell phone in our landing page _(screen shot below)_ is blurry on mobile and desktop.

### Action Items
- [ ] Sharpen image on Figma and label it "Edited [Insert Date]
- [ ] Comment below once image has been fixed on Figma
- [ ] Dev team to edit image on landing page
- [ ] Test on mobile and desktop

### Resources/Instructions
<img width=

[2021-06-07 01:47] #384 closed

[2021-06-07 04:21] kcoronel opened #426 "Make Demo Site Arrow Links Work"
### Overview
When you walk through the BallotNav demo, there are a few sites we link to _(screenshot below)_ that aren't clickable.

### Action Items
- [x] Make links clickable
- [x] Comment below when issue has been solved

### Resources/Instructions
<img width="506" alt="BallotNav" src="https://user-images.githubusercontent.com/38144130/120950000-b1150300-c6fa-11eb-9afd-187b26709897.png">

[2021-06-07 14:25] jmensch1 commented on #426
This is fixed.

[2021-06-08 01:08] kcoronel commented on #425
Taken from mobile ![](https://files.slack.com/files-pri/T04502KQX-F0243C3MHV4/image_from_ios.png)

[2021-06-08 01:09] #426 closed

[2021-06-08 01:50] kcoronel commented on #413
[Landing page Preference Test A_C (Revised)-results.csv](https://github.com/hackforla/ballotnav/files/6612942/Landing.page.Preference.Test.A_C.Revised.-results.csv)
![Uploading Screen Shot 2021-06-07 at 6.49.58 PM.png…]()

[2021-06-08 01:51] kcoronel commented on #413
[5 sec (Landing Page C)-results.csv](https://github.com/hackforla/ballotnav/files/6612945/5.sec.Landing.Page.C.-results.csv)

[2021-06-08 01:51] allysmatrix opened #427 "Create a citizen to citizen symbol / verbiage"
### Overview
Create a **citizen to citizen** symbol / verbiage and add it to either about page or every page of this site. This would highlight the nature of this project as a citizen to citizen project, with the main goal of helping each other. This would also help build BallotNav brand identity.

### Action Items
- [ ] Discuss the verbiage ideas with the PM team
- [ ] Discuss the design ideas wi

[2021-06-08 01:54] kcoronel commented on #413
[5 sec (Landing Page A)-results.csv](https://github.com/hackforla/ballotnav/files/6612948/5.sec.Landing.Page.A.-results.csv)

[2021-06-15 00:36] aNullValue commented on #371
Per my comments at last week's meeting:

Right now my blockers are the need for a comprehensive set of features that we want to support in the future. I've got a good handle on data used in the elections world, but... I don't have a good grasp on what all of that data might be useful to this project.

Beyond that, it would be incredibly useful to have some kind of discussion regarding how auditing

[2021-06-28 04:14] kcoronel opened #428 "Marketing BallotNav"
### Overview
HackforLA is building out workflows for projects marketing. BallotNav is working with [Christiney Song](U01ULMCR02V) to explore BallotNav's marketing needs.

### Action Items
- [ ]  Relay and documents on BallotNav positioning, personas + journey work, any data + insights we have on the end users
- [ ] BallotNav Social Accounts - [here](https://docs.google.com/document/d/1lfDk8wluMyDl

[2021-07-13 01:11] kcoronel commented on #425
Hey Jake, I think this is done, but wanted to confirm

[2021-07-14 16:19] jmensch1 commented on #425
Hi @kcoronel, I haven't gotten to this one yet. I've got a new job...will likely be busy for a while. Maybe @alligatormonday could handle this?

[2021-08-10 00:49] kcoronel opened #429 "Team Meeting 8/9/21"
### Overview
- [ ] Determining criteria for Secretary of State reach out selection

### Action Items
Add comment to this issue with your proposed agenda item. if item warrants an issue of its own please start a new issue, by going to the issues tab above and clicking on the New Issues green button.

###Resources
[SoS Research](https://docs.google.com/spreadsheets/d/1YX8iX1jTrkGZIWf9optbcp-D1Cchv-N

[2021-08-10 01:00] kcoronel opened #430 "BallotNav Next MVP Proposal"
### Overview
In order to determine how to best move forward with BallotNav for the 2022 midterm elections, our team decided to write out options for Bonnie to review

### Action Items
- [ ]

### Resources/Instructions
[BallotNav Next MVP Proposal](https://docs.google.com/document/d/1TTQUDNSttQs1HU5z4IM9SIXeGvtCL_kJyiXZ2O4lkKE/edit?usp=sharing)

[2021-08-10 01:34] kcoronel commented on #429
Notes: Team will be picking states and contributing to research. Next week, we will begin to prioritize who we will reach out to first. We are trying to determine maximum support.

[2021-08-26 01:16] kcoronel opened #431 "Agenda for August 30, 2021"
### Agenda
- [x] Reviewing SoS matrix with team
- [x] Reviewing responses from poll regarding our meeting time
- [ ] Updates from backend
- [ ] Updates from frontend
- [ ] Updates from UI/UX
- [ ] Updates from PM's
- [ ] Review issue #407

### Resources
[SoS Research](https://docs.google.com/spreadsheets/d/1YX8iX1jTrkGZIWf9optbcp-D1Cchv-NG7aeaXWjXslA/edit#gid=1389879798)

[2021-08-26 01:21] kcoronel opened #432 "Adding Vacancy to PM Board"
### Overview
Karen or Alina will add to the PM vacancy board, once the action items below are completed.

### Action Items
- [x] Confirm team meeting - Tuesday's at 6pm PST
- [x] Confirm PM meeting (chat with Bonnie about her schedule)
- [x] Write out description for the vacancy board
- [x] Add description to the board

### Resources/Instructions
[Vacancy Board](https://github.com/hackforla/produc

[2021-08-26 01:38] kcoronel opened #433 "Editing BallotNav Website"
### Overview
In order to demonstrate our past work on our landing page, the following updates need to be done.

### Action Items
- [ ] Edit ballotnav.org to show GA demo data
- [ ] Make a list of elections for which we were active for and place it on our demo site
- [ ] Demo site "About" should link to our about.ballotnav.org/
- [ ] When on the About or Volunteer page, we should not have a navigat

[2021-08-26 01:41] kcoronel opened #434 "Clean Up Labels and Milestones"
### Overview
We aim to update our Kanban board with HackforLA's labels and milestones standardization.

### Action Items
- [ ] Bonnie to update this issue with tasks for Alina and Karen

### Resources/Instructions

[2021-08-27 22:09] kcoronel opened #435 "BallotNav Communications Guide"
### Overview
BallotNav is missing a Communications Guide that helps coordinate the creation of a visual framework for the consistency of training and educational materials across the BallotNav volunteer teams.

The Communications Guide in this context means a presentation template which includes logos and formatting for slide decks, docs, and sheets to be used whether the it is for internal or ext

[2021-08-31 01:09] kcoronel commented on #407
Fundraising ask; clickable prototype of app, what was need when we have demo application - notes from Team meeting on 8/30
@Arjayellis can you give us some more insight about why this prototype was needed

[2021-08-31 01:10] kcoronel commented on #361
@kcoronel ^^ reminder from above

[2021-08-31 01:11] kcoronel commented on #371
At the moment working on Secretary of State Research Project, will need to update on conversation with Bonnie and proposals

[2021-08-31 01:12] kcoronel commented on #434
@ExperimentsInHonesty please update this issue with steps for Alina and myself to work through - thanks

[2021-08-31 01:15] kcoronel commented on #431
31 states left for SoS search
@allysmatrix reminder for new BallotNav meeting time

[2021-09-14 01:09] kcoronel commented on #434
Update this issue from lessons on Wednesday's Community of Practice

[2021-09-14 01:18] kcoronel commented on #435
@fedelandini @IrinaRost

[2021-09-23 21:15] ExperimentsInHonesty opened #436 "Document BallotNav team meeting times and who Must/Should/Can attend"
### Overview
The Civic Tech Jobs team needs accurate meeting time information from the BallotNav team to help match your project with available volunteers.

### Action Items
- [ ] provide details about the each meeting in a comment by using a copy of the check boxes below
- [ ] post a link to this issue on https://github.com/hackforla/CivicTechJobs/issues/35 in a comment letting the civic tech job

[2021-09-28 05:50] kcoronel opened #437 "BallotNav Weekly Agendas"
### Overview
This issue tracks the agenda for the product management community of practice and weekly roll call for projects.

### Weekly Agenda
[September 28 ](https://github.com/hackforla/ballotnav/issues/437#issuecomment-928873621)

[2021-09-28 05:53] kcoronel commented on #437
Agenda for Sept 28 2021
This week we will begin to brainstorm ideas for functions that benefit our identified states of [list states] and their elections.

Meeting structure:

Other items:

[2021-09-29 02:38] kcoronel commented on #435
@jonlam27 great work! I updated the issue above to reflect the next steps we spoke about at our meeting. Fill free to edit as needed.

[2021-09-29 15:24] kcoronel opened #438 "Research: Features List by 10 Most Democratic States"
### Overview
After SoS research and discussion, our team has decided to focus on the provided ballot drop-box location information from the 10 most democratic states. Our task is to analyze the functions on the sites and detail the information in our tracker linked below (Features List by State).

### Action Items
- [ ] Fill out analysis as assigned
Drew:
Jon:
Karen:
- [ ] Discuss analysis and com

[2021-09-29 15:26] kcoronel opened #439 "Clean-Up BallotNav Kanban Board"
### Overview
We aim to update our Kanban board with HackforLA's labels and milestones standardization.

### Action Items
- [x] Review [Kanban Guide](https://docs.google.com/document/d/11Fe7mNdmPBP5bD_yLJ1C0_I1TmoK47AuHHrdhdDyWCs/edit#heading=h.nl3p4nf4eqb4)
- [x] Use HackforLA website project board for a good example of Kanban board
- [x] Update labels
- [x] Present Kanban board to team

### Resou

[2021-09-29 17:50] aNullValue commented on #438
Point of clarification: it is critically important to mention that the choice of using the "10 most Democratic states" for this analysis is not because we prefer those states or that we support Democrats over Republicans. This choice was made because it seems from experience that Democratic-leaning states have more features, and are thus a better point of comparison for feature-competition against

[2021-10-01 04:18] #434 closed

[2021-10-01 04:22] kcoronel commented on #439
![](https://files.slack.com/files-pri/T04502KQX-F02FK85HLBZ/screen_shot_2021-09-28_at_5.21.44_pm.png) - notes from 9/8 PM meeting

[2021-10-01 04:24] kcoronel commented on #439
@ExperimentsInHonesty I see that civic tech index uses size (S, M, L) labeling for their project, any recommended projects that don't use sizing?

[2021-10-01 04:29] kcoronel commented on #436
- [ ] Tuesday
   - [ ] 5:00 PST
      - [ ] AM
      - [x] PM
   - [ ] 60 minutes
   - [ ] BallotNav Weekly Team Meeting
   - [ ] who_must_attend
      - [x] pm
      - [x] all_leads
      - [ ] design_lead
      - [ ] research_lead
      - [ ] frontend lead
      - [ ] data_science_lead
      - [x] design
      - [x] research
      - [x] frontend
      - [x] backend
      - [x] data_science

[2021-10-01 04:37] kcoronel commented on #432
@allysmatrix let me know if we can confirm Wednesday's at 5:30pm for PM meetings. Also, would you be able to add this to the vacancy board?

[2022-01-19 00:44] kcoronel opened #441 "BallotNav Team Agenda"
### Overview
Meeting Agendas for BallotNav team meetings

### Action Items

#### To create a new agenda
- [ ] Copy the template below into a new comment
- [ ] Edit the text you pasted with new items for your agenda
- [ ] Add the link to the new comment with its date under Resources/Instructions

### Resources/Instructions
The prework (if any)should be done before the meeting so that it can be disc

[2022-01-19 01:58] kcoronel commented on #441
## 1/18/22 Agenda and notes

### Prework
None this week

### Roll Call

#### Recurring items: Happens on the Tuesday meeting
 - [ ] Accountability and Support Check
    - [ ] Review assignments
       - [ ] [Karen](https://github.com/hackforla/ballotnav/issues?q=assignee%3Akcoronel+is%3Aopen)
       - [ ] [Irina]( )
       - [ ] [Drew] ( )
       - [ ] [Jon] ( )
       - [ ] [Federica] ( )

[2022-01-19 02:30] kcoronel commented on #435
@fedelandini @IrinaRost please review BallotNav Communications Guide; please make sure your complete names and Jon's are the first three on the slide deck

[2022-01-25 05:26] #361 closed

[2022-01-25 05:29] kcoronel commented on #361
In response to above. The research was a good starting point to kick start us in our journey of choosing what came next for BallotNav.

Closing this issue because work associated with this issue was completed.

[2022-01-25 05:42] #432 closed

[2022-01-25 05:44] #439 closed

[2022-01-25 22:41] #117 closed

[2022-01-25 22:47] kcoronel commented on #398
This request is outdated.

[2022-01-25 22:47] #398 closed

[2022-01-25 22:48] kcoronel commented on #430
Completed.

[2022-01-25 22:48] kcoronel commented on #386
Outdated request.

[2022-01-25 22:48] #386 closed

[2022-01-25 22:50] kcoronel commented on #380
Hi @shaswa is this complete? I would like to clean up the issues I am tagged in. TY!

[2022-01-25 22:51] #186 closed

[2022-01-25 22:52] #22 closed

[2022-01-25 23:03] kcoronel commented on #441
## 1/25/22 Agenda and notes

### Prework
None this week

### Roll Call

#### Recurring items: Happens on the Tuesday meeting
 - [ ] Accountability and Support Check
    - [ ] Review assignments
       - [ ] [Karen](https://github.com/hackforla/ballotnav/issues?q=assignee%3Akcoronel+is%3Aopen)
       - [ ] [Irina] (https://github.com/hackforla/ballotnav/issues?q=assignee%3AIrinaRost+is%3Aopen)

[2022-01-26 02:34] kcoronel commented on #435
Checking format of banner and design system edits within the presentation

[2022-01-26 04:58] kcoronel opened #442 "Create Pro Persona User Stories for New BallotNav Features"
### Overview
Based on our BallotNav [proposed MVP](https://docs.google.com/document/d/1TTQUDNSttQs1HU5z4IM9SIXeGvtCL_kJyiXZ2O4lkKE/edit) we are looking to partner with government partner and walk them through our open source project, with the goal of getting the government partner to adopt our site. We have developed a list of features we would like to add to the product before we begin outreach.

[2022-01-26 05:10] kcoronel commented on #442
Example found from HackforLA (forgot which one) ![User_persona_Template](https://user-images.githubusercontent.com/38144130/151106193-48f523f8-9423-43ab-a9b6-7bb4eb961976.png)

[2022-01-26 05:10] kcoronel commented on #442
A few pro persona stories we discusses on 1/25

[2022-01-26 05:34] kcoronel opened #443 "UI/UX Assets - Identify current versions"
### Overview
We need to identify the current versions of UI/UX assets so that we know what we need to work on.

### Action Items
- [ ]  Communication Style Guide (including documents, spreadsheets and forms)
- [ ]  Competitive Analysis
- [ ]  Figma
- [ ]  Presentation Deck
- [ ]  User Persona/Journeys
- [ ]  User Research Guide/Template
- [ ]  Website analytics software setup
- [ ]  Wireframes Tem

[2022-01-26 05:53] kcoronel opened #444 "Refine Purpose of 'Must Have' Feature Decisions"
### Overview
Based on our [BallotNav proposed MVP](https://docs.google.com/document/d/1TTQUDNSttQs1HU5z4IM9SIXeGvtCL_kJyiXZ2O4lkKE/edit) we have developed a list of 'Must Have' features we would like to add to the product before we begin outreach.

### Action Items
- [x] Review 'What is the Purpose' of function (column I in the document below)
- [x] Add any notes or instructions to sheet

### Reso

[2022-01-26 06:17] kcoronel opened #445 "Gather screen shots of State Sites Listed Below"
### Overview
As we continue to work through updating our features, we should create a presentation with screen shots of the state sites we analyzed.

### Action Items
- [ ]  Create google presentation document and link below
- [ ] Add screenshot to presentation deck
- [ ] Decide if there are any design features we would like to mirror

### Resources/Instructions
[Features List](https://docs.google

[2022-01-26 06:22] kcoronel opened #446 "Update BallotNav roadmap"
### Overview
We need to land on an updates roadmap to prioritize the work to be done and to potentially recruit new members based on our identified needs.

### Action Items
- [ ]  Draft the roadmap
- [ ]  Set up a team meeting with Eng and Design Leads to revise and approve the final roadmap (PM + Eng + Designers)
- [ ]  Finalise the roadmap
- [ ]  Link roadmap goals to milestones
- [ ]  Set up a

[2022-01-26 06:26] kcoronel opened #447 "Develop MVP Document for 2022"
### Overview
Create a more finalized version, including the team's comments.

### Action Items

- [ ] Update proposed MVP
- [ ] Review with team

### Resources/Instructions
[2021 Proposed MVP](https://docs.google.com/document/d/1TTQUDNSttQs1HU5z4IM9SIXeGvtCL_kJyiXZ2O4lkKE/edit)

[2022-01-27 07:00] ExperimentsInHonesty commented on #441
Please add to next agenda or an issue for the backlog
- [ ] updating this card to have the ballotnav logo image that is on the hackforla.org website.  You can use the [GreenEarthOs](https://github.com/hackforla/product-management/projects/8#card-70785112) card as an example of how to do that https://github.com/hackforla/product-management/projects/8#card-70308178.  Also its missing some of the sta

[2022-02-02 02:15] kcoronel commented on #441
Notes from 2/1/22:

- [ ] Onboarding Process - what is needed

[2022-02-02 04:03] staceyrebekahscott opened #448 "On-boarding Stacey as Co-Product Manager"
### Overview
To get Stacey fully on-boarded as co-product manager for BallotNav

### Action Items

- [x] Get Repo access
- [x] Create login for 1Password
- [x] BallotNav Gmail
- [x] Familiarize with BallotNav Kanban- read through all issues
- [x] Familiarize with BallotNav Google Docs- read through documentation, including current roadmap
- [x] Review new roadmap with Karen- meeting scheduled for

[2022-02-02 04:15] staceyrebekahscott opened #449 "Partnerships for Promotion"
### Overview
To research voting outreach organizations for possible partnership opportunities with BallotNav

### Action Items
TBD once roadmap is completed and marketing plan is being formulated.

### Resources/Instructions

[2022-02-05 00:50] jonlam27 commented on #442
Did a bit of research on some common problems/perceptions of voting and created 4 personas. @kcoronel can you pls review them to see if they cover enough ground for what we are looking to do and let me know if you have any input on defining the scenarios a bit more?

[Persona Research](https://docs.google.com/document/d/1nr2q8eFWxSTGcmNOreRXgeDkAnNdOJmIeKFp8a49LZk/edit?usp=sharing)

[2022-02-09 01:41] kcoronel commented on #446
Update 2/7: roadmap is ready for review with team

[2022-02-09 01:51] kcoronel commented on #441
##2/8/22 Agenda and notes

### Prework
None this week

### Roll Call

#### Recurring items: Happens on the Tuesday meeting
 - [ ] Accountability and Support Check
    - [ ] Review assignments
       - [ ] [Karen](https://github.com/hackforla/ballotnav/issues?q=assignee%3Akcoronel+is%3Aopen) - didn't have time to work through things, will prioritize MVP document
       - [ ] [Irina](https://github.

[2022-02-09 02:11] kcoronel commented on #435
Working on design system to link everything to the guidelines, and the complete library for BallotNav.

[2022-02-09 02:18] kcoronel commented on #444
Drew added his comments to the features list document under resources/instructions.

[2022-02-09 02:18] #444 closed

[2022-02-09 03:19] kcoronel commented on #442
Went over personas at team meeting on 2/7, Jon, Federica and Irina will continue to work on the personas, specifically
- [ ] adding additional personas that touch upon additional paperwork or legal issues people may encounter when dropping off a ballot for a family member or friend

[2022-02-10 01:22] staceyrebekahscott opened #450 "Develop on boarding process for new team members"
### Overview
Develop an on boarding process for all new team members, with variations for each role.

### Action Items
TBD

### Resources/Instructions
TBD

[2022-02-11 03:34] staceyrebekahscott opened #451 "BallotNav 2022 PM Roles and Responsibilities"
### Overview
As of February 2022, we have a team of 5 PM's. In order to make this the best learning and skill building experience, we have decided to divide our responsibilities by the following.

Don't know where to add this
- [ ] Team Agenda creation
- [ ] Send minutes to team slack account
- [ ] Remind team members to update issues
- [ ] Approval of New Issue Request from non-PM team members
-

[2022-02-11 06:10] staceyrebekahscott opened #452 "02/11/22 Agenda for PM Pre-Onboarding"
02/11/22 Agenda for PM Pre-Onboarding

### Roll Call
Karen
Stacey
Layne
Punit
Gayathri

#### **Priority Items**
Welcome to BallotNav and Roadmap Review:
- Intro to the BallotNav project for new PMs
- Brief overview of Roadmap

Review New Issue Approval list:
- Issues pulled from Icebox and Prioritized Backlog to gain a sense of current work to be assigned to PMs.

Review and Clean Up of the Kanban

[2022-02-11 17:42] kcoronel commented on #452
02/11/22 Agenda for PM Pre-Onboarding

### Roll Call
Karen
Stacey
Layne
Punit
Gayathri

#### Priority Items
Welcome to BallotNav and Roadmap Review:
- Intro to the BallotNav project for new PMs
- Brief overview of Roadmap

**Review New Issue Approval list:**
- Issues pulled from Icebox and Prioritized Backlog to gain a sense of current work to be assigned to PMs.

**Create New Issue Demo:**
- Crea

[2022-02-12 03:30] layneam opened #453 "On-boarding Layne as Co-Product Manager"
### Overview
Get Layne fully on-boarded as co-product manager for BallotNav

### Action Items
- [x] Get Repo access
- [x]  Familiarize with BallotNav Kanban- read through all issues
- [x]  Familiarize with BallotNav Google Docs- read through documentation, including current roadmap
- [x]  Update Wiki, update PMs.

[2022-02-12 04:30] kcoronel commented on #13
@kcoronel add OKR guide to this issue.

[2022-02-12 04:35] kcoronel commented on #409
Closed because this issue was duplicated and outdated.

[2022-02-12 04:35] #409 closed

[2022-02-12 04:42] kcoronel commented on #354
This issue is outdated.

[2022-02-12 04:42] #354 closed

[2022-02-14 09:50] layneam opened #454 "Validate BallotNav Product-Market Fit"
### Overview
Given the challenges inherent in harvesting and normalizing data from each election district, the BallotNav team has made the decision to pivot to an open-source model that local governments and/or community partners can use to display ballot drop locations to voters. This may require a different approach to meet the needs of the new target audience.

### Action Items
- [ ] Determine

[2022-02-14 18:27] yoursgayathri opened #455 "On-boarding Gayathri as Product Manager"
### Overview
To get Gayathri fully on-boarded as co-product manager for BallotNav

### Action Items
 Get Repo access
 Create login for 1Password
 BallotNav Gmail
 Familiarize with BallotNav Kanban- read through all issues
 Familiarize with BallotNav Google Docs- read through documentation, including current roadmap
 Review new roadmap with Karen- meeting scheduled for Friday, Feb 4 at 5PM
 Update

[2022-02-16 01:28] kcoronel commented on #441
2/15/22 Agenda and notes

Prework
None this week

Roll Call
Karen
Federica
Jon
Layne
Stacey
Gayathri

Recurring items: Happens on the Tuesday meeting
 Accountability and Support Check
 Review assignments
 [Karen]https://github.com/hackforla/ballotnav/issues?q=assignee%3Akcoronel+is%3Aopen
 [Irina](https://github.com/hackforla/ballotnav/issues?q=assignee%3AIrinaRost+is%3Aopen)
 [Drew](https://githu

[2022-02-16 02:08] kcoronel commented on #441
add zoom link to email calendar invite

[2022-02-16 02:14] kcoronel commented on #446
Please provide update
1. Progress : No updates to roadmap since team meeting on 2/7
2. Blockers : None - but will be pausing until we determine North Star
3. ETA: determine where to go in two weeks

[2022-02-16 02:22] kcoronel commented on #442
@layneam

[2022-02-16 02:39] layneam commented on #453
Gayathri will pick up the wiki item; have reviewed all other items

[2022-02-16 02:39] #453 closed

[2022-02-16 02:52] staceyrebekahscott commented on #455
Removed as they are not applicable:
Review new roadmap with Karen- meeting scheduled for Friday, Feb 4 at 5PM
Update Wiki, update PMs.

[2022-02-16 03:06] staceyrebekahscott opened #456 "Updating Wiki Page for BallotNav"
### Overview
Welcome to BallotNav! wiki page needs to be updated.

### Action Items

### Resources/Instructions
[Welcome to BallotNav!](https://github.com/hackforla/ballotnav/wiki/Welcome-to-BallotNav!)
[BallotNav demo video](https://drive.google.com/file/d/176QRO4pNVmGh7kecVOEH2F8sFftd35Eb/view?usp=sharing)

[2022-02-16 03:18] staceyrebekahscott commented on #448
Created Issue #456 for Updating Wiki issue and assigned to Gayathri.

[2022-02-16 03:18] #448 closed

[2022-02-16 03:48] staceyrebekahscott commented on #452
Reviewed issues noted in agenda, moved back into Prioritized Backlog. Issue #403 will be broken into smaller issues. Issue #450 maybe incorporated into a Kick-off deck / onboarding issue TBD.

New items were added to kanban, to be addressed before roadmap can be completed (roadmap issue moved to Backlog).

[2022-02-16 03:50] #452 closed

[2022-02-19 19:35] kcoronel commented on #405
Closing this issue because solving the data science problem is no longer a blocker for the next iteration of our product - BallotNav.

[2022-02-19 19:35] #405 closed

[2022-02-19 20:00] kcoronel opened #457 "Write Instructions for Text Fields in Volunteer Portal"
### Overview
In our launch of the project in 2020, we noticed that the following text fields were being used incorrectly by volunteers during data validation within the volunteer portal.

### Action Items
- [ ] Update volunteer portal to include intended purposes for the following:
     - [ ] "internalNote" should be used for anything that only we at BallotNav need to be aware of for some reason E

[2022-02-19 20:22] kcoronel opened #458 "Update Volunteer Validation Script"
### Overview
In our launch of our product for Georgia's special election in 2021, we noticed that the validation script as it stands was unable to help us catch incorrect data.

DeKalb County, in particular, was not even in the vicinity of being correct for the January 2021 special election. Its locations seem to have been from the November 2020 general election.

### Action Items
- [ ] Add someth

[2022-02-19 20:35] kcoronel opened #459 "Update Volunteer Onboarding Presentation to Reflect Adding Multiple Location Records in Volunteer Portal"
### Overview
In the launch of our product in 2020, we noticed that our volunteers were not creating two location records for a location that accepts voter ballots at their office as well as in a drop box.

### Action Items
- [ ] Update volunteer onboarding presentation to correctly instruct volunteers about the the following rule: If one single location serves multiple location functions EX: Elect

[2022-02-19 20:42] kcoronel opened #460 "Update Volunteer Onboarding Presentation to Reflect Street Post Directionals"
### Overview
In the launch of our product in 2020, we noticed that street post-directionals (i.e., SW, NE, etc) were made part of the city name, which broke geocoding. For example there was an input "1 main st, sw atlanta ga 12345"... which made the city in ballotnav be reflected as "sw atlanta"... which is not a valid city, and broke geocoding.

### Action Items
- [ ] Discuss with team where stre

[2022-02-19 20:43] kcoronel commented on #301
Created separate issues for this and they can all be found in Icebox.

[2022-02-19 20:43] #301 closed

[2022-02-19 20:50] kcoronel commented on #374
This issue is no longer relevant due to new direction of product in 2022.

[2022-02-19 20:50] #374 closed

[2022-02-19 20:51] kcoronel commented on #414
This issue is outdated.

[2022-02-19 20:51] #414 closed

[2022-02-19 20:53] kcoronel commented on #427
This issue will be replaced by 2022 branding/brand identity and project North Star.

[2022-02-19 20:53] #427 closed

[2022-02-19 20:58] kcoronel commented on #355
Decision was shared within MVP document found in google drive.

[2022-02-19 20:58] #355 closed

[2022-02-19 21:27] kcoronel opened #461 "PM Meeting Agenda"
### Overview
Meeting Agendas for BallotNav PM meetings

### Action Items

#### To create a new agenda
- [ ] Copy the template below into a new comment
- [ ] Edit the text you pasted with new items for your agenda
- [ ] Add the link to the new comment with its date under Resources/Instructions

### Resources/Instructions
The prework (if any)should be done before the meeting so that it can be discus

[2022-02-19 21:34] kcoronel commented on #461
## 2/19/22 Agenda  and notes

### Prework
- [ ] issue for audit [to be added once there is an issue]

### Roll Call
Karen
Stacey
Layne
Gayathri

#### Recurring items: Happens on the PM meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Karen](https://github.com/hackforla/admin/issues/assigned/kcoronel)
       - [ ] Stacey (https://github.com/hac

[2022-02-19 21:49] kcoronel commented on #451
@staceyrebekahscott @yoursgayathri @layneam @pguron - please review and add any additional comments

[2022-02-20 01:17] layneam commented on #442
States that require a witness signature on their absentee ballot materials:

1. Alabama requires 2 signatures: https://www.sos.alabama.gov/alabama-votes/voter/absentee-voting
2. Alaska requires 1 signature, though it was waived in 2020 because of COVID: https://www.elections.alaska.gov/Core/votingbymail.php
3. Virginia requires 1 signature: https://www.elections.virginia.gov/news-releases/witness-

[2022-02-20 04:37] kcoronel commented on #461
## 2/19/22 Agenda and Notes

### Prework
None this time.

### Roll Call
- [ ] Bonnie
- [ ]  Stacey
- [ ]  Layne
- [ ] Gayathri

#### Recurring items:
This is the first meeting as a team.

#### New Items
- [ ] Intros
- [ ] MVP document review
- [ ] Chat with Bonnie on our agreed upon next steps
    - [ ] Developing our north star for project
    - [ ] Developing our OKRs a
    - [ ] Developing bran

[2022-02-23 00:36] staceyrebekahscott opened #462 "BallotNav Board of Advisors"
### Overview
Create a board of advisors for BallotNav, comprised of people who can advise us on a range of items that we need to address:
Where BallotNav fits into the larger democratic and voting picture
What technical obstacles might we face and how can we conquer them
How to best market BallotNav to partners

### Action Items

- [ ] Phone call with Jyoti Nanda of Golden Gate Univ. To advise on

[2022-02-23 00:46] staceyrebekahscott commented on #447
Closed issue #430 as it was a duplicate of this issue.

[2022-02-23 00:48] staceyrebekahscott commented on #430
Closing this issue as a more current issue, #447 has been created. Comment above by Karen noted that issue was completed and moved to Done board, but it was not fully closed.

[2022-02-23 00:48] #430 closed

[2022-02-23 00:52] staceyrebekahscott commented on #447
Updated and assigned to myself, as I feel it relates to other issues assigned to me: #462 , #13.

[2022-02-23 00:53] staceyrebekahscott commented on #447
Note from PM meeting with Bonnie on 02/19/22: As the [MVP proposal stands](https://docs.google.com/document/d/1TTQUDNSttQs1HU5z4IM9SIXeGvtCL_kJyiXZ2O4lkKE/edit)-packaging software and giving it away for jurisdiction to manage- can be an issue because it creates bad competitors and overpopulates the market.

[2022-02-23 01:14] staceyrebekahscott commented on #451
Of the tasks that need to be assigned to a role:

These should go under the Admin PM role:
- Team Agenda creation
- Send minutes to team slack account
- Approval of New Issue Request from non-PM team members

These should go under PM role (should we call it General PM?)
- Remind team members to update issues
- Attend CoP meetings on behalf of BallotNav
- Managing Kanban board

Another item to disc

[2022-02-23 01:41] kcoronel commented on #451
I like your additions and describing it as General PM, I feel as if 3 months might be too long BUT then I realize our meeting schedule is like, so it does seem like an appropriate amount of time.

[2022-02-23 01:55] kcoronel commented on #441
2/22/22 Agenda and notes

Prework
None this week

Roll Call

- [ ] Karen
- [ ] Jon
- [ ] Layne
- [ ] Stacey
- [ ] Gayathri
- [ ] Drew
- [ ] Federica
- [ ] Irina
- [ ] Seyoung

Recurring items: Happens on the Tuesday meeting

### Accountability and Support Check
Review assignments
[Irina](https://github.com/hackforla/ballotnav/issues?q=assignee%3AIrinaRost+is%3Aopen)
[Jon](https://github.com/hackfo

[2022-02-23 02:50] seyounglee2001 commented on #445
Spreadsheet: [https://docs.google.com/spreadsheets/d/133P4N4h1KaP7iCpHcLaY9CsUXtHxz3FuwHpjQIHb7HQ/edit?usp=sharing](url)

Presentation deck: [https://docs.google.com/presentation/d/1msF56TGmXK8MkAc0_5Wk4dZRba6rsz3c0pSj7GxUEDI/edit?usp=sharing](url)

[2022-02-23 03:38] staceyrebekahscott commented on #13
OKRs for 2022: https://docs.google.com/document/d/1n14wrlsUbGUVoCzt2UT2B2c8-ekbWsT9LdCDFq72zjI/edit

During PM meeting with Bonnie on 02/19/22, she mentioned that teams that developed OKRs were generally unsuccessful and she seemed not too keen on continuing the practice (or that is how I interpreted her comments). My view, after reviewing OKRs from 100Automations, and the early iterations of Ball

[2022-02-23 03:44] staceyrebekahscott opened #463 "Review FoodOasis collaboration with Food Cycle LA"
### Overview
Review FoodOasis collaboration with Food Cycle LA and see if this could be a way that BallotNav can function.

### Action Items
- [ ] Confirm contact details for Gigi
- [ ] reach out to schedule meeting
- [ ] develop agenda and questions to ask
- [ ] Meeting with Gigi
- [ ] Prepare notes and add document to Google Docs
- [ ] Share with team and gather feedback

### Resources/Instructi

[2022-02-23 03:51] staceyrebekahscott commented on #13
@kcoronel
@yoursgayathri
@pguron
@layneam

Please see my comment above and add any feedback/ suggestions.

[2022-02-23 05:47] staceyrebekahscott commented on #462
Links for advisory board research:

[Golden Gate Univ Bio on Jyoti Nanda](https://www.ggu.edu/shared-content/faculty/bio/jyoti-nanda)

[LinkedIn profile of Jyoti Nanda
](https://www.linkedin.com/in/jyoti-nanda-ggulaw
)
[How to Build and Utilize a High-Impact Advisory Board
](https://www.toptal.com/finance/financial-consultants/advisory-board)
[The complete guide to forming and managing an advisory

[2022-02-23 05:49] staceyrebekahscott commented on #462
Sent email to Bonnie re: time for meeting.
Sent follow up meeting to Jyoti confirming her availability on Thursday for a call.
Awaiting responses.

[2022-02-23 06:08] staceyrebekahscott commented on #463
@kcoronel Is it Gigi Cobos that I should be reaching out to? Do you know her Slack name, or her email?

[2022-02-23 06:24] kcoronel commented on #463
@staceyrebekahscott I am actually not sure, but I would go with Gigi Cobbs since she is in the PM CoP slack.

[2022-02-26 10:41] kcoronel opened #464 "Remove Inactive Members from Google Drive"
### Overview
In order to keep our files secure, we will remove any old team members who should no longer have access to our Google Drive.

### Action Items
- [ ] review roster
- [ ] confirm only those active in the roster are shared in the Google Drive

### Resources/Instructions

[2022-02-26 10:47] kcoronel opened #465 "Update BallotNav Roster"
### Overview
As of 2/26, we have two documents called roster. We need to standardize on one google sheet and fix all the links to it to point to the one roster.

### Action Items
- [x] Consolidate roster to one google document
- [x] Delete the contents in the other roster while noting the URL of the correct one
- [x] Fix link to roster in Wiki, and ReadMe

### Resources/Instructions
[OLD Roster](h

[2022-02-26 11:09] kcoronel commented on #464
Complete.

[2022-02-26 11:17] kcoronel opened #467 "Add Engineering Post to CoP"
### Overview
Add engineering post opening to the Engineering Community of Practice.

### Action Items
- [x] Develop engineering opening description confirming that it has the standard formatting, see [instructions for posting opportunities](https://github.com/hackforla/product-management/projects/8#card-53859442)
     - [x] [Draft post ](https://docs.google.com/document/d/1-cN0PHXEnh75PH73GqKg6Osj

[2022-02-26 11:36] #467 closed

[2022-02-26 12:07] layneam opened #468 "Onboard & Offboard: Product"
### Overview
We need to have a checklist of items to do when a product manager onboard and offboards so that the process can be consistent and fast.

### Date Updated
Created date: 2022-02-26
Updated: 2022-03-11

### Action Items
- [ ] Check- to see if the org template for this process has new steps in it, and if it does, update this  issue and its template with content and add the last date you u

[2022-02-28 00:58] kcoronel opened #469 "Transferring files in Google Folder"
### Overview
When meeting with Bonnie, we noticed that Karen only had access to one roster, but Bonnie was seeing two. Karen needs to onboard Ballot Nav drive onto the new shared drive format that all HackforLA projects follow.

### Action Items
- [ ] Log onto ballotnav gmail drive
- [ ] find ballotnav in your personal shared drive
- [ ] navigate between both drives to copy all the folders
- [ ] y

[2022-02-28 01:03] kcoronel commented on #469
UI and UX team
Communications Guide folder

[2022-02-28 23:11] layneam commented on #461
Suggestions for "create a list of things that may be of value to stakeholders as we talk to them", to discuss @ PM meeting
- Mutually beneficial introductions
- Lessons learned, mistakes, professional experiences
- Business resources—an article/book, a conference, a new piece of software, or any other professional tool
- Offer your unique talents, strengths, or subject matter expertise
- Give a re

[2022-02-28 23:19] layneam commented on #442
Depending on the outcomes of the customer advisory board that @staceyrebekahscott is working on with Bonnie, and in response to feedback that we should partner with "anyone who cares about voting rights" we should include personas for...
- Democratic party orgs (e.g. voting project teams in those orgs)
- Voting rights orgs such as vote.org, aclu and/or black voters matter
- Local government IT dep

[2022-03-01 00:00] kcoronel commented on #442
@layneam thanks for this, will ask you to go into this at tomorrow's meeting :)

[2022-03-01 00:06] kcoronel commented on #461
## 2/28/22 Agenda  and notes

### Prework
- [ ] #456 [wiki page draft](https://docs.google.com/document/d/1bjVlgVfbzYSWi--ZJ1MdvqT3YIG8UP-H/edit?rtpof=true&sd=true)
- [ ] #13
- [ ] #451

### Roll Call
Stacey
Gayathri
Layne
Punit
Karen

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Gayathri]

[2022-03-01 00:20] layneam commented on #13
Sorry for a slow response here Stacey. My intuition, FWIW, is that it is very hard to write goals when we haven't talked to customers about their problems. Following a goal written against unvalidated assumptions may mean that we have to scrap or rework the product down the road. Maybe I missed a conversation or misunderstood, so I'm happy to be wrong here, but should we pause and consider a "read

[2022-03-01 01:02] kcoronel commented on #13
I'm in between both of your suggestions Stacey and Layne. I think it is worth being able to quantive what we aim to do even in one key objective. I agree with you Layne that the customer insight is important, and want us to be aware of when in the MVP process we introduce this, however I do think we need to still consider even the minimal objective for an open software package for governments.

[2022-03-01 02:30] yoursgayathri commented on #456
Created a [wiki page draft](https://docs.google.com/document/d/1bjVlgVfbzYSWi--ZJ1MdvqT3YIG8UP-H/edit).  @staceyrebekahscott  @kcoronel  @layneam  have reviewed and added comments. @yoursgayathri to make final updates to [Wiki Page](https://github.com/hackforla/ballotnav/wiki/Welcome-to-BallotNav!)

[2022-03-01 03:00] kcoronel commented on #468
@layneam @staceyrebekahscott @yoursgayathri @kcoronel - create a new comment with the above onboarding template.

[2022-03-02 01:58] kcoronel commented on #441
## 3/1/22 Agenda  and notes

### Prework

### Roll Call
- [ ] Karen
- [ ] Jon
- [ ] Layne
- [ ] Stacey
- [ ] Gayathri
- [ ] Drew
- [ ] Federica
- [ ] Irina
- [ ] Seyoung

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
[Irina](https://github.com/hackforla/ballotnav/issues?q=assignee%3AIrinaRost+is%3Aopen)
[Jon](https://github.com/hackforla/ballotnav/

[2022-03-02 02:00] staceyrebekahscott commented on #462
Meeting with Bonnie and Jyoti scheduled for Friday, March 4 at 11AM PST. Awaiting confirmation from Jyoti in calendar invite sent out by Bonnie on Sat, Feb 26.

[2022-03-02 02:23] kcoronel commented on #445
@IrinaRost @fedelandini @jonlam27

[2022-03-02 02:26] kcoronel commented on #435
Update: will look to have it done next week.

[2022-03-07 15:27] kcoronel commented on #461
## 3/7/21 Agenda  and notes

### Prework

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Gayathri](https://github.com/hackforla/ballotnav/issues?q=assignee%3Ayoursgayathri+is%3Aopen)
       - [ ] [Stacey](https://github.com/hackforla/ballotnav/issues?q=assignee%3Astaceyrebekahscot

[2022-03-07 16:15] #465 closed

[2022-03-07 16:16] kcoronel commented on #380
@shaswa checking in on the status of this. TY!

[2022-03-07 16:26] kcoronel commented on #468
- [x] Slack channel membership
  - [x] BallotNav
  - [ ] [insert name of 2nd channel]
- [x] Add to Google calendar invites
   - [x] [Monday's at 6pm PT - PM meeting]
   - [ ] [DAY - BA meeting]
   - [ ] [DAY - UX Research meeting]
   - [x] [Tuesday's at 6pm PT- All-team meeting]
   - [ ] [DAY - Design team meeting]
- [ ] Add to team page on Wiki - adding this to issue #456
- [x] Google Drive
   -

[2022-03-07 16:28] kcoronel commented on #468
So I thought this was only for PM's but I think this is what we use for anyone who comes on the project. I suggest we all create one and then as we add people, we also have them add themselves in here. @staceyrebekahscott @yoursgayathri @layneam - once you create this in here, please close the onboarding tickets you created.

[2022-03-07 18:10] yoursgayathri commented on #468
#### Onboard
- [x] Slack channel membership
  - [x] BallotNav
  - [ ] [insert name of 2nd channel]
- [ ] Add to Google calendar invites
   - [x] [Monday's at 6pm PT - PM meeting]
   - [ ] [DAY - BA meeting]
   - [ ] [DAY - UX Research meeting]
   - [ ] [Monday's at 6pm PT - PM meeting]
   - [ ] [DAY - Design team meeting]
- [ ] Add to team page on Wiki
- [ ] Google Drive
   - [ ] Add to drive as M

[2022-03-07 21:58] yoursgayathri commented on #469
- [ ] Confirm access to shared drive
- [ ] Review instructional video under Resources/Instructions
- [ ] Confirm that all owned documents are now in shared folder
- [ ] Tag Karen (kcoronel) in this comment

[2022-03-08 01:36] staceyrebekahscott commented on #13
Moving to prioritized backlog, as issue #462 is more of a priority at this time.

[2022-03-08 01:39] staceyrebekahscott commented on #463
Moving this to Prioritized backlog, as issue #462 is my priority at this time. I believe our time is better spent figuring out details on our direct competitors rather than the project we were modeled after.

[2022-03-09 04:43] staceyrebekahscott commented on #469
- [ ] Confirm access to shared drive
- [ ] Review instructional video under Resources/Instructions
- [ ] Confirm that all owned documents are now in shared folder
- [ ] Tag Karen (kcoronel) in this comment

@kcoronel When might you be available for us to go over this either Wednesday or Thursday? I have access to the shared drive but I cannot find any docs I created in the shared folder, and for s

[2022-03-09 04:56] staceyrebekahscott opened #470 "Recruiting UX Researcher: Board of Advisors"
### Overview
Description for UX researcher was posted to [UI-UX Open Roles](https://github.com/hackforla/UI-UX/projects/2)

### Action Items
Reach out on Slack, and ask them to connect via Ballot Nav channel:
- [x] Post on New Joiner Orientation channel
- [x] Post on UI-UX channel

Should anyone respond, make sure they have attended a recent on boarding session, and ask if 2FA is set up on their G

[2022-03-09 05:11] staceyrebekahscott commented on #470
Message posted on Slack channels on 03/08/22:

Hello All,

We are looking for a UX researcher to assist with the formation of a board of advisors. Please see the posting for the project BallotNav on the UI-UX GitHub Board under UX researchers: https://github.com/hackforla/UI-UX/projects/2

If you are interested, please respond via our Slack channel # BallotNav.

Thanks!!

[2022-03-09 07:33] staceyrebekahscott commented on #462
- [ ] Invite Jon and Federica to call with Bonnie on Friday, March 11 at 10:30AM
- [ ] Send email to Bonnie (cc Jon and Federica)

- Is call with Jyoti still happening? (no response from her on invite)
- Ask her to invite Jon and Federica to call with Jyoti, if call is confirmed

[2022-03-09 08:00] staceyrebekahscott commented on #462
Issues created:

[Recruiting UX Researcher: Board of Advisors #470
](https://github.com/hackforla/ballotnav/issues/470)

[2022-03-09 08:32] staceyrebekahscott opened #471 "Advisor Types Research: Board of Advisors"
### Overview
What types of people do we need to have on an advisory board?
Use Youth Justice Navigator Advisory Board as a starting point: https://www.youthjusticenavigator.org/advisory-board

### Action Items
Need to discover:

- [ ] Why are these people on the board?
- [ ] What is their motivation for agreeing to being on the board?
- [ ] How does being on the board benefit them?
- [ ] What is t

[2022-03-09 08:42] staceyrebekahscott opened #472 "Process Research: Board of Advisors"
### Overview
What does it take to develop a board of advisors?

### Action Items

- Conduct interviews with people who get people to serve on boards.

We should be able to act on their guidance quickly. Putting together a plan for acting on their guidance should be done before we start to recruit board candidates.

- How should we present what we would like from them as an advisor?
- What should w

[2022-03-09 08:49] staceyrebekahscott opened #473 "Interview with Karen Coronel: Board of Advisors"
### Overview
Leverage Karen’s experience and expertise from her work with LA-tech.org
https://la-tech.org/our-team

### Action Items

- [ ] Who is on their board?
- [ ] How do they select board members/ advisors?
- [ ] What is her role and how does she contribute to the organization?
- [ ] What is her commitment (how many hours /week)?

Ask if she can facilitate a meeting with the executive direct

[2022-03-09 08:55] staceyrebekahscott opened #474 "Develop a Research Plan: Board of Advisors"
### Overview
Research Plan template: See Issue: github.com/hackforla/UI-UX/issues/120

Create guide on how to set up a board of advisors- Examples will be: Youth Justice Navigator and BallotNav
Process will be complete when we accomplish building the board of advisors

### Action Items

- [ ] Develop list of potential board members
- [ ] Understand motivations for why someone would want to serve o